[2019-07-12 13:43] octogonz commented on #1366
Fair enough. Let's just make it a config option then. For API Documenter it would need to be a command-line parameter initially, as its config file is still in an experimental state.

[2019-07-12 16:23] tbrannam commented on #1343
I think these are closest

yarn info react versions
yarn info react dist-tags.latest

[2019-07-12 16:30] tbrannam opened #1379 "Midgard and Rush"
I'm curious as to why Midgard is looking for another solution to their mono-repo and how does that reflect on Rush?

see: https://medium.com/@vincentbailly/evolving-a-large-typescript-repository-4a32c61e94fd

[2019-07-12 17:32] bterlson commented on #1373
My thoughts on above:

* This is about support. Node developers have a strong inclination to use latest stable Node, especially during development. As the Azure SDK must support latest stable Node versions, it would be nice if Rush would support this as well.
* Current is incrementally more likely to contain a bug, but in my experience, not appreciably so. But based on above, it shouldn't matter m

[2019-07-12 17:47] mikeharder commented on #1373
I will submit a PR for this today.

[2019-07-12 17:57] #1177 closed

[2019-07-12 18:00] octogonz commented on #1373
That seems reasonable.

If it's not a simple formula, then there should really be an NPM package that maintains a table of NodeJS version numbers, with an API that allows you to query whether a given version number is:

- Unstable
- Current
- LTS-Active
- LTS-Maintenance

Does that exist?  If not, it should be pretty easy to create.  We could just stick it in **node-core-library**, but I'd imagine

[2019-07-12 18:05] mikeharder commented on #1373
Node does expose an API to detect whether a release is LTS:

https://nodejs.org/api/process.html#process_process_release

[2019-07-13 01:05] octogonz commented on #1379
Microsoft doesn't centrally dictate how a team should do their work. Each product group has quite a lot of autonomy in the approaches and tools that they choose.  The Midgard developers aren't even in the same time zone as the Office group where Rush originated, so it's perhaps not directly on their radar, but I know they evaluated Rush and asked questions about it in the past.

It's healthy for d

[2019-07-13 01:23] octogonz commented on #1379
We should use this issue to discuss the actual topic of the blog post, since it's very relevant to the proposed watch improvement for Rush / Rush Stack.  It's summarized in this excerpt:

The Rush community proposed a somewhat different approach in https://github.com/microsoft/web-build-tools/issues/1151.  Rather than launching a separate `--watch` process for each project, our idea was to have a

[2019-07-13 03:12] tbrannam commented on #1379
Thanks for the considered response, I look forward to hearing more about the approaches and also look forward to reading up on rush stack

[2019-07-13 18:33] slavafomin opened #1382 "Cannot find installed dependency"
Hello!

First of all, thank you for this great tool and your hard work.

However, I've started to get the following error out of the blue recently:

[code]

I don't have the mentioned `/home/sfomin/acme/common/temp/node_modules/.local/%2Fhome%2Fsfomin%2Facme%2Fcommon%2Ftemp%2Fprojects%2Facme.tgz/node_modules` path,
but I do have the following one: `/home/sfomin/acme/common/temp/node_modules/.local

[2019-07-13 18:38] slavafomin commented on #1382
I believe this is duplicate of https://github.com/microsoft/web-build-tools/issues/1347

Updating to the latest Rush `5.10.1` and pnpm `3.5.7` fixed the issue for me.

[2019-07-13 18:38] #1382 closed

[2019-07-14 18:43] bruk1977 opened #1383 "[rush] 'rush change' bulk update"
It would be nice 'rush change' supported bulk update.

For example, when we update the version of an underlying package that is used by 100 other packages, using the interactive window of 'rush change' to update all the packages that depend on the underlying package is very time consuming.

Proposal:

rush change --bulk --message 'Update utility package to add feature x' --version patch

[2019-07-14 19:11] octogonz commented on #1383
Good idea! I would use this.

[2019-07-15 02:43] octogonz commented on #1373
Hrmm...  I was confused before.  I had assumed that "Current" was applied after a certain amount of stabilization releases, just like "LTS"

From PR #1381 I now understand that "Current" simply means even-numbered major version.  In other words, `12.0.0` is considered "Current".

The full story is here: https://github.com/nodejs/Release#release-plan

They say:

This seems to imply that `12.0.0` is

[2019-07-15 05:47] octogonz commented on #1373
Here's what we came up with:

1. We will remove the "not accept issue reports" language from the warnings.

   **For the "not LTS" message,** change this (old) text:
[code]
   ...to say this instead:
[code]

   **For the "too new" message,** change this (old) text:
[code]
   ...to say this instead:
[code]

   **For the "known broken" message,** it will stay the same as before:
[code]
   (No change

[2019-07-15 20:17] octogonz commented on #547
@zkochan discussed this topic recently  [on Gitter](https://gitter.im/pnpm/pnpm?at=5d2cdb3f4d750532414fd5ba):

[2019-07-15 21:46] bsiegel opened #1385 "[rush] rush install should provide an option to skip local linking of dependency projects"
Consider the situation where there are two projects in the Rush workspace, and project A depends on project D (for ‘dependency’). Project A and Project D are both at version 1.0.0. Project A depends on `”D”: “^1.0.0”`.

Project D has had some commits made in preparation for an eventual release of version 1.0.1. However it’s not ready to go out the door yet.

Project A has also had some commits, an

[2019-07-15 21:47] bsiegel commented on #547
Related: #1385

[2019-07-16 00:34] iclanton commented on #1385
You can do this by adding a `"cyclicDependencyProjects": [ "D" ]` property to `A`'s configuration entry in `rush.json`.

That will instruct Rush to install `D` from the package feed for `A` instead of locally linking `D`.

[2019-07-16 00:51] octogonz commented on #1385
We should really implement #547 to avoid this confusion

[2019-07-16 04:29] iclanton commented on #1373
Here's a PR that makes those changes to Rush: https://github.com/microsoft/web-build-tools/pull/1388

[2019-07-16 05:56] iclanton commented on #1383
I took a stab at this: https://github.com/microsoft/web-build-tools/pull/1389

[2019-07-16 08:17] iclanton opened #1390 "[rush] Should "rush change" automatically commit changefiles?"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

N/A

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to investigate.**

N/A

**What is the expected behavior?**

Every time I run `rush change`, I follow it up with

[2019-07-16 17:17] calebmshafer commented on #1347
I can confirm it fixes the issue with installing.  Thanks!

Hitting a slightly different issue now but I will open a new bug for it.

[2019-07-16 18:04] calebmshafer opened #1392 "[rush] `Rush install` fails with Rush 5.10.1 and pnpm 3.5.3"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

Updating to Rush 5.10.1 and pnpm 3.5.3 from pnpm 2.25.7, I can now successfully `rush update` (thanks to #1347).  However, when I try to run a `rush install` it fails saying `The shrinkwrap is missing the following dependencies:`.  A subsequent `rush update` will work though.

The workflow I followed is:
1. Update rush.json
1. Delete existi

[2019-07-16 18:24] bsiegel commented on #1385
@iclanton Yep, I’m aware, but that requires editing the rush.json any time we want to skip linking local projects. Another alternative would be to remove project `D` entirely from rush.json, or to change project `D`’s version temporarily to one that doesn’t match the range that `A` specifies. However all of these would require editing a JSON file. For this issue, the ask is to be able to select at

[2019-07-16 18:30] iclanton commented on #1385
Running in that mode would require regenerating the shrinkwrap file, which changes the state of the repo as well. It's also not guaranteed to work because there is no way to know if dependencies have been published to a package feed.

There isn't a way to do achieve a non-locally-linked scenario without editing some configuration file - you'll either need to mark dependencies as cyclic for the con

[2019-07-16 18:37] sachinjoseph commented on #1392
I can repro this. Looking into this.

[2019-07-16 22:55] octogonz commented on #1373
In https://github.com/microsoft/web-build-tools/pull/1388#discussion_r303739156 @mikeharder said:

Per our discussion above, the odd-numbered releases are not on any path to Long Term Support.  Presumably they do stabilize over time, as compared to the `v10.0.0-nightly20171114803cacd228` versions which are maximally unstable.  However, the [release plan's](https://github.com/nodejs/Release#release

[2019-07-16 23:48] bterlson commented on #1373
This plan seems fine to me!

One minor suggestion:

Could be read in two ways: that the major version is not even, or that the major version is unusual 🤣. Also maybe people not familiar with Node's versioning tick-tock won't understand the import of an odd version number. Suggestion:

"odd-numbered" is seemingly the [official nomenclature](https://github.com/nodejs/Release). I'm not sure they also

[2019-07-16 23:54] octogonz commented on #1373
BTW I didn't mean to sound dismissive about allowing odd-numbered builds.  I interpreted this issue as calling attention to a usage scenario that we haven't considered in the past.  Thus my wall of text is about understanding exactly how you guys use Rush, to make sure we can document it and support it properly.

I'm usually reachable on [Gitter chat](https://gitter.im/octogonz) if you want to tal

[2019-07-17 06:08] sachinjoseph commented on #1392
#1393

[2019-07-17 15:13] dzearing commented on #1346
I think a rush mono repo to have all rush projects would make sense. That way it's not in the same repo as GCB or load themed styles, which have no dependency at all and could be in their own repos.

[2019-07-17 20:03] bgotink commented on #1350
I'm running into this issue as well.

If I remove the `Date` export of the package's entrypoint, I notice the class already gets renamed to `Date_2`. If that could just get renamed in an export statement to `Date` that'd be perfect.

Our usecase, in case you're wondering: we've got a bunch of immutable wrappers around types of values, e.g. `Date`, `EmailAddress`, `Iban`. These can only have valid

[2019-07-17 23:07] #1392 closed

[2019-07-18 00:10] iclanton commented on #1352
This has been fixed in Rush 5.10.3.

[2019-07-18 00:10] #1352 closed

[2019-07-18 01:40] calebmshafer commented on #1392
I can confirm Rush 5.10.3 is now working with pnpm 3.5.3 for our repo.  Thanks!!

[2019-07-18 01:42] mikeharder opened #1399 "[rush] Add option to run bulk command in only specified project"
- [x] Feature

Currently, Rush has two options for running bulk commands:

[code]

These cover most of our needs, but sometimes we want to run a command in **only** a single project, and neither its dependencies nor projects which depend on it.  It would be great if Rush could add an option for this, like:

[code]

It might be better to use a different name for the parameter to avoid confusion wit

[2019-07-18 15:20] poelstra commented on #1078
Tried that method on my tree, and it's indeed as simple as that :)

(Note: I have slightly different code, so didn't test the exact code that you wrote, but we're using the same principle.)

[2019-07-18 15:33] andykais commented on #1176
@octogonz @justintime4tea what about tree shaking? Especially with frontend libraries, sometimes it is imperative to have path based imports.
E.g. [react material-ui](https://github.com/mui-org/material-ui) or even [lodash](https://lodash.com/)

[2019-07-18 17:06] apostolisms commented on #1399
@mikeharder Do you envision this to be an option primarily for rush build or all commands? Can you give an example use case ?
Thanks

[2019-07-18 17:15] mikeharder commented on #1399
All commands.  For example:

* You have 3 projects in a dependency chain `A -> B -> C`
* You have 3 command `build`, `test`  and `lint`
* You want to validate a pull request which changes `B`

You would run these commands:

* `rush build --to B --from B`
  * Before you can build `B`, you need to build all its dependencies
  * You also want to build everything which depends on `B`, to ensure there

[2019-07-18 20:33] octogonz commented on #1176
@andykais https://github.com/microsoft/web-build-tools/issues/664 tracks support for path-based imports.  We do want to support it.  It's a nontrivial feature, though.  How do you represent them in the docs?  For the .d.ts rollup, what do you do with an unexported type that is used by two different entry points?  These problems are certainly solvable.  But the API Extractor maintainers have never

[2019-07-18 20:34] octogonz commented on #1078
We really should build this into Rush.

[2019-07-18 22:22] octogonz commented on #1350
Ha, I think you're right!  I was being dumb about this.  It turns out we already halfway implemented this for the [ambientNameConflict](https://github.com/microsoft/web-build-tools/tree/master/build-tests/api-extractor-scenarios/src/ambientNameConflict) test scenario.

[2019-07-18 22:28] octogonz commented on #1350
Here's a PR: https://github.com/microsoft/web-build-tools/pull/1400

[2019-07-18 22:32] octogonz commented on #1350
I confirmed that this fixes @acalvo's repro also.

[2019-07-18 23:09] octogonz commented on #1399
Suppose there was also a project `D`, and someone did this:

`rush build --to B --only D`

I think I would expect it to build `A`+`B`+`D`.  I wouldn't expect it to build "only" `D`.

Here are some other possible names to compare with:
`rush build --to B --include D`
`rush build --to B --select D`
`rush build --to B --with D`
`rush build --to B --project D`

BTW https://github.com/microsoft/web-bui

[2019-07-18 23:11] octogonz commented on #1373
I chatted about this offline with @mikeharder and he agreed that odd-numbered versions should still receive the warning.  He also pointed out a couple logic issues in the current PR that made the intent less obvious.  We'll add PR comments about that.

[2019-07-18 23:15] mikeharder commented on #1399
@octogonz: I agree the name `--only` is confusing if this option is composed with `--to` or `--from`.  My favorite of the alternative names you proposed is `--project`, since it seems the clearest when using by itself:

`rush build --include D`
`rush build --select D`
`rush build --with D`
`rush build --project D`

[2019-07-19 00:10] octogonz commented on #1399
Currently the short name  `-p` is used by `--parallelism`.

If we call it `--project`, I would definitely to use `-p` for that instead.

[2019-07-19 00:33] mikeharder commented on #1399
My favorite is still `--project`.  If you want to avoid conflict with `-p`, you could use `-j, --project`.

[2019-07-19 00:41] octogonz commented on #1399
I agree `--project` is the best name.  (That's why I removed the `needs design` tag heheh.)

[2019-07-19 00:59] octogonz commented on #1390
This seems useful overall.  We should think about the design, though.

What if there are other local changes at the time when `rush change` is run?

Sometimes when I want to mark a bunch of projects as `none`, I will hold down the ENTER key to skip all the questions. Not sure if I'd want that to automatically commit.

[2019-07-19 02:51] octogonz commented on #1329
@Toxaris today `rebuild` / `build` have a special relationship due to Rush's support for incremental builds.  They are treated specially compared to custom commands.

We want to generalize the incremental build concept to support custom commands as well.  This is a deep topic.  You'll find a number of Rush issues that propose parts of a design.  This year we're hoping to integrate all those pieces

[2019-07-19 07:30] WanderWang opened #1402 "[rush] build project with warning should be skipped while rush build again without any change"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x ] Feature
- [ ] Bug

**Please describe the actual behavior.**

1. create a project and add it to rush.json
2. setup a warning when execute 'scripts.build'
3. execute ```rush build```,
4. execute ```rush build``` again ,should be skip ,but it build again

**If the issue

[2019-07-19 07:41] octogonz commented on #1402
The logic is here: [ProjectTask.ts#L94](https://github.com/microsoft/web-build-tools/blob/9cf4692209f0dc090dbb80364817e5c898fcf9f8/apps/rush-lib/src/logic/taskRunner/ProjectTask.ts#L94)

From what I understand, the **package-deps.json** file will not be written if either (1) the process exit code is nonzero, or (2) if there is a "warning or error" (i.e. any output written to STDERR).  Because the

[2019-07-19 17:53] rakeshpatnaik commented on #1288
@christiango - Can you please look into it?

[2019-07-19 18:17] andykais commented on #1176
ah, it appears things have changed. Since webpack 2 apparently, path based imports are not necessary for tree shaking. Thanks for the tip!

I will probably just assume developers are using a decently new bundler to get tree shaking without path based imports. I am unblocked!

[2019-07-19 18:52] christiango commented on #1288
Someone on our team is currently working on trying to get us on the latest rush + pnpm. We'll confirm sometime next week if the issue is gone, since it doesn't appear until new versions of packages are published to the feed after we've updated the shrinkwrap.

[2019-07-19 18:58] octogonz commented on #1288
Thanks! It bugs me that this thread was open for so long. Reliability is super important for Rush. It sounds like we've sorted it out, but if there are any remaining known issues, we should prioritize getting them fixed, or issue a warning if the latest PNPM has a known incompatibility.

[2019-07-19 19:04] aphix commented on #1329
Just hit this as well. One thing to note is that when implementing the `rebuild` command (as proposed by @octogonz [here](https://github.com/microsoft/web-build-tools/issues/1329#issuecomment-502940264) )it'll likely mean that all packages' `package.json` files will need a `rebuild` task, e.g.

[code]

[2019-07-19 20:20] octogonz commented on #1329
This issue is closed, so the discussion here won't be tracked by anybody.  If there isn't already another GitHub issue tracking this topic, please open one.  Thanks!

[2019-07-19 22:16] octogonz opened #1404 "[api-extractor] Symbols with multiple exports are not modeled in .api.json"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

In the test case [api-extractor-scenarios/etc/test-outputs/exportDuplicate](https://github.com/microsoft/web-build-tools/blob/master/build-tests/api-extractor-scenarios/etc/test-outputs/exportDuplicate/rollup.d.ts), we have code like this:

[code]

**Expected:**  The .api.json file should have entri

[2019-07-19 22:35] octogonz commented on #1404
From a documentation standpoint, we'd much prefer for this:
[code]
...to be recast like this:
[code]
The .d.ts rollup considers these two snippets to be equivalent, because `A` is a local and that has no bearing on the runtime signature of the package.

But `A` is really awkward to handle in the documentation.  API Extractor doesn't want to document unexported types, because philosophically if a t

[2019-07-21 03:09] octogonz commented on #1375
When `build` or `rebuild` is specified `command-line.json`, any omitted settings should default to the build-in settings as defined by [_addDefaultBuildActions()](https://github.com/microsoft/web-build-tools/blob/d5c1756c805f2f9a231fc648c9d50ae142c7abe9/apps/rush-lib/src/cli/RushCommandLineParser.ts#L176).  Since we're just merging settings from two objects, this should be pretty easy to implement

[2019-07-21 16:57] davazp opened #1407 "[rush] rush update will not remove rush dependencies from node_modules when using yarn"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
When I remove one of dependencies from a `package.json` and run `rush update`, the symbolic link under `node_modules` remains when using `yarn`, but it is removed when using `pnpm` or `npm`.

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch i

[2019-07-22 12:01] davazp opened #1409 "[rush] Should we be able to use the system installed tool?"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

We are running building our repository inside Docker so we have control about what tool version (yarn in our case) we are using. I would prefer if I could specify something like

[code]

in `rush.json` to si

[2019-07-22 17:58] matteralus commented on #1273
I saw some fixes went in for #1142..I retested this with rush 5.10.3 and pnpm 3.6.0 and the the version of @lodash/types is being pinned as I would expect by the pnpm-lock.yaml

[2019-07-22 17:58] #1273 closed

[2019-07-22 20:00] sadasant opened #1411 "[rush] [add] Feature request: Allow "rush add" to add a dependency for all packages"
`rush add` is only limited to the current package the user is located at. It would be wonderful if there was an option to add a dependency to all packages.

* **Tool:** Rush Multi-Project Build Tool
* **Tool Version:** 5.10.1
* **Node Version:** v10.16.0

[2019-07-22 20:04] bsiegel commented on #1411
For context, `--make-consistent` can be used to *update* all projects which use a given dependency, however there is no way to add a new dependency across all projects in the Rush workspace.

For what it’s worth, there’s also no `rush rm` to remove a dependency from one (or all) projects in the workspace. That would be a nice complement to this feature, but should be its own issue if it’s not alre

[2019-07-22 20:27] sadasant commented on #1411
I would like to implement this feature! I will try to come up with a PR myself as soon as possible. But, of course, that's prior to any feedback on the request itself. If you don't agree with this request, please comment about it! Also: If you'd like a specific API, please say so. I'll be happy to oblige.

[2019-07-23 00:17] #1373 closed

[2019-07-23 00:26] #516 closed

[2019-07-24 22:28] Js-Brecht opened #1414 "[rush] PNPM doesn't use global store"
**Is this a feature or a bug?**

- [ ] Feature
- [ ] Bug
**- [x] Other:** Issue with behavior

**Please describe the behavior.**

PNPM does not use the global store location.  Instead, it creates a new store in `common\temp\pnpm-store`.  This essentially defeats one of the best features of PNPM; having a global store saves a lot of time, because packages do not have to be downloaded for every proj

[2019-07-24 23:24] mikeharder opened #1415 "[rush] Install fails if multiple versions of peer dependency with strictPeerDependencies"
- [X] Bug

Rush fails to update or install dependencies when multiple packages attempt to use different versions of a peer dependency.

To repro, clone https://github.com/mikeharder/rush-peer-dependencies and run `rush update`, which fails with:

[code]

Note that `pnpmOptions.strictPeerDependencies` is set to `true`.  If this option is changed to `false`, a warning is printed during `rush update

[2019-07-24 23:57] christiango commented on #1288
We havent seen this issue in 2 days after upgrading to the latest.

[2019-07-24 23:57] #1288 closed

[2019-07-25 01:07] octogonz commented on #1415
The `rush install` operation creates **common/temp/package.json** and runs `pnpm install` in that folder.  So to understand this problem, we need to look at that file:

**common/temp/package.json**
[code]

As you say, `@azure/amqp-common@1.0.0-preview.6` has a peer dependency on `rhea-promise@^0.1.15`.  But above file is not satisfying this peer dependency.  Thus the error.

Now, `@azure/amqp-comm

[2019-07-25 11:16] arielshaqed opened #1416 "[rush] Enable "rush update" to link to a subfolder with a generated package.json"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [X] Feature
- [ ] Bug

**Please describe the actual behavior.**

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to investigate.**

I wou

[2019-07-26 00:20] ScottHysom opened #1418 "[rush] "rush update" error when adding new project to rush.json"
**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**
With rush version 5.10.3 and pnpm version 3.6.0, users can no longer add a new project to their `rush.json` and run `rush update`. Instead, `rush update` results in this error:

`ERROR: Cannot get dependency key for temp project: @rush-temp/new-project`

A simple repro can be found at https://github.

[2019-07-26 00:47] iclanton commented on #1358
Seems like this is resolved. Closing this issue.

[2019-07-26 00:47] #1358 closed

[2019-07-26 06:14] iclanton commented on #1418
@sachinjoseph, this looks like a regression from one of your recent PNPM bugfixes. Can you take a look at this?

[2019-07-26 06:37] sachinjoseph commented on #1418
Looking into it

[2019-07-26 07:28] iclanton opened #1420 "[rush] "rush add"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [ ] Bug

**Please describe the actual behavior.**

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to investigate.**

**Wha

[2019-07-26 07:53] sachinjoseph commented on #1418
https://github.com/microsoft/web-build-tools/pull/1422

[2019-07-26 08:49] sachinjoseph commented on #1418
@ScottHysom Can you verify with Rush 5.11.0?

[2019-07-26 17:19] ScottHysom commented on #1418
I have confirmed this issue has been resolved with 5.11.0. Thanks!

[2019-07-26 17:19] #1418 closed

[2019-07-26 18:00] nayanshah opened #1423 "[rush] Critical path computation is broken"
**Is this a feature or a bug?**

- [ ] Feature
- [*] Bug

**Please describe the actual behavior.**

Projects not on the critical path could be built before ones that are on it. TaskRunner attempts to compute critical paths based on project dependencies but this is incorrect.

[TaskRunner.ts](https://github.com/microsoft/web-build-tools/blame/master/apps/rush-lib/src/logic/taskRunner/TaskRunner.ts#

[2019-07-26 19:15] iclanton commented on #1423
Thanks for catching this! The fix is merged in.

[2019-07-26 19:15] #1423 closed

[2019-07-29 17:24] rakeshpatnaik commented on #1411
Thanks for the suggestion. This seems to be a useful feature. This can be a new flag parameter --all to the command line. Looking forward to see the PR on this.

[2019-07-29 17:43] iclanton commented on #1409
Can you just preinstall the version of Yarn you're using in your Docker container? Rush looks for cached package managers in `$HOME/.rush/node-v<nodeversion>/<toolname>-<version>/`. So Yarn 1.17.3 installed for Node 10.15.1 would be installed in `$HOME/.rush/node-v10.15.1/yarn-1.17.3/`.

If you preinstall Yarn in that folder in your docker container, you should be able to avoid installing Yarn aga

[2019-07-29 17:48] iclanton commented on #1414
Rush puts its store inside the repo folder to make sure everything an install/build job creates on disk can be cleaned up by simply deleting the repo folder. This is important for ensuring that CI machines that don't get wiped between builds don't run out of disk space.

I totally understand your scenario, though. It seems like making this behavior different for the local dev scenario makes sense.

[2019-07-29 18:25] nik0kin opened #1430 "Publish doesn't push tags if using --registry"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [ ] Bug
- [X] Bug/Confusion

**Please describe the actual behavior.**

Running `rush publish -a -p -b master -r https://private-npm-registry/repository/npm-hosted/` does not push tags, it DRYRUNs for tags only (`* DRYRUN: git tag -a @package_v1.0.12 -m @pack

[2019-07-29 19:36] davazp commented on #1409
I was actually just letting `rush` do it. However, I was building my image with the slim version of the node image and some dependencies to install `yarn` were missing (like `make`).

The workaround is to build it with the default docker image, (running `rush update`) the first time to ensure it's properly cached, and use a multi-stage build to copy the built packages to the `slim` docker image.

[2019-07-29 23:29] Js-Brecht commented on #1414
Ah, I understand the reasoning now.

@iclanton To me, it would make sense to have a `pnpmStore` next to `pnpmVersion` in `rush.json`.  Maybe a couple of options:
1. rush
    * _Create store the rush way, in the repo_
2. pnpm
    * _Let pnpm use its own store, however it is configured._
3. /absolute/path/to/store  --or-- ./relative/path/to/store
    * _Let the user configure their own store locatio

[2019-07-29 23:41] wolfd opened #1431 "[rush] install-run.js doesn't respect RUSH_TEMP_FOLDER"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**
This is sort-of a feature, but for me it acts more like a bug.

running `install-run-rush.js` with `RUSH_TEMP_FOLDER` set installs rush into `common/temp` and then runs rush, which then respects `RUSH_TEMP_FO

[2019-07-30 01:37] Vitalius1 commented on #1252
@octogonz I’ve noticed there were a couple attempts in getting the #1308 issue fixed but it seems that waiting to agree on all problematic naming with typescript constructs is holding off the resolution of other ones that seem to be agreed on. We are currently blocked on overloaded functions and static vs instance naming for making our documentation project be on an automated pipeline. Maybe take

[2019-07-30 04:40] octogonz commented on #1252
@Vitalius1 I'm not sure there's a shortcut.  Here's where we stand:

- [PR 1406](https://github.com/microsoft/web-build-tools/pull/1406) introduces a `canonicalReference` field in .api.json that correctly distinguishes static/instance members (as well as all the other cases such as function overloads).  This is the difficult, important piece of technology that is the basis for solving all the [ae-

[2019-07-30 04:55] Vitalius1 commented on #1252
@octogonz thanks for the detailed update. Will be patiently waiting for things to happen in the order you described. 👍

[2019-07-30 04:56] Vitalius1 commented on #1252
cc: @aditima

[2019-07-30 07:05] octogonz commented on #1431
This is arguably a bug.  `install-run-rush.js` should honor `RUSH_TEMP_FOLDER`.

[2019-07-30 11:53] slavafomin opened #1432 "[rush] inconsistently changes the module resolution behavior of the executable dependencies"
**Is this a feature or a bug?**

- [ ] Feature
- ☑ Bug

**Please describe the actual behavior.**

When Rush installs dependencies with executable scripts, i.e. "binaries". It replaces the actual script with a Bash script that sets the `NODE_PATH` environment variable behind the scenes, which affects the node resolution algorithm.

This leads to a magical/weird behavior when script executed through

[2019-07-30 14:34] agar23 opened #1433 "[rush] Does `rush check` account for peerDependencies?"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

    Running a `rush check` does not throw a mismatch error for peerDependencies.

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Yo

[2019-07-30 17:38] iclanton commented on #1432
Which version of PNPM are you using?

[2019-07-30 19:33] slavafomin commented on #1432
The pnpm version is `3.6.0`.

[2019-07-31 20:50] abirmingham commented on #547
I ran into this recently while migrating a repository to use `rush`. In my case I have `apps/a` which depends on `libraries/b@1.0.0`. `libraries/b` is unpublished and is meant to be consumed exclusively by other packages in the repository. I would like to prevent `rush` from ever attempting to fetch `libraries/b` from a registry. My understanding is that `rush` will not do so if `apps/a` specifies

[2019-07-31 21:37] nayanshah commented on #1431
@octogonz install-run-rush also ignores `RUSH_PREVIEW_VERSION`. Logging a separate issue for that.

[2019-07-31 21:40] nayanshah opened #1438 "install-run-rush doesn't respect RUSH_PREVIEW_VERSION"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to investigate.**

Simil

[2019-08-02 09:51] DylanVann opened #1441 "[api-extractor] Markdown lists are not preserved in generated JSON."
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

I have a markdown list in a comment block, e.g.

[code]

I can see in the generated file `temp/projectname.api.json` that the newlines are stripped. Which looks like this:

[code]

This can be reproduced in any simple project using `api-extractor`.

Even if I manually edit `temp/projectname.api.json` to include the list with line breaks `ap

[2019-08-02 17:01] octogonz commented on #1441
The TSDoc parser does not support Markdown lists yet.  We need to fix that first, then we can update API Extractor to support it.

[2019-08-02 21:48] gregjacobs opened #1443 "[rush] Command names should allow numbers (such as 'test-e2e')"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**

It seems we can't have a number in a Rush command name. I'm trying to use the names 'build-e2e' and 'test-e2e', but this doesn't pass the regular expression validation.

I'm not sure that there would be a re

[2019-08-02 22:27] octogonz commented on #1443
Duhh... I am not sure why we left out the numbers.  😆

This one needs to be fixed, too:

https://github.com/microsoft/web-build-tools/blob/037c4ba527c13c8b6df4c9ddb2510dd0d137b469/libraries/ts-command-line/src/CommandLineAction.ts#L46

[2019-08-03 00:51] octogonz commented on #1279
@zkochan As far as I can tell, NPM does /not/ support this feature.  I get this error:

`npm ERR! Invalid dependency type requested: alias`

[2019-08-03 07:58] zkochan commented on #1279
Aliases work from npm v6.9, I believe

On Sat, 3 Aug 2019, 03:51 Pete Gonzalez, <notifications@github.com> wrote:

[2019-08-05 14:11] joeljeske commented on #1165
I would like to add additional information to my changelogs. This information includes:

* Git references / links PRs that merged the changes in the features
* Frontmatter to add meta data to allow the MD files to be picked up by other documentation generation systems
* Team/Team members responsible for the changes

Is there any hook that I could currently use to add this information to my changel

[2019-08-05 19:40] abirmingham commented on #886
In the meantime, is it best practice to use PNPM? Thanks!

[2019-08-05 21:25] octogonz commented on #886
We don't really recommend one of the package managers as being "best". The decision depends on your needs.  But I believe the Rush docs call out some non-subjective considerations:

- NPM has known compatibility issues with Rush, as detailed in this thread.  We want to get that fixed, but there doesn't seem to be a lot of community interest in it, not even for fixing the bugs that were  identified

[2019-08-05 22:03] mikeharder opened #1447 "[rush] rush build --from does not build transitive dependencies"
## Overview
Consider a dependency graph where `B` depends on `A`, and `D` depends on both `B` and `C`:

[code]

Say I am making changes to `B`, and want to verify that `B` and all its downstream dependencies can build correctly.  I use the following command:

[code]

## Expected
Rush should build all projects downstream of `B`, including their transitive dependencies (which are required for them t

[2019-08-05 22:09] slikts commented on #728
A specific use case that this feature (publishing from and linking to a build artifact directory) would support is *deep imports* without the build directory (like `dist`/`lib`/`build`) in the path; namely, importing from `package/directory/module` instead of `package/dist/directory/module` or just a bare import like `package`.

Deep imports remove the need for workarounds like tree shaking and al

[2019-08-06 03:31] octogonz commented on #547
@wanderwang also encountered this today.  This is pretty easy to implement.  Hopefully someone can fix it soon!

[2019-08-06 03:32] WanderWang commented on #547
👍

[2019-08-06 19:10] DylanVann commented on #1441
Related TSDoc parser issue: https://github.com/microsoft/tsdoc/issues/178

[2019-08-08 01:56] octogonz commented on #1252
Status update:
- Today we merged and published https://github.com/microsoft/web-build-tools/pull/1406 and https://github.com/microsoft/web-build-tools/pull/1406
- Next I will do a relatively small PR that updates **api-documenter** to use the new `canonicalReference` field as the DocFX UID, and in .yaml filename; that should solve this issue (and maybe some others)
- Then I will merge all this rec

[2019-08-08 01:56] octogonz commented on #867
Status update:
- Today we merged and published https://github.com/microsoft/web-build-tools/pull/1406 and https://github.com/microsoft/web-build-tools/pull/1406
- Next I will do a relatively small PR that updates **api-documenter** to use the new `canonicalReference` field as the DocFX UID, and in .yaml filename; that should solve this issue (and maybe some others)
- Then I will merge all this rec

[2019-08-08 03:19] NullMDR commented on #215
It's happening again

[code]

[2019-08-08 05:56] octogonz commented on #1252
PR https://github.com/microsoft/web-build-tools/pull/1450 fixes this (hopefully).

[2019-08-08 05:56] octogonz commented on #1052
PR https://github.com/microsoft/web-build-tools/pull/1450 fixes this (hopefully).

[2019-08-08 18:40] wbern opened #1452 "[rush] package-lock=false in $HOME/.npmrc causes breakage"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**
I had package-lock=false in my .npmrc file in my user home directory. I had it in a bunch of other places too, but that did not affect anything (like the rush config directory and the root of the project).

H

[2019-08-08 20:43] octogonz commented on #1452
A major goal of Rush is to ensure a /deterministic/ outcomes.  This is not the first time someone wasted time debugging an install failure, and then it turned out to be caused by stray settings in their personal `~/.npmrc` file.  Let's improve Rush to protect against this.

**Design questions:**
1. Should `rush install` report a warning or an error if unsafe settings are found in `~/.npmrc`?
2. Sh

[2019-08-08 20:51] octogonz commented on #1452
Detecting NPM auth credentials is a bit tricky due to the haphazard file format.  My current file looks like this:

[code]

Maybe we parse it into a left-hand side (LHS) and right-hand side (RHS) delimited by an `=` operator, and then check the RHS for the following (allowed) suffixes:

- `:_password`
- `:always-auth`
- `:email`
- `:registry`
- `:username`

The `registry` and `always-auth` properl

[2019-08-08 20:53] octogonz commented on #1452
(The docs could also recommend for people to use the handy [npmrc](https://docs.npmjs.com/files/npmrc) command-line tool, if you need to switch between different repos with different **.npmrc** requirements.)

[2019-08-08 21:08] sadasant commented on #1411
@rakeshpatnaik hi! I'm glad you like it! What do you mean by a new parameter? This PR adds it as a flag. Is that what you're referring?

[2019-08-08 22:57] octogonz commented on #215
Could you open a new GitHub issue and provide repro steps?

[2019-08-09 16:58] halfnibble commented on #1452
This happened to me too. I don't even remember adding that config setting!

[2019-08-09 18:17] octogonz commented on #1452
The implementation should be quick+easy.  But I'd like to hear some opinions about the design.

[2019-08-10 00:57] octogonz commented on #1279
FYI I've started working on this PR again.

[2019-08-10 04:23] octogonz commented on #1279
The problem is actually a lot harder than it seemed initially, because some careful bookkeeping is required to avoid confusing the name of the alias with the name of the real package.  I pushed some changes but am not done yet.

[2019-08-10 07:29] umidbekkarimov commented on #1200
@octogonz Some modules use intermediate `package.json` files that used by bundlers to enhance tree shaking https://unpkg.com/browse/@material-ui/core@4.3.1/AppBar/package.json.

In that case, there will be no `version` or `name` property.

I dived into the code and found that parsing of `package.json` required only to parse `tsdocMetadata`, and only a few fields needed for it (`tsdocMetadata`, `ty

[2019-08-10 18:35] #1443 closed

[2019-08-11 18:57] chaseholdren commented on #1088
`.gitattributes` file contents:
[code]

[2019-08-12 21:09] #1052 closed

[2019-08-12 21:09] #1252 closed

[2019-08-13 06:36] wbern opened #1454 "[rush] Command to fix version mismatches with an interactive prompt"
**Is this a feature or a bug?**

- [X] Feature
- [ ] Bug

**Please describe the actual behavior.**
None for now

**What is the expected behavior?**
When I merge in master to my feature branch, every time there will be version mismatches because of package updates done when master is deployed.

I really want the behavior to be that as a developer, I will read the changelog of each package, and then

[2019-08-13 06:41] wbern commented on #1452
Another solution could simply be to let pnpm output more clearly that there is a setting from an .npmrc file that is interacting with pnpm, perhaps _all_ npm settings should be shown via pnpm in a list of "values set via .npmrc" without displaying the values. I do think I was very unprepared that pnpm actually took settings from npm, even though it also makes total sense since people likely won't

[2019-08-13 16:23] nik0kin commented on #1430
What is the logic behind:

[code]

This is preventing my publish command from tagging while publishing to a private npm repo.

[2019-08-13 22:15] nik0kin commented on #1430
It appears that if I remove ` && !this._registryUrl.value` from https://github.com/microsoft/web-build-tools/blob/4811cea4782cbb7b6a55c7e320e67ebcf5e86236/apps/rush-lib/src/cli/actions/PublishAction.ts#L340 everything publishes and tags are pushed correctly.

Would you consider this change?

[2019-08-14 00:17] halfnibble commented on #270
Assigning to @claudiazhaoya.

[2019-08-14 02:40] yiidot opened #1455 "[api-extractor] Symbol has a ts.SyntaxKind.SourceFile declaration which is not supported by API Extractor"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

Last month it was ok. But in this month，it encountered an error. It seems that API Extractor does not support the declaration of three.js.

![image](https://user-images.githubusercontent.com/37300913/62990777-bba83d80-be7f-11e9-80c2-6f831b1a6e5e.png)

my config file is
![image](https://user-images.g

[2019-08-14 10:13] slavafomin commented on #1168
We really miss this feature after migrating from lerna 😢
It would be very useful to be able to run an ad-hoc command over many repositories.

Things to consider:

- be able to run command topologically or just in parallel as suggested in the discussion
- be able to scope the packages using some pattern, e.g. run the specified command only for a subset of packages in the monorepo

[2019-08-14 10:20] slavafomin commented on #1160
Well, this is extremely annoying now to add multiple packages through the `rush add` command. And we mostly add multiple packages, one for the library itself and another one for it's typings.

It looks like this:

[code]

which is very cumbersome.

It would be nice to do just:

`rush add --caret --dev some-package @types/some-package`

Also, why `--dev` flag doesn't have a short version `-D` like

[2019-08-14 10:24] slavafomin opened #1456 "[rush] Feature: Enable "rush add" to install peer dependencies"
Hello!

Thank you for this great tool and your hard work!

However, I thought that it would be nice to be able to install a peer dependency using `rush add` command. It could be implemented as a `--peer` flag for example.

Thanks!

[2019-08-14 10:30] slavafomin opened #1457 "[rush] Provide a "rush remove" command that undoes "rush add""
Hello!

The npm has the [uninstall](https://docs.npmjs.com/cli/uninstall) command to remove installed dependencies both from the manifest and from the filesystem.

I really miss this in Rush.

Thanks!

[2019-08-14 20:07] halfnibble commented on #991
We tried to repro this today using `rush add -p <local-package>`  and it just worked. We used pnpm version 3. Also note, the local package was listed in the rush.json config (which I don't think is an unreasonable assumption). @WanderWang can you link us to your repo or can someone send us a minimal repro?

[2019-08-15 08:40] ninok opened #1460 "[api-extractor] fails with "Error: Internal Error: The "result" symbol has a ts.SyntaxKind.Parameter declaration which is not (yet?) supported by API Extractor""
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
[code]

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to investigate.**

[2019-08-15 08:41] ninok commented on #1460
Might be related to https://github.com/microsoft/web-build-tools/issues/1455 even though the error message is slightly different (i.e. ts.SyntaxKind.Parameter instead of ts.SyntaxKind.SourceFile)

[2019-08-16 03:59] csr632 opened #1463 "@defaultValue is not emitted by api-extractor"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

this is the `xxx.api.json` emitted by api-extractor:
![image](https://user-images.githubusercontent.com/18747423/63142482-956bd480-c01c-11e9-8def-b1cfb119ca41.png)
I have a `@defaultValue` block for property

[2019-08-16 05:15] octogonz commented on #1463
@csr632  The .api.json file stores the doc comment as a text string in the `"docComment"` field, as seen above.  If we stored a parsed tree, the file would be significantly larger.

Your custom tool should not be trying to parse this JSON file.  Instead, it should use the [@microsoft/api-extractor-model](https://www.npmjs.com/package/@microsoft/api-extractor-model) library to load it.  This librar

[2019-08-16 05:20] octogonz commented on #1457
Could you give a little more information about your use case?

How would this feature be different from manually deleting the library from **package.json** and then running `rush update` or `rush update --full`?

[2019-08-16 05:23] octogonz commented on #1460
(Note to self)

Instead of this:
[code]

Do this:
[code]

[2019-08-16 05:26] octogonz commented on #1455
@yiidot Would you be able to share a branch that repros this issue?  It's pretty hard to diagnose from this information alone.

[2019-08-16 05:35] octogonz commented on #1460
The problem is with this declaration from Projection.d.ts:

[code]
The return value of this function is `typeof result`, which is referring back to the type of one of the other parameters.  API Extractor's analyzer doesn't currently support this construct.

We can improve that.

However, you can also workaround it by substituting `WorldCoordinates` for `typeof result`.

I have to ask, though -- WH

[2019-08-16 07:03] csr632 commented on #1463
Thanks for defailed explaination! I do use `@microsoft/api-extractor-model` but I forgot `DocComment.customBlocks`! I finally solve my problem by imitate `api-documenter`:
https://github.com/microsoft/web-build-tools/blob/76017371fcc1151fc6a31f694e1098e220a4a0e9/apps/api-documenter/src/documenters/MarkdownDocumenter.ts#L224

[2019-08-16 07:04] #1463 closed

[2019-08-16 21:39] octogonz opened #1466 "[rush] The implicitly preferred dependencies should not eliminate a narrowed version"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

For example, add something like this to **package.json** in the **rush-example** repo:

[code]

**What is the expected behavior?**

The `isarray@2.0.4` version should be added as the implicitly preferred version in **common/temp/package.json**.

But instead, it is NOT added because [InstallManager._

[2019-08-16 22:29] bsiegel commented on #1241
After doing a little more thinking on this, I wonder what the tradeoffs of the following approach might be:

Consider a global flag such as `--limit <tag>` (or maybe `--context <tag>`). When specified, all it would do is change how Rush loads its set of projects. Normally, every project in the `projects` array is loaded. This flag would modify that logic to only discover projects which have the sp

[2019-08-17 16:18] moltar opened #1467 "[rush] warning: CRLF will be replaced by LF in $file"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

`rush init` produces files with Windows line breaks.

If that is not intentional, then it is a bug.

But since this is Microsoft, then maybe that is intentional after all.

[code]

[code]

**If the issue is

[2019-08-17 16:58] moltar opened #1468 "[rush] ignores config options from common/config/rush/.npmrc"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

I've added `save-exact=true` to `common/config/rush/.npmrc` file, but that setting is being ignored.

The docs state:

[code]

So if it is only using `.npmrc` for registry info, then maybe it is a misnomer t

[2019-08-18 03:41] octogonz commented on #1468
It might be better to model this as a setting in   `rush.json` instead of relying on `.npmrc`.  If I remember right, Yarn does not honor `.npmrc` settings, so `save-exact` is somewhat proprietary to NPM.  Also, the `.npmrc` file format is not very strictly validated, and it's designed with the idea that settings can come from many places (environment variables, command-line arguments, project-spec

[2019-08-18 19:29] iclanton commented on #1467
@octogonz - We intentionally picked one style. Do you remember what the rationale was for picking the one we picked?

[2019-08-18 20:55] octogonz commented on #1467
We originally standardized on CRLF because it was handled correctly by all editors on all OS's, whereas LF was mishandled by some editors (e.g. Notepad.exe and cmd.exe on Windows).  The convention doesn't matter too much in our repos, because our [.gitattributes](https://github.com/microsoft/web-build-tools/blob/8d265d4b025510c9d015e171172e2435811a0a03/.gitattributes#L20) file automatically normal

[2019-08-18 20:56] octogonz commented on #1467
@iclanton @patmill @lahuey If we make this change, it would impact SPFx as well.

[2019-08-19 08:16] Jabher opened #1469 "Rush add -p is does not see local package"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

1. I creates empty rush monorepo
2. I add 2 separate packages (`a`,`b`) without publishing any of them
3. I run `rush add -p b` in package `a`
4. I encounter the following error
[code]

**What is the expecte

[2019-08-19 09:12] alan-agius4 opened #1470 "#/apiReport/reportFileName Expected type string but found type undefined"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
`reportFileName` of `IConfigApiReport` is marked as being optional and can have a value of `undefined` however at the moment this is failing schema validation during runtime when using the API.

[code]

[code

[2019-08-19 13:27] alan-agius4 opened #1471 "[api-extractor] Invalid types being generated when using barred o and export aliases"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
When having an exported class with a name prefixed with a barred o `ɵ` and is also exported using an alias invalid rolled up typings are being generated.

**Input**
[code]

**Output**
[code]

**What is the expected behavior?**
Correct output.

[code]
**If this is a bug, please provide the tool versio

[2019-08-19 13:40] moltar commented on #1468
Are you proposing to get rid of `.npmrc` dependency in Rush in favor of `rush.json`?

As in, all existing settings that Rush checks in `.npmrc` (which from the docs sounds like just the registry info).

Or are you proposing to just move `save-exact` into a `rush.json` setting?

[2019-08-19 14:24] octogonz commented on #1468
No, just to use it for settings that control the package manager, rather than settings that control Rush itself. For example, what if Yarn and NPM interpret the setting slightly differently; which semantics should Rush follow? Or what if there are special additional states for that setting; are we obligated to implement them all in `rush add`? Or what if we want to extend the setting with more fea

[2019-08-19 15:49] baflo opened #1472 "[rush] Documentation for VSCode Remote setup"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

Do you have special recommendation how to use a rush repository in VSCode Remote Development?

At least on my Windows system, with my repository mounted from the host machine into a Linux container in VSCode remote dev the installation is very slow.

**What is the expected behavior?**

An installati

[2019-08-19 16:21] halfnibble commented on #1469
Is project b listed in your rush.json file under projects?

[2019-08-19 17:40] iclanton commented on #1469
I'm seeing this issue too. I suspect this is a regression.

[2019-08-19 17:41] iclanton commented on #1472
I've never actually used this feature. Can you link to some docs on how to do this in VSCode?

[2019-08-19 17:46] iclanton commented on #1467
I support moving everything to LF. I doubt the change itself will be too complicated, but this change will need to be extensively tested.

[2019-08-19 17:50] iclanton commented on #1454
This would be really useful. I run into this issue pretty frequently, and I'd use this feature.

@wbern - would you be interested in putting this feature together?

[2019-08-19 18:25] halfnibble commented on #1469
I have a minimal repro handy.
https://github.com/halfnibble/newmono

Reproduce with
`$ cd apps/projectA`
`$ rush add project-b`

[2019-08-19 18:39] halfnibble commented on #1469
Ah ha! I figured out why it was working for me earlier. Apparently, it works if the folder name is the same as the project name—or doesn't contain special characters. Or at least it does in this minimal repro of rush add -p working:
https://github.com/halfnibble/newmono_working

Reproduce with
`$ cd apps/projecta`
`$ rush add -p projectb`

[2019-08-19 21:01] wbern commented on #1454
@iclanton I could certainly try if I get the occasional hour of spare time.

I guess I'd load the rush config or utilize an existing one, grab the listed projects, and import/read the changelog.json files from there.

What do we feel about inquirer as a dependency? Is it already used?

[2019-08-19 22:43] HarryGifford commented on #1300
@sachinjoseph Do you know if there's been any progress on this?

[2019-08-19 23:22] srideshpande opened #1474 "[api-extractor] How do we make "export *" scoped to @internal in public packages"
**Is this a feature or a bug?**

- [ ] Feature (?)

How do we scope the exports from an index.ts file? For example, in my `index.ts` file, I have the following exports:

[code]

Now, I would like to make the above exports **internal**, so that even though the package is `public`, some of its exports like the above can be `internal`.

Adding `@internal` on top of those export lines, didn't made any

[2019-08-20 00:20] halfnibble opened #1475 "[rush] Rush init should use newer versions?"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [X] Feature
- [ ] Bug

**Please describe the actual behavior.**
Running `rush init` will create a rush.json file with presently installed version of rush and pnpm version 2.15.1.

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include

[2019-08-20 01:08] mikeharder commented on #1415
@octogonz: We have hit another issue with `peerDependencies`, and the `preferredVersions` workaround doesn't prevent the issue.  Repro steps:

[code]

Attempted workaround in `common-versions.json`:

[code]

[2019-08-20 01:37] mikeharder commented on #1415
I think another workaround should be to pin `espree` to `6.0.0`, but this doesn't work either:

[code]

[2019-08-20 01:39] mikeharder commented on #1415
The `web-build-tools` repo appears to be blocked by this issue as well:

https://dev.azure.com/RushStack/Gearbox%20GitHub%20Projects/_build/results?buildId=1842&view=logs&jobId=5d9f2291-cb88-5e73-8056-0cddc8368ed3&taskId=f063cadf-8e43-5e80-e120-767b136285e8&lineStart=228&lineEnd=229&colStart=1&colEnd=1

[2019-08-20 18:45] mikeharder commented on #1415
This is fixed in `acorn-jsx@5.0.2` (RReverser/acorn-jsx#101), however I'm still concerned that the workarounds couldn't address this before the package was updated.

[2019-08-21 09:05] iclanton commented on #1447
Looking into this. So the dependency graph for your repro repo is:

[code]

This illustrates a weirdness with the `--from` parameter, where Rush doesn't ensure the dependencies of projects it's building are built. I think we have two options for addressing this:

- Change the behavior of the `--from` parameter to also include all other dependencies of projects that are to be built. This will be a

[2019-08-21 09:23] #1438 closed

[2019-08-21 10:09] #1431 closed

[2019-08-21 16:25] slavafomin opened #1477 "Transitive dependency version is resolved incorrectly"
Hello!

Thanks again for your hard work!

We have a situation where transitive dependency version is selected incorrectly by Rush. I first thought that this is caused by `pnpm`, but after studying the issue further it occurred that actually Rush is responsible.

Below, is the description of [the issue](https://github.com/pnpm/pnpm/issues/1973) that I've submitted earlier to the `pnpm`:

---

There

[2019-08-21 16:41] slavafomin commented on #1477
The issue is caused by Rush setting the `pnpmOptions.resolutionStrategy = "fewer-dependencies"` instead of the `pnpmOptions.resolutionStrategy = "fast"`, which is default in `pnpm`.

I still believe that this behavior is very counter-intuitive in this case and caused a lot of trouble for us.

[2019-08-21 16:46] mikeharder commented on #1447
@iclanton: Thanks for taking a look.  I just noticed the title of this issue incorrectly said `--to` instead of `--from` (now corrected), but you are correct the issue is with `--from` not ensuring dependencies are built.

We would be fine with either option (changing `--from` or additional flag).  If one option could be implemented more quickly (say the additional flag since it's a non-breaking c

[2019-08-21 20:27] bsiegel commented on #1311
Completed in #1440, this issue can be closed 🎉

[2019-08-21 21:10] octogonz opened #1479 "[rush] Warn when the repo folder may exceed MAX_PATH on Windows"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

On [Gitter today](https://gitter.im/web-build-tools/web-build-tools?at=5d5da507b059db27dfb8ad2b), @darsi-an reported weird Jest failures when trying to build the **web-build-tools** repo.  After trying a bunch of different things, we eventually determined that working folder `C:\Users\<NAME>\Desktop

[2019-08-21 21:14] octogonz commented on #1479
@zkochan Do you know of any scientific way to detect whether a `pnpm install` will exceed MAX_PATH or not?

[2019-08-21 21:28] zkochan commented on #1479
I guess you could check the length of each file during unpacking or hard linking a package

[2019-08-21 22:00] octogonz commented on #1479
Does PNPM expose a hook for that?

[2019-08-21 22:05] zkochan commented on #1479
not at the moment.

[2019-08-22 17:59] Jeffy2012 opened #1481 "[api-extractor] how to doc this"
**Is this a feature or a bug?**

- [X] Feature
- [ ] Bug

**Please describe the actual behavior.**

no api

[code]

[2019-08-22 18:28] apostolisms commented on #1477
@slavafomin if you set  resolutionStrategy:'fast'  in rush.json does that solve the issue ?

[2019-08-22 20:26] octogonz commented on #1477
My conclusion was that `fewer-dependencies` is more correct, and less likely to encounter weird versioning problems.

Often you can tune this behavior using Rush's [preferred versions](https://rushjs.io/pages/advanced/preferred_versions/) setting.  But it's hard to say from the information provided here.

If you could share a repro branch, I'm willing to debug it for you.

[2019-08-22 22:32] bruk1977 opened #1482 "[rush] Rush with PNPM doesn't install nested dependencies properly"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x ] Bug

**Please describe the actual behavior.**

I have office-ui-fabric-react in my package and office-ui-fabric has a dependency on @uifabric/styling... when Rush with PNPM installs office-ui-fabric-react it doesn't install @uifabric/styling unless I ex

[2019-08-22 23:37] octogonz commented on #1481
API Extractor doesn't support `declare module` style declarations.  Typically these are legacy JavaScript APIs that already have JavaScript-based documentation.

It is possible to work around this limitation by creating a special entry point used by API Extractor, that exports those declarations as modern exports.  Whereas consumers of your library would import them from the normal entry point.

O

[2019-08-23 03:30] octogonz commented on #1482
Rush does "install" these dependencies.  You should find them somewhere under `common/temp/node_modules`.  (If not, please share a repro branch, and we'll definitely want to investigate it!)

That said, if your own project wants to import `@uifabric/styling`, it needs to declare this dependency in its **package.json**.  People are often confused about this, because when using the NPM package manag

[2019-08-23 03:44] octogonz commented on #1447
@nickpape-msft FYI

[2019-08-23 03:44] octogonz commented on #1447
@nickpape FYI

[2019-08-23 03:50] octogonz commented on #1447
This picture looks exactly correct for `rush build --to B --from B`:

[code]

- `--to B` means _"build B, plus the things that B depends on"_.  That set is `{ A, B }`.
- `--from B` means _"build B, plus all the things that depend on B"_  That set is `{ B, D }`.

When you specify both parameters, you get the union `{ A, B, D }`.

That union is meaningful and useful.  For example, suppose I did a cl

[2019-08-23 04:01] octogonz commented on #1447
Ohhhh... wait a sec, I get it.  The problem is that `D` fails to build because `C` wasn't build.  Duh.  :-P

[2019-08-23 04:03] octogonz commented on #1447
Yeah, let's fix this.

[2019-08-23 04:34] octogonz commented on #1415
The `implicitlyPreferredVersions` feature was introduced back when nobody used peer dependencies (because NPM didn't handle them very well).  When I thought about it earlier in this thread, it seems difficult to make this feature work correctly with peer dependencies.  Also, I suspect that the same problem is mostly solved by PNPM's [resolutionStrategy=fewer-dependencies](https://github.com/micros

[2019-08-23 04:49] Jeffy2012 commented on #1481
I want split a big class into multiple files?

How?

[2019-08-23 04:53] octogonz commented on #1475
Here's one more issue:

If you run `rush init --overwrite-existing` in an existing Rush folder, it will use the version from rush.json even if a newer version is installed globally. The main point of that feature is for upgrading a repo, so the behavior is super annoying and certainly a bug.

So I'd propose the following
- `rush init` prints an error if it's not the latest Rush.
- The error should

[2019-08-23 04:56] octogonz commented on #1467
Cool, let's do it.

[2019-08-23 05:29] octogonz commented on #1474
This scenario makes a lot of sense.  You're breaking up a package into smaller packages, but you want to preserve the runtime contract from the old APIs.

For a while we've been wanting to implement a feature where you can do this:
[code]
Today the above is handled okay in the .d.ts rollup, but it's completely absent from the generated docs.

So we could certainly allow `@internal` instead of `@pu

[2019-08-23 17:42] octogonz commented on #1481
TypeScript doesn't provide anything like [partial classes](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/partial-classes-and-methods) from C#.  The reason is that TypeScript tries to add static type checking to ECMAScript _without substantially altering the underlying language_.  In other words, after deleting all the type annotations, your TypeScript source

[2019-08-23 18:27] srideshpande commented on #1474
Problem is that, I'm not the owner of the `package-a` from my example. Hence, I do not have enough control over their exports.

[2019-08-24 14:26] Jabher commented on #886
I'm experiencing this error while using my company's proxy (while using proper syntax like `^1.2.3`). For now I've rolled back to yarn, which is working, but I hope this will be fixed someday.

[2019-08-24 20:21] octogonz commented on #1474
Consider this case below. It's pathological, but totally valid TypeScript, and representative of actual issues reported for real projects:

**index.ts**
[code]

**file1.ts**
[code]

Here's how API Extractor currently rolls it up:

**rollup.d.ts**
[code]

Design questions:
- What is the expected visibility for the rollup items (labeled `[R1]`, `[R2]`, ... `[R5]`)?
- If there's documentation content

[2019-08-24 20:22] octogonz commented on #1474
(@rbuckton in case you're interested in this puzzle 😊)

[2019-08-24 20:35] octogonz commented on #1474
Proposed solution:
- When traversing imports, if we encounter an `export` block with a `/** */` comment, that takes precedence over any other `/** */` found along the way.
- We completely ignore `/** */` comments for `import` statements

Example output with this design:

**rollup.d.ts.**
[code]

[2019-08-24 21:41] octogonz commented on #1474
And if we delete the comments `/** [A] @internal */` and `/** [B] @internal */`, then we would get this output instead:

**rollup.d.ts.**
[code]

[2019-08-25 16:23] ssube opened #1486 "[api-extractor] bundled typedef only contains index"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

`api-extractor` claims to succeed, but the resulting bundled `.d.ts` is almost identical to the input `index.d.ts`:

[code]

<details><summary>With this <code>config/api-extractor.json</code> config:</summary>
<p>

[code]

</p>
</details>

<details><summary>With this input <code>out/src/index.d.ts</

[2019-08-25 17:18] octogonz commented on #1486
The TypeScript input looks like it has syntax errors in it. For example, the import path must be `"./src/Container"`. When you write `"src/Container"` it means to import from an NPM package named `src`.

Thanks for the repro branch. When I get some time I'll clone it and see if I can give more specific advice.

[2019-08-25 17:28] ssube commented on #1486
Good point. :thinking:  With my previous webpack config, `src/` and `test/` were explicitly defined as aliases to the directories of the same name. When I moved to rollup, those are no longer in the config, but have continued working and I never thought twice about it.

[2019-08-25 19:15] octogonz commented on #1486
Also when I run `tsc` your compiler outputs are being written under the `src` input folder.

Looks like the `baseUrl` and `paths` entries in your **tsconfig.json** are causing all this trouble.  It's really not the standard way to do modern TypeScript imports.  I'm frankly impressed if the resulting .d.ts files are compiling without errors for a consumer of this library.  😊

Here's a quick hack to

[2019-08-25 23:45] ssube commented on #1486
Output under the `src` folder? I'm not able to reproduce that, with a clean clone or in CI. Are you running `tsc` directly?

After running `make`, which runs `rollup` and then `tsc` via `rollup-plugin-typescript2`, the only output JS files I see are under `out/`:

[code]

The `baseUrl` is the key to making those `src/Foo` imports work, I suspect, by making everything relative to the project root.

[2019-08-26 02:48] octogonz commented on #1486
Regardless of how the toolchain invokes the compiler, running `tsc` from the command-line is a useful test of how other tools will interpret your project configuration.  Repro:

1. run `yarn install`
2. run `./node_modules/.bin/tsc`

I didn't try this because `make` didn't work on Windows.

My impression is that this usage of `baseUrl` with absolute paths is unconventional.  I haven't seen other p

[2019-08-27 13:11] alan-agius4 commented on #1471
//cc @octogonz, this used to work in 7.0

[2019-08-28 22:10] chbota opened #1492 "[rush] "Rush install" installs newer versions than specified in pnpm-lock.yaml"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
When running `rush install`, the latest version that adheres to the package.json semver is installed, rather than the version specified in the `pnpm-lock.yaml` file.

I put together a standalone repo that reproduces this behavior here: https://github.com/chbota/rush-pnpm-bug

In this repo, `test-pack

[2019-08-28 23:08] octogonz commented on #1486
@ssube  Should we close this issue then?

[2019-08-29 01:17] octogonz commented on #1471
@alan-agius4 Here's a PR: https://github.com/microsoft/web-build-tools/issues/1471

[2019-08-29 01:42] octogonz commented on #886
Status update: NPM recently announced that version 7 will finally provide support for monorepos.  Today, the monorepo support implemented by Yarn and PNPM is already reasonably close to what we do in `rush install` and `rush link`.  Thus, we're considering an overhaul of Rush that would delegate most of the installation/linking operations to the underlying package manager.  The Rush maintainers cu

[2019-08-29 03:18] nfour commented on #1191
Sorry about this - seems like it's an issue with Jest, not rush. Jest by default outputs to stderr, and requires the use of a different reporter to fix this oversight.

[2019-08-29 03:18] #1191 closed

[2019-08-29 03:34] kenotron commented on #886
Awesome direction, @octogonz. Do you have another tracking issue on this? Would love see more details on what it would mean to have workspaces support with rush

[2019-08-29 04:26] alan-agius4 commented on #1471
Thanks @pgonzal for this.

Ps: I think you meant https://github.com/microsoft/web-build-tools/pull/1493 :)

[2019-08-29 09:55] domarmstrong opened #1494 "[rush] Add `--from-version-policy` flag"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**What is the expected behavior?**

In the same way that we have --to and --from. It would be useful to have an opposite of --to-version-policy. We use the monorepo for applications and dependencies, --to-version-policy is very useful to be able to just build our dependencies without the apps. There are a few times when I've equally just wa

[2019-08-29 17:41] iclanton commented on #1494
This seems useful. Want to take a crack at it?

[2019-08-29 17:50] #1486 closed

[2019-08-29 17:52] domarmstrong commented on #1494
I could in a few weeks

[2019-08-29 23:25] #1471 closed

[2019-08-30 15:01] run1t commented on #1454
I've done something similar with a script outside of rush, but it's still very basics.
For each mismatch the script ask you if you want to autocorrect the mismatch. If we say yes it will compare all version and extract the highest, then it will update all `package.json` of mismatched projects with this highest one.

It would be cool to be able to do this with:
`rush check --interactive`
and with s

[2019-08-30 16:41] crhayes opened #1495 "[rush] Allow setting ensureConsistentVersions to false for specific projects only"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

Currently, setting `ensureConsistentVersions: false` stops enforcing consistent versions for all projects.

**What is the desired behavior?**

Rather than turning the `ensureConsistentVersions` behaviour off for all projects, it would be nice to provide a set of projects to opt out of this behaviour

[2019-08-30 19:08] iclanton commented on #1495
You can approximate this by including the dependencies in your frozen projects in the `"allowedAlternativeVersions"` property of `common-versions.json`. See docs here: https://rushjs.io/pages/configs/common_versions_json/

Will that do what you're looking for? It's not exactly the same thing, but it might work for your scenario.

[2019-08-30 19:23] crhayes commented on #1495
@iclanton Thanks for the quick response! I came across that option in the documentation and had the same thoughts initially.

My understanding is that once a dependency is added to `allowedAlternativeVersions`, each project can specify any version of the dependency it likes (i.e. it essentially becomes the same as `ensureConsistentVersions: false` for that single dependency).

Because we want to f

[2019-08-31 08:17] joeljeske opened #1498 "Rush doesn't support PNPM Workspace Ranges yet?"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [ X] Bug

**Please describe the actual behavior.**

I would like to use the recently added [Workspace Ranges from PNPM](https://pnpm.js.org/en/workspaces#workspace-ranges-workspace) inside my rush mono repo.

Currently, after upgrading to pnpm v3.7.5 and usi

[2019-09-02 13:57] Jabher opened #1500 "pnpm is not private npm-friendly"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
While using PNPM (neither yarn nor npm produces this error) with our company private registry I'm always encountering the following kind of error:
[code]

E.g.
part of project is common eslint config.
It is r

[2019-09-02 16:52] Jabher commented on #1500
Update.

I've discovered that the following behavior only happens with peerDependencies of internally-published package. I did not attempt to publish it publicly, but another my project on rush is
Local repo works correctly, it's something with an insides of rush.
Format of postfix is either `_[hex]{32}` or `_{packageName@packageVersion}[+packageName@packageVersion]*`.

This looks like some additi

[2019-09-02 16:55] Jabher commented on #1500
Hm. I've understood what is causing this, at least in `_{packageName@packageVersion}[+packageName@packageVersion]*` syntax part. It is *correct* behavior of pnpm. Looks like proposed PR is not as dumb as I thought...

https://github.com/pnpm/pnpm/blob/856653ea2f6d42bbe6ceee4fee132d0aa788e1a2/packages/supi/src/install/resolvePeers.ts#L400

[2019-09-02 18:30] Jabher commented on #1500
As long as this is related only to peer dependencies - I've hacked it for now with pnpm hook
[code]
but this does not feel right :(

[2019-09-02 18:51] octogonz opened #1502 "[rush] Provide a better way to use custom builds of Rush"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

If someone fixes an issue in a PR branch, and we have not accepted/published their branch yet, there should be a way for them to temporarily use their fixed build of Rush.

1. **If they are able to publish to a private registry:**  Expand the `rushVersion` setting in **rush.json** to allow specifyin

[2019-09-02 19:20] octogonz commented on #1500
If I remember right, this is already fixed in PR https://github.com/microsoft/web-build-tools/pull/1280

[2019-09-02 20:38] slavafomin opened #1503 "Do not change order of fields in manifest when updating it"
Hello!

Thank you for your hard work!

However, when Rush updates manifests (`package.json` files) it also changes the order of fields in them.

In our project we have a specific order of fields in all manifests and we enforce it using our special linting and auto-formatting tools, but Rush keeps re-formatting our manifests, which introduce phantom changes to our Git stage.

For example, we have `

[2019-09-02 20:45] octogonz commented on #1503
How do you describe your autoformatting rules? Would it make sense to configure Rush's autoformatting to manage this? (Longer term we are considering for Rush to generate package.json as a build output, in which case it might be more difficult for an external tool to manage.)

[2019-09-03 11:16] slavafomin commented on #1503
It's a custom-build tool based on various npm libraries. For example, the order of fields is described as an ordered string array, where each element is a field name.

Is this an existing feature or are you proposing a solution for the future?

Interesting, could you explain this a bit? I'm not sure I understand how this feature should work.

---

In my opinion, Rush (and any other dependency mana

[2019-09-03 13:35] Jabher commented on #1500
I've checked tests of this PR - it definitely looks so

[2019-09-03 16:46] octogonz commented on #1503
There are several problems that this could solve.

### 1. Multi-target builds

First, imagine that your publishing workflow produces three outputs, from the same source files:

- **my-package/package-rush.json** - the file that humans edit; this does not get published
- **my-package/build/internal/package.json** - this gets published to your company's private NPM registry, by running `npm publish`

[2019-09-03 23:45] #749 closed

[2019-09-03 23:46] #787 closed

[2019-09-03 23:49] #872 closed

[2019-09-04 03:24] #270 closed

[2019-09-04 17:47] iclanton commented on #1498
I think this is more of an enhancement than a bug. We've been talking about better supporting the workspace features of pnpm/yarn.

We should prototype this, @octogonz.

[2019-09-04 18:53] wbern commented on #1454
I agree @run1t, it would be really useful.

For me, all I want is to be able to list the version mismatches like before, then proceed to start asking about each individual package of which version to take, defaulting to the majority version, with the changelog visible as well.

[2019-09-04 18:55] wbern commented on #1454
I always thought gulp-conflict did a good job with its prompt. The options would fit this request really well I believe, with "show diff" here being "show changelog".

https://github.com/slushjs/gulp-conflict/blob/master/index.js

[2019-09-04 20:08] iclanton commented on #270
The fix for this has been released in Rush 5.12.0

[2019-09-04 20:09] iclanton commented on #669
The fix for this has been released in Rush 5.12.0

[2019-09-04 20:09] #669 closed

[2019-09-04 20:09] iclanton commented on #1279
The fix for this has been released in Rush 5.12.0

[2019-09-05 00:44] joeljeske commented on #1498
Interesting. Maybe I do not understand the difference between rush and PNPM workspaces. I would have thought that rush used PNPM workspaces and build on top of it.

Could you explain the difference with my assumption and reality?

I am coming from Lerna which leverages yarn workspaces.

[2019-09-05 02:22] #1500 closed

[2019-09-05 09:58] VincentSurelle commented on #1502
Hi @octogonz,

I'm actually trying to add functionalities to Rush. But I'm blocked by the behaviour of the `RushVersionManager`. If I understand, it's not far from what you explain.

I've built a toggle to disable the version manager when working on Rush

I made a PR with my changes #1509 it can be improved but this may can help ?
At the moment there's also a lot of prettier pollution.

[2019-09-05 12:27] slavafomin commented on #1503
Thank you Pete for a thorough explanation! These cases look pretty interesting.

So, you are proposing to introduce a special `package-rush.json` source file, which will be used to generate a `package.json` files, that will be published to npm, right? This indeed opens a door for a lot of functionality that could be build on top of it (comments could be especially helpful for complex manifests), h

[2019-09-05 20:12] octogonz opened #1511 "[rush] Should we improve the repo directory layout?"
----

I originally had projects with category folders, and several projects in them,  but I'm breaking the mega mono-repo up into smaller pieces, because the developers working on those components only need to focus on their little piece and are happy bringing in the shared components as packages from npm.

it's likely that only one or two people will ever need to have a mega-mono-repo of everythi

[2019-09-05 20:19] octogonz commented on #1503
How would this break compatibility?  After you run `rush install`, your local project folders would still have a valid `package.json` file that should work fine with any package manager.  The only difference is that it's not tracked by Git, so if you make any local modifications they would need to be copied into `package-rush.json`.

Which of these options would be most attractive to you:
1. Impro

[2019-09-06 01:47] octogonz opened #1512 "[rush] Generate package.json as a build output"
*This idea has been around for a while, but it seems we didn't have an issue tracking it.*

Copied from https://github.com/microsoft/web-build-tools/issues/1503#issuecomment-527542375:

---

There are several problems that this could solve.

### 1. Multi-target builds

First, imagine that your publishing workflow produces three outputs, from the same source files:

- **my-package/package-rush.json

[2019-09-06 01:49] octogonz commented on #1512
In [Gitter today](https://gitter.im/web-build-tools/web-build-tools?at=5d71af113b1e5e5df15d47bc), @renoirb brought up another potential application:

Reduce copy+pasting of common package.json contents throughout the monorepo.

For example, certain versions could be centrally specified, to simplify upgrades:
[code]

...or maybe common boilerplate could be inherited from a toolchain template:
[code

[2019-09-06 01:50] octogonz commented on #1503
Let's use this issue to discuss these 3 possible options.

(I've split the "generating package.json as an output" idea into a separate issue https://github.com/microsoft/web-build-tools/issues/1512)

[2019-09-06 03:06] kloy commented on #1498
This would be a great addition. It would really cut down on merge conflicts for package.json files in popular directories.

[2019-09-06 03:12] renoirb commented on #1512
Related, apart of managing versions of a dependencies between packages, but related to package.json maintenance.  How about having a script to normalize fields, see nuxt/nuxt.js#6373

[2019-09-06 03:22] octogonz commented on #1498
Rush existed long before PNPM and Yarn implemented their workspace features.  Rush's approach is to install all the packages centrally in the **common/temp** folder, and then Rush creates its own symlinks from each project into **common/temp**.  PNPM workspaces is essentially equivalent, but some work would be required to integrate it with Rush's other features.

Classic Yarn/Lerna essentially jus

[2019-09-06 19:00] joeljeske opened #1513 "[rush] Dependent packages are not bumped and published when their dependencies change"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**

- Using rush mono repo
- I have package "A" and package "B"
- A depends on B
- Modify B and create a change file
- Run rush publish
- Only package B is published, not A

**If the issue is a bug, how can we r

[2019-09-06 22:56] domarmstrong commented on #1494
https://github.com/microsoft/web-build-tools/pull/1514

[2019-09-07 07:47] sachinjoseph commented on #1492
Hi Chris, looks like your pnpm-lock.yaml was generated when `test-package` depended on `typescript@3.5.1` and then `test-package`'s package.json was updated depend on `typescript@^3.5.1`. With this change, `pnpm-lock.yaml`'s tarball hash for test-package.tgz is invalidated, and now when pnpm install is run (by rush internally), the hash of test-package.tgz and the specifier for TypeScript is updat

[2019-09-07 21:04] totomakers commented on #955
Any update for this ?

[2019-09-08 00:07] renoirb commented on #1512
As requested by @octogonz

With relation to normalizing `package.json` and/or simplifying maintenance in relation to dependencies.

----

## **Use-Case 1** Use source package-rush.json as a guide to configure generating package.json as build output

The idea of having placeholders of versions and replace them around. As package.json is a build artifact and no longer source. I see the benefit for m

[2019-09-09 05:24] slavafomin commented on #1503
I though that you were planning to replace `package.json` with the feature-rich `package-rush.json`. However, if you are going to keep both files (with duplicate content), this will result in awkward synchronization issues and again tools incompatibilities. I'm not sure if this is a good way to go.

If we are not talking about generating the custom `package.json` files now (which should be a separ

[2019-09-09 05:53] alexarg opened #1516 "Generated pnpm-lock.yaml lists all dependencies as non-dev dependencies"
We've noticed that in the pnpm-lock.yaml file all of the packages that are listed have flag "dev: false", even when it is obvious that it is a dev dependency. Example:

[code]

The expectation is that for packages that come from devDependencies attributes of package.json should have "dev: true"

[2019-09-09 17:40] rakeshpatnaik commented on #1516
@iclanton

[2019-09-09 18:57] chbota commented on #1492
Hey Sachin,

Thanks for taking a look.

I think my repro of the issue is incomplete. We're seeing behavior in an internal repository where the version specified in `temp/pnpm-lock.yaml` and the linked version in our package's `node_modules` folder are both `typescript@3.6.2`, rather than `typescript@3.5.1`. In that internal repository, we arrived at this state as a result of the release of `typesc

[2019-09-11 01:29] bruk1977 commented on #1343
@octogonz any progress on this one using @tbrannam suggestions?

[2019-09-11 15:14] ahutchings commented on #1350
@octogonz would you mind publishing a new version of api-extractor with your fix from #1400? I am using the latest version of @microsoft/api-extractor (7.4.1) but it doesn't appear to contain the change.

[2019-09-11 16:33] octogonz commented on #1350
Ermm... That is really strange. I'll take a look.

[2019-09-11 17:36] octogonz commented on #1350
Ohhh... it looks like this PR was accidentally closed instead of merged. 😇

@ahutchings  Thanks very much for pointing this out!  I'll reopen PR #1400 and get this fixed.

[2019-09-11 18:15] #913 closed

[2019-09-11 19:37] #1350 closed

[2019-09-11 20:45] ahutchings commented on #1350
Thanks @octogonz!

[2019-09-11 20:46] octogonz commented on #1350
(Released in 7.4.2)

[2019-09-11 21:44] iclanton commented on #1494
This has been released in Rush 5.13.0.

[2019-09-11 21:44] #1494 closed

[2019-09-11 21:45] iclanton commented on #913
This has been released in Rush 5.13.0.

[2019-09-11 22:34] renoirb opened #1522 "[rush] Document how to publish to private self-hosted GitLab and Sonatype Nexus registry with uncommon port numbers"
- [ ] Feature
- [*] Bug

In a corporate setting, we have our own self-hosted Sonatype Nexus registry and our own self-hosted GitLab. Here are the settings I can use (anonymized, of course)

* **registry**: `https://nexus.foo.bar.example.org:50043/repository/npm-hosted`
* **GitLab**: `https://git.foo.bar.example.org:50043/orgName/project-name.git`

With Yarn/npm i could publish with an `~/.npmrc` t

[2019-09-12 19:05] arinwt opened #1523 "[api-extractor] ae-forgotten-export for casted base class"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
Even when all involved types are exported, I get an ae-forgotten-export error when extending a casted base class.

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to

[2019-09-13 18:53] octogonz commented on #1522
(Related conversation  [on Gitter](https://gitter.im/web-build-tools/web-build-tools?at=5d7be3d97d454929c9a6c9d6).)

Did you try using the `--npm-auth-token` parameter for `rush publish`, like in [common/config/azure-pipelines/templates/buildAndPublish.yaml](https://github.com/microsoft/web-build-tools/blob/master/common/config/azure-pipelines/templates/buildAndPublish.yaml)?

Generally we wouldn'

[2019-09-13 18:54] octogonz commented on #1522
Also, the [Publishing packages](https://rushjs.io/pages/maintainer/publishing/) docs might be helpful.

[2019-09-13 20:14] lhorie opened #1524 "[rush] avoid global shrinkwrap file conflicts as much as possible"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ x ] Feature
- [ ] Bug

**Please describe the actual behavior.**

When many team members are working simultaneously in a monorepo, they may change the shrinkwrap file in different ways, causing conflicts when merging in version control. This is disruptive and the least t

[2019-09-13 20:27] lhorie opened #1525 "[rush] Make Node and Rush installation hermetic"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

Currently, Rush can download and manage the version of the package manager, but not of Node and Rush itself. This means different team members could run into machine-specific issues if they have different ve

[2019-09-13 21:02] lhorie opened #1527 "[rush] `rush add` doesn't work with yarn"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

Running `rush add` with yarn as the package manager doesn't work. After running it, it seems the lockfile gets into a bad state and we needed to run `rush update --full --purge` to get back to a working stat

[2019-09-13 21:06] octogonz commented on #1522
@deanbot appear to have a related issue.  In his case, the problem was that rush.json's `repository.url` did not exactly match the `git remote get-url origin` strings.

To address that part of this problem, I think we should do a quick PR that:

1. Relaxes the [getRemoteMasterBranch()](https://github.com/microsoft/web-build-tools/blob/84695ec9b9a8001e0abc8e7019a7939bd1c9e0bb/apps/rush-lib/src/util

[2019-09-13 21:11] octogonz commented on #1522
@deanbot 's repro involved URLs of the form:

`https://my-tenant.visualstudio.com/my-project/_git/my-repo`

vs

`my-tenant@vs-ssh.visualstudio.com:v3/my-tenant/my-project/my-repo`

[2019-09-13 21:15] octogonz commented on #1522
Maybe we can use the [normalize-git-url](https://www.npmjs.com/package/normalize-git-url) package to sort this out.

[2019-09-13 23:37] renoirb commented on #1522
Yes, I tried with the --npm-auth-token.
I'll document better everything I've tried when I get back to ny workstation.
But errors came up because of trying to get history using git. Because it's not over ssh, with a different port.

[2019-09-14 00:40] bruk1977 commented on #1527
this looks a dupe

https://github.com/microsoft/web-build-tools/issues/1343

[2019-09-14 22:16] NikitaIT commented on #886
@octogonz
I have 2 projects one with vue-cli and one with webpack.
when i installed through:
- pnpm 3.8
i found errors:
https://github.com/vuejs/vue-cli/issues/4571
https://github.com/pnpm/pnpm/issues/1678#issuecomment-469981972
https://github.com/pnpm/pnpm/issues/1678
https://github.com/webpack/webpack/issues/5087
and etc
- yarn 1.10.1
i found errors:
https://github.com/yarnpkg/yarn/issues/3967
a

[2019-09-14 22:20] NikitaIT commented on #886
NPM was my last hope and I left it here

[2019-09-15 15:19] gregjacobs commented on #1443
Hey @octogonz, @apostolisms, sorry for the late reply on this. Thanks so much for fixing!

[2019-09-15 20:01] phryneas commented on #1050
I believe we're also encountering that bug when trying to build https://github.com/async-library/react-async with pika, which internally uses api-extractor.

Typescript creates type files with import type references like `state: AsyncState<T, import("./Async").AbstractState<T>>;` and api-extractor then fails to inline those, resulting in a final file like this: https://gist.github.com/phryneas/d10

[2019-09-15 21:01] sadsa opened #1528 "[rush] - rush publish not publishing to private npm registry"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

I don't know about anyone else, but I've spent the last 3 days trying to figure out how to publish my projects to our private npm repo. Any help would be much appreciated from those who have already gone through the same pain.

I have set the following settings in the rush.json:

[code]
My process is as follows:

1. `git checkout feature/12

[2019-09-15 21:29] sadsa commented on #1528
Well, now I'm really confused. I ran the following command this mornign and it worked.

`rush publish --apply --publish --target-branch develop --npm-auth-token ${NPM_TOKEN} --add-commit-details`

Maybe an error was thrown around formatting of the `--registry` or `-r` argument?

[2019-09-15 21:49] octogonz commented on #1050
@phryneas Can you share a repro branch that I could use to investigate/debug this?

[2019-09-15 22:11] octogonz commented on #1050
As far as the repro above, what's happening is that the type of `x` is not explicitly declared:

**index.ts**
[code]

Newer versions of the TypeScript compiler (>= 3.2) have started emitting the inferred type into the output, like this:

**index.d.ts**
[code]

The ugly-looking `import("./nested")` is generated I suppose because the compiler wants to avoid introducing a new local symbol in the file

[2019-09-15 22:25] octogonz commented on #886
@NikitaIT Could you share a repro of your build that failed using PNPM?

I've heard from several people that `vue-cli` does not correctly declare its imports, making it incompatible with PNPM and Yarn Plug'n'Play.  I remember seeing that their [Troubleshooting](https://cli.vuejs.org/guide/troubleshooting.html) page says *"It is because webpack resolves symlinks to their real locations by default,

[2019-09-15 22:55] RDeluxe opened #1529 "[rush] Dependency of dependency not installed"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

I'm working on a project using [NextJs](https://github.com/zeit/next.js/).
I'm using a plugin, [@zeit/next-css](https://github.com/zeit/next-plugins/tree/master/packages/next-css) which has several dependenc

[2019-09-16 01:52] sachinjoseph commented on #1529
Can you also include the steps to repro the issue?

[2019-09-16 06:34] phryneas commented on #1050
You pointed me in the right direction to circumvent this bug - and pinpoint it in our case.
In case you're interested, here's the commit that still encounters the bug, but I'll explain it below:
https://github.com/phryneas/react-async/blob/0321c69f1bc4df61f89fa127045fbbb24add087f/packages/react-async/src/helpers.tsx

In this case, we have this method signature:
[code]

Now, `AsyncState` takes an o

[2019-09-16 06:45] RDeluxe commented on #1529
Sorry, true I forgot. It's a 2 step process, I added the command to my post.

[2019-09-16 11:28] buffcode commented on #831
I would expect `preferredVersions` to be used for this? We wuold like to update some indirect dependencies due to security issues but rush will only add the prefererred version in addition to the older indirect dependency.

A global solution would be nice and though #1360 addresses this on package level, I think should be a first level option within rush itself for the whole mono-repo, in order to

[2019-09-16 12:23] RDeluxe commented on #1529
After digging more, it seems next as whole is really not pnpm friendly.

The SSR part expects a flatten node_module folder apparently, I have no idea how to mitigate this.

[2019-09-16 14:58] octogonz commented on #1529
Typically these incompatibilities center around two problems:

1. A package imports a dependency without declaring it in **package.json**. We call this a [phantom dependency](https://rushjs.io/pages/advanced/phantom_deps/). This is usually easy for the package maintainers to fix.  It's often as simple as adding a line to their **package.json**.  To test a proposed fix, with PNPM you can use the **

[2019-09-16 15:06] RDeluxe commented on #1529
Thank you for your answer.

I'm aware that this may be caused by the way Next hand their dependency, even if in this case this is probably more problem number 2. I have no idea how to debug something like this however.

Actually with Next you can have problem at build time (ie: the example provided here) and then at runtime.

I'm not quite sure I can make them do anything about it to be honest, an

[2019-09-16 16:33] wbern commented on #1511
I always instinctively assume that once I'm in the common directory, I should be seeing rush files. But I turn out wrong every time obviously. I think it would make more sense to have a .rush folder name and put the package manager name underneath it or something, not sure, but moving everything up one level from the rush folder.

A minor pain to move everything around but that's my thought anyway

[2019-09-16 17:58] rakeshpatnaik commented on #1527
Closing this as a dupe. Tracking in #1343

[2019-09-16 17:58] #1527 closed

[2019-09-16 20:09] RDeluxe commented on #1529
Thanks for your attention, to be honest this should probably be closed for now as it's more a PNPM "issue".

A PR was opened for this : https://github.com/zeit/next-plugins/pull/415

But they closed it for now because they are thinking about a future architecture for CSS handling in Next.js.

However PNPM 4 support would be great.

[2019-09-16 20:13] RDeluxe commented on #1116
I have no problem whatsoever during the first `rush update` call.

Afterwards I get the same error

[2019-09-16 22:40] renoirb commented on #1522
More info:

Nexus registry is ONLY through TLS (`https://nexus.foo.example.com:50043/repository/npm-hosted/`). We can't work with opening non TLS port.

Here are a few error logs I've got

----

    rush publish \
            --publish \
            --apply\
            --publish \
            --version-policy libraries \
            --include-all \
            --set-access-level public \

[2019-09-16 23:53] renoirb commented on #1522
I might be stuck using, [as per **Nexus** docs](https://help.sonatype.com/repomanager3/formats/npm-registry#NpmRegistry-AuthenticationUsingBasicAuth)

    registry = https://nexus.foo.example.com:50043/repository/npm-hosted/
    email=renoirb@example.com
    always-auth=true
    _auth=secrettokenstring

[2019-09-17 00:01] sadsa opened #1530 "[rush] rush build causes error when running build script"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

`rush build` fails with the error `Cannot resolve dependency 'stylis-rule-sheet'`. The `node_modules` folder contains a `styled-components` with its own `node_modules` and we can see `stylis-rule-sheet` installed.

Reproduction steps:
1. Clone [the repo](https://github.com/sadsa/rush-parcel-styled-c

[2019-09-17 00:12] sadsa commented on #1530
Side note: running `npm i styled-components@^4.3.2` and then `rush build` solves this issue, however I would like to continue using PNPM.

[2019-09-17 00:53] sadsa commented on #1530
The generated symlink to styled-components seems points to `C:\Users\---\Projects\---\arc-mono\common\temp\node_modules\.registry.npmjs.org\styled-components\4.3.2\node_modules\styled-components` which contains no `node_modules` folder

[2019-09-17 01:58] sadsa commented on #1529
@RDeluxe - I've ben chansing the same issue for days now. In my case, I'm using Parcel as a bundling tool and it seems to be the way modules are being resolved within the parcel-bundler itself. This could potentially be the same issue with NextJS.

See:

- [existing issue on Github](https://github.com/parcel-bundler/parcel/issues/1125)
- [a PR submitted to fix this](https://github.com/parcel-bundl

[2019-09-17 01:59] sadsa commented on #1530
I'm using Parcel as a bundling tool and it seems to be the way modules are being resolved within the parcel-bundler itself.

See:

- [existing issue on Github](https://github.com/parcel-bundler/parcel/issues/1125)
- [a PR submitted to fix this](https://github.com/parcel-bundler/parcel/pull/2946)

[2019-09-17 02:08] renoirb commented on #1522
Well, it seems that if somewhere in the path for `.npmrc` (e.g. `~/.npmrc`) with credentials for Nexus like comment above

## NPM config from where to release

[code]

And rush

[code]

## Version policy

`cat common/config/rush/version-policies.json`

[code]

In **rush.json**

[code]

Assuming you've bumped version

[code]

Commit affected packages, tag in some way, etc.

To publish packages (i.e

[2019-09-17 02:11] sadsa commented on #1530
I can confirm that the PR submitted to Parcel fixes this issue. Closing until Parcel merge the pending PR [https://github.com/parcel-bundler/parcel/issues/1125]

[2019-09-17 02:12] #1530 closed

[2019-09-17 13:03] Jabher opened #1531 "[rush] common console output should be piped to stderr, not stdout"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**
- Bug

**Please describe the actual behavior.**

When I'm running any rush command (including custom ones from command-line.json) I expect to pipe output only with items I've passed to `stdout`, not what rush is writing to `stdout`.

**If the issue is a bug, how can we repro

[2019-09-17 17:27] DylanVann opened #1532 "[api-extractor] Ability to bundle types into .d.ts rollup."
- [x] Feature
- [ ] Bug

## Example

- `@company/main` depends on `@company/utils`.
- `@company/utils` is not published and is bundled into `@company/main` using a bundler like Rollup.
- Currently `import {x} from '@company/utils'` will appear in the declaration file for `@company/main`, which won't work for consumers.
- It would be useful to be able to specify that types of `@company/utils` shoul

[2019-09-17 17:37] renoirb commented on #1522
Updated example and full use-case is now published [npmjs.com/search?q=@renoirb](https://www.npmjs.com/search?q=%40renoirb) and up-to-date.

* **@renoirb/conventions-use-bili** [NPM public package](https://www.npmjs.com/package/@renoirb/conventions-use-bili), [GitHub repo, in `conventions/use-bili`](https://github.com/renoirb/experiments-201908-rush-typescript-just-bili-monorepo/tree/master/conven

[2019-09-18 04:46] tylerbutler commented on #1523
@iclanton @octogonz Does this look familiar?

[2019-09-18 04:53] octogonz commented on #1532
@DylanVann Here is an initial sketch of this idea: PR https://github.com/microsoft/web-build-tools/pull/1533

This initial sketch handles `import {x} from '@company/utils';` but is missing the logic for handling `import {x} from '@company/utils/some/path';`.

Could you give it a try and let me know if it solves your problem?

To use it, you would add a line like this to your api-extractor.json:

[

[2019-09-18 04:53] octogonz commented on #1532
@wanderwang FYI

[2019-09-18 06:22] octogonz commented on #1523
Yes `Something_base` is a synthetic symbol emitted in the .d.ts file, but not part of the original code. API Extractor currently doesn't recognize this situation. We should improve that.

That said, /why/ design an API like this? :-) It is pretty strange.

[2019-09-18 15:38] octogonz commented on #1531
Should there be a command-line switch like `--no-banner` or `--terse`?

Rush treats `stderr` output as errors, so `stdout` seems like the right stream to be writing this banner to.

[2019-09-18 17:36] rakeshpatnaik commented on #1528
@iclanton

[2019-09-18 19:28] chbota commented on #1492
@sachinjoseph , have you had a chance to take another look at this?

[2019-09-18 20:53] arinwt commented on #1523
Why is a fair question.  In the example case, I didn't want to expose all public functionality of `Base` in `Something`, only the `IBase` members.

Why the restriction? - `Base` is useful on its own, and by casting it to `IBase` it can have additional TypeScript type restrictions added by limiting it to types from `IBase`.  However, it's not the only solution to that problem.

[2019-09-19 10:53] Jabher commented on #1531
For now - maybe yes, adding `--terse` option for now sounds like a simple solution.

I'm unsure about this.
Generally, `stderr` is used nowadays as a debugging & warnings output, not exactly error-only stream.
It is a pipe for "everything that is not important or meaningful enough to get to stdout".
Simple example - some minifier like uglify will produce following to debugging output (example from

[2019-09-19 13:36] Jabher commented on #1414
I also encountered this.
I would appreciate greatly if some kind of global store is accessible between builds, e.g. in /tmp/pnpm-store, which is expected to be flushed someday and so only used for speedup purposes.

[2019-09-19 20:52] sachinjoseph commented on #1492
No, I haven't had a chance yet to look at this in detail. For now, you should be able specify this version in your preferredVersions:

[code]

[2019-09-19 22:40] xirzec commented on #1029
Any chance this is still being worked on? It would be lovely to have for the Azure SDK.

[2019-09-20 00:00] octogonz commented on #1522
Thanks @renoirb !

I believe Rush does this automatically during publishing.

This is what we do in [common/config/azure-pipelines/templates/buildAndPublish.yaml](https://github.com/microsoft/web-build-tools/blob/master/common/config/azure-pipelines/templates/buildAndPublish.yaml) (the CI job that gets run by Azure DevOps):
[code]

[2019-09-20 02:46] iclanton commented on #1528
That command should be correct. It sounds like things are working for you. Please reopen this issue if that's not the case.

[2019-09-20 02:46] #1528 closed

[2019-09-20 18:15] renoirb commented on #1522
I don't understand the `--target-branch`, if I'm already on master? Or is it expected we MUST ALWAYS bump version from another branch, AND that IT WILL merge into master THEN create git tag, and so on?

[2019-09-20 21:27] renoirb commented on #1522
Hi, here's my bash based build script I've just come up with.

[code]

[2019-09-20 21:59] renoirb commented on #1522
This worked for adding branch

[code]

[2019-09-21 01:26] renoirb commented on #1522
Question is now more:  What is the order we should do things when publishing a package.

Assuming:
- Release of a versionPolicy (a set of package) only is changed (not all)
- run build, tests (both of tem in either order, doesn't matter. E.g. tests are run with AVA that doesn't require transpiling before tests)
- we want to create a release and a changelog
- Update dependents
- package (pack)
- Gi

[2019-09-21 15:26] RDeluxe commented on #978
We are encountering the same issue.

Contrary to Lerna, it seems that Rush was not build around NPM. We rely on it to push applications to production directly, and we don't publish each package on NPM but instead build Docker image that we can use with Kubernetes.

Right now we are encountering the same issues. Static websites (ie. created using Create React App) compiled with webpack can live nic

[2019-09-22 00:54] NikitaIT commented on #886
@octogonz
Repo: rush pnpm by default + vue-cli(dart-sass, babel, typescript) by default
[code]

[code]
Init only:
https://github.com/NikitaIT/rush-vue-cli
- Failed to resolve loader: cache-loader // I know that it will be for all loaders, even fix it for cache-loader
- 36:1 This syntax requires an imported helper but module 'tslib' cannot be found

Symbolic Links in node_modules(Troubleshooting):

[2019-09-23 04:16] adventure-yunfei commented on #1029
Blocking upgrading from AE6 by this, too...

The syntax `export * as something from "./localfile` works on older api-extractor version (tested on 6.1.3), but fails on latest version (7.4.2).

I remember that I should have fixed this case by https://github.com/microsoft/web-build-tools/pull/773.  Is this a regression caused by AE7 refactor?

[2019-09-23 21:54] blacha opened #1539 "[ts-command-line] missing argparse types"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

The newly released `ts-command-line@4.3.0` breaks my build with

[code]

This is caused by `strict:true` or `noImplicitAny:true` in my tsconfig.json

It appears the `@type/argparse` was removed in https://gi

[2019-09-24 02:27] iclanton commented on #1539
Thanks for catching that! I've fixed the missing dependency in https://github.com/microsoft/web-build-tools/pull/1540

[2019-09-24 02:42] #1539 closed

[2019-09-24 04:22] GongT opened #1541 "[rush] Feature request: monorepo level rush add"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**description**
I have some custom command (like "node common/scripts/my-global-command.js") defined in `command-line.json`.
And some hook script (like "postRushInstall: [common/scripts/post-install.js]") in `rush.json`.

I need some extra modules *(eg: rimraf)* from these script. But no easy way to do this.

**workaround**
Add an extra pri

[2019-09-24 05:01] iclanton commented on #1539
Check out `ts-command-line` version 4.3.1

[2019-09-24 05:36] octogonz commented on #1029
@adventure-yunfei  Yes, in AE6 the .api.ts report was created using the original analysis engine, whereas the .d.ts rollups were created using the newer (more accurate) analysis engine.  Thus, in AE6 the `export * as something from "./localfile"` worked for the API report, but it was broken when generating .d.ts rollups.  (The [example](https://github.com/adventure-yunfei/api-documenter-example-ca

[2019-09-24 09:46] GongT commented on #991
https://github.com/GongT/issues/tree/web-build-tools-991

[2019-09-24 14:17] pantoninho opened #1543 "[rush] doubts in the publishing process"
- [x] misunderstanding
- [ ] Feature
- [ ] Bug

I'm trying out Rush and it has been great so far. I'm having some problems on the last step though -- publishing packages.
After setting my public packages (`shouldPublish=true`), I've created a PR targeting the master branch with all the changes gathered by `rush change`. What should be the next step now?

Should I merge the changes in master and us

[2019-09-25 17:44] rakeshpatnaik commented on #1543
Can you try out the steps outlined here and see if that resolves the issue? https://rushjs.io/pages/maintainer/publishing/
@sachinjoseph to provide more details

[2019-09-25 18:02] halfnibble commented on #1541
I want to make sure that I understand your request.

Let's say you have 100 projects in a monorepo. And your custom command needs dependencies A, B, and C, but none of your projects currently have those dependencies.

Would something like `rush add --all -p A -p B -p C` that updates the package.json of every project to include those dependencies work? I believe we have a PR in progress that adds t

[2019-09-25 18:18] pantoninho commented on #1543
@rakeshpatnaik Thank you for your response. After further usage I was able to understand why it was happening (but it's weird nonetheless).
Apparently my `package.json` files were formatted in a different way than pnpm/rush wants and `rush publish` was checking out to the desired branch after the reformatting was done -- causing an error while checking out with modified files.

I solved my issue b

[2019-09-25 22:51] KevinTCoughlin commented on #1541
FWIW, @halfnibble, my use case for a monorepo-wide `rush add` was as you described it above:

The above is also useful if updating a number of existing dependencies to a specific version. Currently it must be done with individual `rush add` calls or manual `package.json` manipulation. Here's my workaround PowerShell script: https://github.com/microsoft/ui-fabric-ts-validation/pull/4/files#diff-b20

[2019-09-26 02:57] GongT commented on #1541
In fact, I do not know what is the best way to add dependency to my scripts.

`rush add --all` seems work, but is it really needed for add dependency for global script?

My script is used to maintaince my monorepo (eg. sync versions between package.json), it should not exists if I do not use a monorepo. so its dependency is not required by any of my projects.

Even `rush add --all` should resolve

[2019-09-26 02:58] #1541 closed

[2019-09-26 03:00] GongT commented on #1541
Mark closed:

`add --all` resolve part of my problem.
And I found a way to resolve require() problem. (but I need some test before post it out).

[2019-09-26 21:24] iclanton commented on #1543
There is another issue discussing not moving fields around in `package.json`s: https://github.com/microsoft/web-build-tools/issues/1503. I think your issue would be covered by that, so I'm going to close this issue in favor of that one.

[2019-09-26 21:24] #1543 closed

[2019-09-26 21:25] iclanton opened #1546 "[rush] Only rebuild packages whose dependencies have changed."
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

When any dependencies anywhere in the repo are changed, `rush build` rebuilds app projects.

**What is the expected behavior?**

Only rebuild projects that are affected by the changed dependencies.

[2019-09-26 21:32] iclanton commented on #1546
This issue is addressed here: https://github.com/microsoft/web-build-tools/pull/1526

Right now, the `common/config/<shrinkwrap>` file is included in the `package-deps.json` file (the file used to track files inside projects that have changed). This change drops a `project-dependencies.json` in the `<project>/.rush/temp` folder and instead includes that file in the `package-deps.json` file.

The `

[2019-09-26 21:44] sadsa opened #1547 "[rush] rush update throws error - Invalid tag name"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

When running `rush update` or `rush install` I get the follow error:

[code]

**What is the expected behavior?**

I'm not sure where this error is coming from nor how to resolve it. Curiously, deleting the `pnpm-lock.yaml` and running `rush update` file seems to resolve the issue.

* **Tool: Rush 5.

[2019-09-27 17:34] iclanton commented on #1547
@sachinjoseph is working on fixing this issue in https://github.com/microsoft/web-build-tools/pull/1542. Can you try this on Rush 5.11.X?

[2019-09-27 17:55] KevinTCoughlin commented on #1547
@iclanton, I have an internal repro of this exact bug with Rush `5.13.0`. It does not occur with Rush `5.11.0`. We can use that to validate a fix if need be.

[2019-09-27 23:04] alexeagle commented on #1525
Maybe Bazel and Rush should be best friends :)

I'm the owner of rules_nodejs (canonical JS/Node support in Bazel) and happy to discuss!

[2019-09-29 10:37] giniedp opened #1550 "[api-documenter] render remarks on top of the page"
The markdown documenter renders the remarks at the bottom of the page. Is this a design decision? I'd prefer to have the remarks after the summary and before the member sections. If this is by design, can we have an option or a pluggable mechanism to change the rendering order?

[2019-09-29 21:42] sadsa commented on #1547
I can confirm that Rush 5.11.0 does not throw the error

[2019-09-29 23:49] octogonz commented on #1550
It's by design.  But we've been working on an **api-documenter.json** config file that will enable these sorts of customizations.

[2019-09-29 23:59] octogonz commented on #1550
@giniedp I assume that you're asking for remarks to appear before the "members" tables, such as on the page for an `interface` or `namespace`.  ([Example](https://rushstack.io/pages/api/node-core-library.filesystem/))

Or are you also wanting the remarks to appear above the "parameters" table for a function?  ([Example](https://rushstack.io/pages/api/node-core-library.executable.spawnsync/))

To m

[2019-09-30 05:25] giniedp commented on #1550
yes, exactly. [like here](https://docs.microsoft.com/en-us/javascript/api/sp-core-library?view=sp-typescript-latest)
For methods and functions etc. its ok to place the remarks after the parameters where the table is small, and does not push the remarks out of sight.

[2019-09-30 07:13] Jeffy2012 opened #1551 "[api-extractor] Is there some way to support multiple language"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [X] Feature
- [ ] Bug

[2019-09-30 09:41] jiazhewang commented on #1551
We do need to write the docs in two languages.

We tried to use customized tags, such as inline tag `{@cn ...}` for Chinese version and `{@en ...}` for English version. The code would be like this:

[code]

But it seems that inline tags could not be nested. For example, `{@en This is a {@Link field | www.whatisfield.com}...}`

So, we modified the rules a little bit. One @lang tag followed by a par

[2019-09-30 12:50] KarishmaGhiya opened #1552 "[api-extractor] Different ordering in api properties with node 10 and node 12"
## [api-extractor] Different ordering in api properties with node 10 and node 12

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
Different ordering of the api properties with node 10 and node 12.

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved

[2019-09-30 17:14] octogonz opened #1553 "[rush] Support native package manager workspaces"
NPM recently announced that version 7 will finally provide support for monorepos.  Today, the monorepo support implemented by Yarn and PNPM is already reasonably close to what we do in `rush install` and `rush link`.  Thus, we're planning an overhaul of Rush that would delegate most of the installation/linking operations to the underlying package manager.  I'm opening this thread to track that eff

[2019-09-30 17:15] octogonz commented on #886
BTW I've opened this issue to track the feature to enable Rush to use the package manager's monorepo support (workspaces): https://github.com/microsoft/rushstack/issues/1553

[2019-09-30 17:16] rakeshpatnaik commented on #1547
@sadsa
The issue is fixed in 5.13.1. Please check and let us know if you still see the issue.

[2019-09-30 18:22] KevinTCoughlin commented on #1547
I can confirm upgrading to `5.13.1` fixed the issue for us. Thanks @sachinjoseph!

[2019-09-30 18:26] #1547 closed

[2019-09-30 18:47] octogonz commented on #1552
The API members are sorted in [ApiItemContainer.members](https://github.com/microsoft/rushstack/blob/47e9194e61e6d065d69394d0e334c18b976de180/apps/api-extractor-model/src/mixins/ApiItemContainerMixin.ts#L146) based on [ApiItem.getSortKey()](https://github.com/microsoft/rushstack/blob/47e9194e61e6d065d69394d0e334c18b976de180/apps/api-extractor-model/src/items/ApiItem.ts#L259).  Not sure why the res

[2019-09-30 18:58] octogonz commented on #1551
This question applies to TSDoc as much as to API Extractor.  It was previously discussed here: https://github.com/microsoft/tsdoc/issues/153

My thinking is that the doc comments should contain only the primary language, and then the other languages should be managed via data files.  One reason is that it would be cumbersome to clutter up the source code with translations for 50+ languages.  Anoth

[2019-09-30 19:17] iclanton opened #1555 "[rush] Support an array of repository URLs in rush.json."
**Is this a feature or a bug?**

- [ ] Feature
- [ ] Bug
- [x] Both?

**Please describe the actual behavior.**

We recently renamed this repo, which means that the git clone URL changed from `https://github.com/microsoft/web-build-tools.git` to `https://github.com/microsoft/rushstack.git`. I just ran `rush change` in this repo and it wasn't able to determine which branch to diff against because my

[2019-09-30 20:11] wbern commented on #1555
Actually this is a good suggestion, we are also going through issues where some users are using an old path in their local git repository to this day, and get warnings because of it.

[2019-09-30 20:42] octogonz commented on #1555
Maybe we can also include the two suggestions from https://github.com/microsoft/rushstack/issues/1522#issuecomment-531391023, perhaps using the **normalize-git-url** package mentioned in that thread.

[2019-09-30 20:44] octogonz commented on #1552
@KarishmaGhiya Which output file were you referring to?  In your repro, the .d.ts rollups look the same, and the .api.json file is not enabled.  Thus the only difference I see is in the API report file, for this one constructor overload:

[code]
versus
[code]

[2019-09-30 20:50] mikeharder commented on #1552
@octogonz: I believe the different ordering of the constructor overloads is the exact issue we are reporting.  This ordering is different across Node 10 and Node 12.

[2019-09-30 21:13] octogonz commented on #1552
The API report uses [Collector.getSortKeyIgnoringUnderscore()](https://github.com/microsoft/rushstack/blob/18b34857f4b77ddc58c769c7b2aeffab61efadf0/apps/api-extractor/src/generators/ApiReportGenerator.ts#L290).

All three constructors get the same sort key value of `"_constructor*_constructor*_"`, which means they should preserve their original ordering from the source file, since `Array.prototype

[2019-10-01 02:50] octogonz commented on #1550
@giniedp Thinking about this more, what you're proposing seems to be a better design than the current behavior (which was modeled after DocFX, which I believed used to do it this way).  Maybe we should simply change it.  I'm not sure we need to make it configurable.

Are you able to create a PR?

[2019-10-01 05:04] giniedp commented on #1550
i'll look into it in the next 2 days. Shouldn't be a problem.

[2019-10-01 06:59] iclanton opened #1558 "[rush] Rush change doesn't handle a repo with no remotes."
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

Running `rush change` (even with `--no-fetch`) in a repo with no configured remotes causes an exception to be thrown:

[code]

**If the issue is a bug, how can we reproduce it? Please provide detailed steps

[2019-10-01 09:10] iclanton commented on #1555
What was @deanbot's problem? Was it `https://my-tenant.visualstudio.com/my-project/_git/my-repo` vs `my-tenant@vs-ssh.visualstudio.com:v3/my-tenant/my-project/my-repo`?

I think with this feature, he'd want to just specify both of those URLs. I'm uncomfortable with Rush trying to translate between the two. Introducing Azure DevOps (or any source control provider) -specific URL transformations in R

[2019-10-01 10:14] Beretta1979 commented on #1366
Hi I would like to contribute and take op this task. However, I do not find any information of how to start this. The link https://github.com/microsoft/rushstack/wiki/Contributing-to-this-repo seems to be dead. How do I continue?

[2019-10-01 10:51] octogonz commented on #1366
That document was moved here: https://rushstack.io/pages/contributing/get_started/

Where was the broken link?

[2019-10-01 13:03] Beretta1979 commented on #1366
https://rushjs.io/pages/contributing/

[2019-10-01 13:04] Beretta1979 commented on #1366
Can you give a hint about where this config option should reside and a good name for it?

[2019-10-01 13:21] levahim commented on #1366
I'd say it should be something similar to tsc's --newLine option.

[2019-10-01 15:20] octogonz commented on #1366
@iclanton I seem to remember at one point considering to switch to LF everywhere without any option. But I can't find the thread. Am I misremembering that?

[2019-10-01 15:45] Beretta1979 commented on #1366
My PR would be to change it everywhere indeed (also for the rush files). But configurable is fine for me.

[2019-10-01 15:51] octogonz commented on #1366
Could you do a quick search of GitHub to see if anyone is actually using `tsc`'s newline option? If it's commonly used, then I think AE would be expected to support this at least for the .d.ts rollups.

[2019-10-01 17:10] bgotink opened #1559 "[api-extractor] packageJson option is ignored"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

The `packageJson` configuration property is ignored. If the option isn't set, the package manifest gets read by `@microsoft/api-extractor` but if the `packageJson` option is passed in, an empty `packageJson` will be used by the program. That leads to runtime errors.

**What is the expected behavior?

[2019-10-01 23:20] #1411 closed

[2019-10-02 09:10] wbern commented on #1553
Absolutely vital to rush so we can leverage functionality from pnpm and the other managers better!

[2019-10-02 11:52] thealjey opened #1562 "[api-extractor] using any types defined in the "react" package causes "api-extractor" to fail"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

[code]
[code]

**What is the expected behavior?**

successful api extraction

**If this is a bug, please provide the tool version, Node.js version, and OS.**

- api-extractor version ^7.4.6
- nodejs version v12.11.1
- yarn version 1.19.0
- MacOS Mojave 10.14.6
- yarn workspaces and yarn PnP

[2019-10-02 18:39] wbern opened #1563 "[rush] Incremental builds should be more self-explaining and flexible"
# Problem
Rush offers incremental builds via rush build, and now most recently, via custom commands (`incremental: true` flag in command-line.json). As per docs.

As amazing the feature is, there are problems with rush's incremental build feature.
1. Transparency ("why did it build that package again?")
2. Configuration ("I don't want it to rebuild on stderr output!")
3. Extensibility ("I have an

[2019-10-02 18:41] wbern commented on #1563
To add my own 2 cents here, I have run into the issue where and my colleagues don't know why rush has rebuilt packages. While I could get to the bottom of it by searching and asking around, it took me way longer to realize that, for example, `rush update` could invalidate all projects' build cache.

[2019-10-02 20:03] danwbyrne opened #1564 "[rush] Allow 'quiet' rush commands"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

When using a custom lint tool such as `my-build-tools/src/lint.ts`:
[code]

and then running via the command-line in a bulk command where the script in each `package.json` is:
[code]

and finally the command

[2019-10-02 20:10] Beretta1979 commented on #1366
People seem to use it ...

[2019-10-02 23:09] octogonz commented on #1562
I can't repro this; the `foo()` function is analyzed successfully.  As far as I can tell, `@types/react` version `16.9.4` doesn't declare any symbol `externalModuleIndicator`, nor does API Extractor.

@thealjey Could you share a GitHub branch that repros this error?

[2019-10-02 23:29] octogonz commented on #1366
Ok. To speed this up, lemme create a branch that sets up the config settings for you, and then you can fill in the rest.

[2019-10-03 00:54] octogonz commented on #1366
@Beretta1979 Here's a branch that sets up the config file settings for API Extractor and API Documenter: [octogonz/issue1366](https://github.com/microsoft/rushstack/compare/b5f00a5314fbc0235c41e6aa16cc5c0067ca794d...octogonz/issue1366)

In order to use the experimental **api-documenter.json** config file, you need to use the `api-documenter generate` CLI instead of `api-documenter markdown`.  Note

[2019-10-03 01:02] octogonz commented on #1559
Oops. 😇  I guess this was overlooked since in most cases it re-loads the right data.

[2019-10-03 03:43] octogonz commented on #1525
@lhorie That's not entirely true.  The Rush version you get is determined by the [rushVersion](https://rushjs.io/pages/configs/rush_json/) setting in **rush.json** for each repo.

For example, suppose a long time ago you ran `npm install -g @microsoft/rush` and you got Rush version 5.9.1.  This globally installed binary is just a minimal launcher.  If you now run `rush -h` inside a repo folder wit

[2019-10-03 03:58] octogonz commented on #1525
Bazel seems pretty interesting. I need to read more about it.

One potential downside is that it seems a bit complicated to install.  You need an installer with prebuilt binaries, as well as a number of prerequisites.  The "standard" for NodeJS is to require only NodeJS and VS Code.  Minimizing prerequisites makes life easier for people who contribute to many different GitHub projects.

[2019-10-03 09:22] Beretta1979 commented on #1366
Great, I will probably continue this during the weekend ...

[2019-10-03 09:24] Beretta1979 commented on #1366
Forget about the PR I opened, this was done before I read the last comments you posted

[2019-10-03 09:40] thealjey commented on #1562
sure, will try to do that over the weekend

[2019-10-03 10:18] Shubham-2k17 opened #1568 "[rush] package.json vars not accessible in npm-scripts"
## [rush] package.json vars not accessible in npm-scripts ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

Node env is not available in npm scripts
[code]

`rushx xyz` doesn't print anything, but `npm run xyz` prints `my-pkg`.

On investigation i found that none of the npm env variables are available in scripts.

Reference link: https://docs.n

[2019-10-03 11:56] thealjey commented on #1562
had the time to do it today
https://github.com/thealjey/api-extractor-error

[2019-10-03 12:06] thealjey commented on #1562
lol, only after making the repo did I figure out what the problem/solution was
typescript does not support yarn PnP completely
it seems like api-extractor doesn't either
the strange thing is that it works perfectly until you reference the "react" module
and I could've sworn that it used to work before, like a week ago (I have no idea what changed)

anyway, `pnpify` makes it work just fine, and tha

[2019-10-03 12:06] #1562 closed

[2019-10-03 13:44] toolness opened #1569 "'@microsoft/ts-command-line' cannot be found/imported when TS module generation is set to es2015 or esnext"
Hello!  I wanted to use `@microsoft/ts-command-line` in my project and after running `yarn add @microsoft/ts-command-line` and adding an `import` statement to one of my files, received error `TS2307` claiming that `@microsoft/ts-command-line` couldn't be found.

After starting a new project from scratch, I narrowed the error down to the `module` setting in `tsconfig.json`: if it's set to `commonjs

[2019-10-03 16:53] srideshpande opened #1571 "[api-extractor] AE should throw errors instead of warnings when a @beta api is added on a @public interface"
- [ ] Bug

**Please describe the actual behavior.**
Situation is, there is a public api as below -
[code]

Now, I have a requirement to add a new parameter on the above method, and then it looks like below -
[code]
Here the new interface `IC` is defined as @beta as below -
[code]

When I run AE in this scenario, the api.d.ts file generated will now have a warning something in the lines of - you're

[2019-10-03 18:42] lhorie commented on #1525
Ah, interesting. Thanks for the correction.

It's been a while since I ran into issues so forgive me if my details are fuzzy, but IIRC, the issue I ran into was that some CI machines we had were running on Node 0.10.x (yes, I know.... don't ask) and that was causing problems w/ bootstrapping Rush.

Bazel itself actually doesn't manage its own version. There's another package that does that (called

[2019-10-03 21:38] #1559 closed

[2019-10-04 12:14] alexeagle commented on #1525
Bazel is mirrored to npm at `@bazel/bazel` and you can skip their install prerequisites (other than bash/msys on Windows right now, but we're working to remove that)
So the way we use this in the node ecosystem is generally idiomatic and users don't need to know that `@bazel/bazel` is in the `devDependencies`

[2019-10-05 21:35] giniedp commented on #1550
Finally got some minutes to spare and filed a pull request on this.

[2019-10-05 23:23] octogonz commented on #1550
Great, thanks @giniedp!

[2019-10-06 00:05] willmtemple commented on #1432
This has just bitten me with vscode-eslint as described in this (closed) bug report on that repo:

Microsoft/vscode-eslint#770

pnpm 2.15.1

[2019-10-06 00:12] #1532 closed

[2019-10-06 00:38] octogonz commented on #1550
This was published as api-documenter 7.5.0

[2019-10-06 00:38] #1550 closed

[2019-10-06 00:39] octogonz commented on #1532
This feature was published as with API Extractor 7.5.0

[2019-10-06 00:41] octogonz commented on #972
Support for overloaded functions was published with API Extractor 7.5.0.

I'm still open to supporting this for other types of declarations, but (as noted above) someone needs to propose some constraints for what is safe to allow.

[2019-10-07 04:31] octogonz opened #1573 "[rush] Enable Prettier integration"
I'm opening this issue to track the plan for replacing TSLint with the new [\@microsoft/eslint-config-scalable-ts](https://github.com/microsoft/rushstack/tree/master/libraries/eslint-config-scalable-ts) package that uses ESLint+TypeScript+Prettier.

Here's a rough outline of the steps:

1. (Done) Converted the [TSDoc repo](https://github.com/microsoft/rushstack/tree/master/libraries/eslint-config-

[2019-10-07 04:32] octogonz commented on #1573
For reference the PR https://github.com/microsoft/rushstack/pull/1369 discussion contains some of our rationale behind the decision to adopt Prettier.

[2019-10-08 09:09] Johbrun commented on #1116
Same here

[2019-10-08 17:01] danwbyrne opened #1574 "[Rush] Allow empty parameter defaults"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

If I have a global command:
[code]

I am unable to pass a non-defined argument to jest:
[code]

Since the `choice` I would define as a parameter is not pre-defined.

**What is the expected behavior?**

I am able to inform rush of initial arguments that are not pre-defined for commands like `jest`.

[2019-10-08 17:24] octogonz commented on #1569
Hmmm...  My understanding was that `es2015` is not very well supported yet for NodeJS projects.  Here's a recent article that seems to support this view:

https://medium.com/@iamstan/typescript-es-modules-micheal-jackson-2040216be793

Why are you wanting to use `es2015`?  Could you share a link to a serious NodeJS project that uses TypeScript+ES2015?  I'd be interested to see how they set it up.

[2019-10-08 17:32] octogonz commented on #1552
@KarishmaGhiya are you able to create a PR?

[2019-10-08 18:39] toolness commented on #1569
Ah, no worries, I ended up just switching my project to use `commonjs` after running into all kinds of roadblocks!  I'll close this issue now.

[2019-10-08 18:39] #1569 closed

[2019-10-08 21:57] wbern commented on #1563
I said the same thing to a colleague @octogonz but in his case it was more about something else.

Of course, #1526 still helps the case this issue is trying to make, but it's not enough in my opinion if we're going to make this feature as well-utilized as it deserves to be.

[2019-10-08 22:21] KarishmaGhiya commented on #1552
@octogonz I haven't got a chance to follow up on this yet. I will let you know after I create a PR. Thanks.

[2019-10-08 23:24] octogonz commented on #1552
BTW if you need some pointers, I'm reachable on [Gitter](https://gitter.im/octogonz).

[2019-10-09 08:08] RDeluxe commented on #1529
Hey!

I solved my problem by cloning and using my own versions of Next-plugins (applying the aforementionned fixes).

Took me some time though. Good to know that Parcel if unusable with PNPM for now

[2019-10-09 18:31] danwbyrne commented on #1574
It seems like `jest` also accepts dashed-arg format so I could use `--test-path-pattern`.

Still,

[2019-10-09 18:31] #1574 closed

[2019-10-09 19:42] mpiroc opened #1578 "[rush] Rush does not install (non-phantom) dependencies of `parcel-bundler`"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

When I run `rush update --full` or `rush install` and a package listed in `rush.json` depends on `parcel-bundler`, rush does not install the dependencies listed in `parcel-bundler`'s `package.json`.

See the

[2019-10-09 22:17] mpiroc commented on #1578
I reproduced the same issue on the LTS version of NodeJS (10.16.3).

[2019-10-10 18:31] rakeshpatnaik opened #1579 "[Rush] Rush v 5.15.0 fails with "command line is too long" error"
**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**
bumping up the version to v5.15.0 causes failure in build.

Steps:
Pull the latest
Build using rush build

**What is the expected behavior?**
Build should work fine.

Actual behavior:
Fails with the error - The command line is too long.

**If this is a bug, please provide the tool version, Node.js ve

[2019-10-10 19:11] mpiroc commented on #1578
I think this is actually a combination of two issues, both of which are external:

1. https://github.com/parcel-bundler/parcel/issues/1125
2. I was wrong about the phantom dependencies--parcel does have a single phantom dependency (`babel-types`). I suspect this is a bug in parcel because it does declare a dependency on `@types/babel`.

For now, I'm using the following workarounds:

1. For https:/

[2019-10-10 23:10] iclanton commented on #1574
Unfortunately, our command-line parser doesn't yet support arguments that aren't attached to a named parameter.

Supporting this is something we've wanted to do for a while, but it hasn't been a high priority.

[2019-10-10 23:12] #1579 closed

[2019-10-11 15:00] danwbyrne commented on #1574
@iclanton thanks I went ahead and closed this issue since I found the `string` parameter in the json schema not listed in the docs :)

[2019-10-13 20:06] ron4ex commented on #1343
I took a shot at this #1585. I'm not a regular open-source contributor. In fact, this is my very first PR on an OSS project. So let me know if something needs to be done differently.

[2019-10-13 20:49] ahutchings opened #1586 "[api-extractor] Case where d.ts rollup fails to bundle a bundledPackage"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**
When creating a d.ts rollup for my project, I am running into a case where a bundled package is not bundled into the rollup, but references to it (and type parameters provided to types exported from the bundl

[2019-10-14 00:28] sadsa opened #1587 "[rush] rush link throws error after upgrade to PNPM 4"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

After specifying in the `rush.json` upgrade to `"rushVersion": "5.15.1"` and "pnpmVersion": "4.0.1", the `rush link` stage fails with the following error:

[code]

**What is the expected behavior?**

I expect the `rush link` process to pass. It seems that the folder structure for local packages was

[2019-10-14 01:59] octogonz opened #1588 "[rush] Use environment variables to pass publishing tokens"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

Currently when publishing using Rush, the NPM token is passed via the command-line [like this example](https://github.com/microsoft/rushstack/blob/005eeba78260796b03ea7f1f65bff4caa440dc94/common/config/azure

[2019-10-14 04:10] sadsa commented on #1587
Can confirm this issue is resolved by the PR #1577. Once it's merged this error will be resolved.

[2019-10-14 04:10] #1587 closed

[2019-10-14 10:03] alex-shamshurin commented on #1347
The same is with latest rush 5.15.1 and pnpm 4.0.2

[2019-10-14 10:04] alex-shamshurin commented on #1587
The same is here with latest rush 5.15.1 and  pnpm 4.0.2

[2019-10-14 17:36] iclanton commented on #1546
This has been released in Rush 5.15.0

[2019-10-14 17:36] #1546 closed

[2019-10-14 20:13] sadsa commented on #1587
There currently isn't stable support for PNPM 4 until the PR I mentioned #1577 is approved and merged.

[2019-10-15 16:53] wbern opened #1589 "[rush] unmet peer dependencies is failing the `rush update` link step"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**
I just ported a repo over to a rush repo and it is complaining about unmet peer dependencies. I don't have the "strictPeerDependencies" present in rush.json.

![image](https://user-images.githubusercontent.co

[2019-10-16 17:34] iclanton commented on #1589
Do you have a repro you can share?

[2019-10-17 18:05] octogonz commented on #1553
I just bumped this to the top of our [roadmap](https://github.com/microsoft/rushstack.io-website/blob/master/pages/overview/roadmap.md#soon-hopefully) for upcoming investments.

[2019-10-17 20:08] renoirb commented on #1511
Also, maybe add a README.md in such folders with by default a link to the docs specific to that folder.
Let's say I have a task `rimraf` where I want to clean build and `npm pack` generated files for changing branches. I found a nested `package/foo/.rush/` and I am unsure if I can thrash it or not.
(yes, I'll go read the docs now :) )

[2019-10-18 12:33] dej611 commented on #1460
Same happens with the `leaflet` types definition, probably for the same reason: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/leaflet/index.d.ts

[2019-10-19 03:53] octogonz commented on #1343
This was fixed in #1585, and the fix was published with Rush 5.16.0

[2019-10-19 03:53] #1343 closed

[2019-10-21 10:21] PissedCapslock opened #1596 "[api-extractor]Support multiple modules in the same package"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

I'm looking for a way to generate documentation for a Typescript library/package which does not have a single input file.
Instead, the package contains of a set of modules where each module exports some clas

[2019-10-21 14:24] scsewall commented on #1552
We are running into this same issue of different ordering in the api.md file between Node 10 and Node 12. In addition to overloaded constructors, we are also hitting it when methods or properties have the same name in a static and a non-static form. Probably, the same issue, but I will test when the fix is available.

[2019-10-21 16:28] sdalonzo opened #1597 "[rush] add --json flag for check and list commands"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**
It would be useful to be able to serialize the output of `rush check` and `rush list` into a json format. My immediate use case is to send this data to splunk or a similar service to create a dashboard representing our common dependency usage across projects.

**What is the expected behavior?**
Outpu

[2019-10-21 16:29] sdalonzo commented on #1597
@octogonz added this based on our gitter conversation

[2019-10-21 16:54] octogonz commented on #1588
The VS Code debugger allows you to specify environment variables using the `env` setting;

[code]

I'm not sure you would need Azure DevOps to test this, except maybe for the last step.  All the publishing operations can be run locally on a developer machine.

[2019-10-21 20:15] wbern commented on #1589
@iclanton @rakeshpatnaik
1. `git clone --single-branch --branch rush-issue-1589 https://github.com/wbern/rush-pnpm-issues.git`
2. Do `rush update`

[2019-10-21 20:23] wbern opened #1598 "[rush] Unknown option 'resolution-strategy'"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**
Repro: 1. `git clone --single-branch --branch rush-issue-1598 https://github.com/wbern/rush-pnpm-issues.git` 2. `rush update`

It seems latest pnpm doesn't like the strategyOption

![image](https://user-image

[2019-10-22 09:27] adventure-yunfei opened #1600 "[api-extractor] reexporting namespace internal declaration, will break the namespace declaration"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

Given ts declarations:

[code]

With api-extractor rollup feature, reproduce *.d.ts rollup results:

[code]

Note that:
1. The class `Foo` inside the namespace has been renamed to `Bar`, which changes the exported namespace `NS` declaration.
2. There're two `Bar` class declarations, but actually the

[2019-10-22 13:35] VincentSurelle commented on #1469
@halfnibble Oh great, I understand now why I'm having troubles with local dependencies.
It never worked for me but I think that's because I'm using private npm with scope.

With this behavior sending @scope/package-name in npm and using local dependencies in Rush is still possible ?

[2019-10-22 15:37] christiango commented on #1589
Seeing the same issue inside of one of internal repos for Office when we tried to upgrade to the latest Rush. Setting
[code]
Did not seem to help.

[2019-10-22 15:38] christiango commented on #1598
Seeing the same issue when trying to upgrade to rush 5.16.0 + pnpm 4.1.5 for one of the Office web repos.

[2019-10-22 15:51] christiango commented on #1589
Seems like a regression from https://github.com/microsoft/rushstack/pull/1526. We do have an unmet peer dependency, but 'ts from a dependency outside our control and we know it has no user bad (it's for isomorphic-ws's websocket polyfill for node and our code runs in the browser).

[2019-10-22 20:31] kenotron opened #1601 "[api-extractor] blank exports created"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**
When run, api-extractor creates an extra blank `export { }` in the d.ts (untrimmed)

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable.

[2019-10-22 20:47] octogonz commented on #1601
This is by design. There is a design flaw in the TypeScript language, where non-exported declarations will sometimes be treated as if they had an `export` modifier.  In other words, unexported APIs in a .d.ts rollup will incorrectly show up in your IntelliSense.  The empty `export { }` is a top secret compiler directive that prevents this problem.

See https://github.com/microsoft/rushstack/pull/1

[2019-10-22 21:57] kenotron commented on #1601
Oh does this interfere consumers from using the dts file?

[2019-10-22 22:04] octogonz commented on #1601
How do you mean?

[2019-10-22 22:09] octogonz commented on #1601
@kenotron Try creating a file like this:

**index.d.ts**
[code]

You will find that `import { b } from 'your-lib';` does not produce any compiler errors, but of course fails at runtime.

Whereas if you do this:

**index.d.ts**
[code]

...then `import { b } from 'your-lib';` is correctly reported as a compile error `Module ___ has no exported member 'b'.`

That's the concept here.

[2019-10-22 23:03] kenotron commented on #1601
A gap in knowledge for me it seems. I didn’t know that blank export is legal syntax

[2019-10-22 23:07] kenotron commented on #1601
I’m closing this issue because this is by design

[2019-10-22 23:07] #1601 closed

[2019-10-23 01:41] octogonz commented on #1601
Me neither!  I only learned about it from chatting with someone who works on the compiler. 😋

@kenotron Maybe API Extractor should emit a code comment to avoid confusion?  It could be like this:

[code]

BTW I found that the TypeScript compiler does the same thing as API Extractor.  For example, if you compile this input:

**foo.ts**
[code]
...you get this output:

**foo.d.ts**
[code]

[2019-10-23 03:40] adventure-yunfei commented on #1029
After some investigation, I think `namespace` should be the way. (although `namespace` should actually be a deprecated feature compared to (external) `module`).

### Syntax for module import

There're two ways to emit .d.ts rollup file for source file:
[code]

1. Use exactly the (external) `module` syntax:
[code]
    - pros: keep the same ts syntax node with source file
    - cons: pollute global

[2019-10-23 10:33] VincentSurelle commented on #991
So I've been through the problem today. I what I thought to be one problem is actually two.

First, I was trying to install a dependency with a local projet

`rush add -p @swsjs/gulp-tools` and it didn't worked because of this : https://github.com/microsoft/rushstack/issues/1469#issuecomment-522703318

Then I changed my package name from `@swsjs/gulp-tools` to `gulp-tools`

`rush add -p gulp-tools

[2019-10-23 18:42] Claudiazhaoya commented on #1598
Thanks for finding this issue. This issue only happens in pnpm 4.1+. It will be no problem if you switch the pnpm version to previous ones. Thanks!

[2019-10-23 18:48] christiango commented on #1598
Thanks! We're actually blocked from taking new versions of rush due to https://github.com/microsoft/rushstack/issues/1589. I'll see if I can just update pnpm without updating rush.

[2019-10-23 18:49] apostolisms commented on #1598
@christiango support for pnpm 4.x was added to rush 5.16.0

[2019-10-23 18:53] christiango commented on #1598
Ah, bummer. We can't update to 5.16 until https://github.com/microsoft/rushstack/issues/1589 is fixed.

[2019-10-24 01:53] KevinTCoughlin commented on #1558
One way to support this is by modifying `_targetBranch()` to drop the remote prefix in the case that no remote is specified via `rush.json` or via `git remote` when capturing and checking output length.

https://github.com/microsoft/rushstack/blob/8ea12f11187043ec6f2b456fdf8b51f95d447ac4/apps/rush-lib/src/cli/actions/ChangeAction.ts#L311

Currently, the default value is `origin/master` in https://

[2019-10-25 00:17] apostolisms commented on #1598
@wbern @christiango this should be fixed now with pnpm 4.1.6. Can you please verify it is resolved?

[2019-10-25 00:20] apostolisms commented on #1529
Closing since this seems to be resolved now. thanks

[2019-10-25 00:20] #1529 closed

[2019-10-25 00:26] apostolisms commented on #1311
Closing since this completed [here](https://github.com/microsoft/rushstack/pull/1440)

[2019-10-25 00:26] #1311 closed

[2019-10-25 01:03] christiango commented on #1598
Will do, just waiting for a fix for #1589 to be able to upgrade to a rush version compatible with pnpm 4

[2019-10-25 19:33] apostolisms commented on #1598
Thanks @christiango the [fix](https://github.com/microsoft/rushstack/pull/1604) for #1589 is getting released today.

[2019-10-25 20:19] D4N14L commented on #1589
The change was merged. @christiango  @wbern could you confirm that this resolves your issue?

[2019-10-25 21:14] iclanton commented on #1589
This has been fixed in Rush 5.16.1.

[2019-10-25 22:26] christiango commented on #1589
Thanks! I was able to confirm that we can now install with the latest rush and pnpm

[2019-10-25 22:40] #1589 closed

[2019-10-26 09:49] alex-shamshurin commented on #991
Any update on this? I spent a lot of time thinking how to add local package (which not intended to be published) to package.json via "rush add". The only way I found is adding manually to package.json with version and this looks weird.

[2019-10-26 17:52] halfnibble commented on #991
@VincentSurelle Thanks for the helpful info!

In my opinion, one should be able to run `rush add -p <local_package>` and if the package is not published on npm, Rush should automatically create a symlink entry with a path based on the `rush.json` config. If the local package is not in the rush.json config, then an error should be generated.

@alex-shamshurin You can do this manually to mitigate, b

[2019-10-26 18:07] halfnibble commented on #1469
My repros are not so insightful after all. It turns out that `rush add -p projectb` worked because "projectb" is [in the npm registry](https://www.npmjs.com/package/projectb). (Thank you @Claudiazhaoya for discovering this).

@VincentSurelle about not reinstalling packages from npm, if your local projects are in the `rush.json` config file, and the versions can be satisfied by the local project, t

[2019-10-26 18:07] #1469 closed

[2019-10-27 01:00] octogonz commented on #1596
Notes for getting this repro to run correctly:

- The `readdirSync` + `withFileTypes` API requires Node 10.10 or newer
- The `"compile-scripts"` wildcard assumes a Unix shell (needs to be manually expanded on Windows)
- Delete `rm -rf lib &&`  for Windows
- The string replacements in `api_extractor_experiment.ts` assume `/` is the path separator

[2019-10-27 01:21] octogonz commented on #1596
@PissedCapslock I'm impressed you actually got fairly far with this. 😊

The crash is happening because when you invoke **api-extractor** on a secondary entry point, it produces an .api.json file with the same package name as before:

[code]

...and then API Documenter is complaining because it doesn't expect to load two different definitions for the same package.

[2019-10-27 01:22] octogonz commented on #1596
One possible workaround would be to generate the `"name"` field differently.  For example, you could replace this:

[code]
...with this:

[code]

But I'd like to think about this a little more and see if we can maybe support it at least partially.  Frankly I've never really attempted it.

[2019-10-27 07:56] PissedCapslock commented on #1596
I've been thinking about changing those name fields, but I think I will have to do more than that. When linking from "one package config" to another (e.g. class `Foo` in module `A` has an input argument of type `Bar` from module `B`), the link in the resulting JSON will need to know the package name of `A` and `B` to link correctly.

To give a bit more context (as this is clearly a request for a n

[2019-10-27 10:08] phryneas opened #1608 "[api-extractor] does not recognize types when exported via `export = ....`"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**

In out repo, we don't `export default X`, but `export = X` (I guess due to legacy reasons). Api-Extractor does not seem to pick that up at all. Do you have any ideas on how to make that work?

**If the issue

[2019-10-28 04:30] octogonz commented on #1608
`export = X` is an obsolete style of exports.  It is useful when writing typings for legacy JavaScript packages, but it should NOT be used by modern TypeScript packages.

Could you clarify which API Extractor features you're using?
1. API review
2. .d.ts rollups
3. generating API documentation

For (1) and (3) an easy workaround would be to create a separate entry point (e.g. `src/index-api.ts`) t

[2019-10-28 04:33] octogonz commented on #1596
This issue is a dupe of https://github.com/microsoft/rushstack/issues/664

[2019-10-28 04:55] octogonz commented on #1596
@PissedCapslock The difficulty of implementing this feature breaks down into 3 levels:

1. Easy: Support for documentation and API reports
2. Medium: Support for isolated .d.ts files
3. Complex: Support for .d.ts files with shared declarations

To understand the hard case, suppose we have two API entry points `src/simple` and `src/containers`:

**src/simple.ts**
[code]

**src/containers.ts**
[code

[2019-10-28 08:06] samcolby opened #1609 "[rush] Could not find preferred package /@typescript-eslint/eslint-plugin/2.5.0 in lockfile"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [X] Bug

**Please describe the actual behavior.**

We've added a new eslint-config shareable module to the monorepo, with the following dependencies, that were added with the following command `rush add -p eslint-plugin-prettier --dev --exact -m`

[code]

When trying to a

[2019-10-28 08:50] phryneas commented on #1608
Yeah, unfortunately it's (2). I haven't looked at api-extractor yet - if you can point me in the right direction I might try and do that PR myself.

[2019-10-28 17:39] rakeshpatnaik commented on #1609
Can you please upgrade to the latest version of Rush (5.16.1) and try to repro this?

[2019-10-28 21:03] samcolby commented on #1609
Hi @rakeshpatnaik.

We have tried upgrading both rush and pnpm, with the same results.

[code]

And we also get the following errors when linking each project, even in projects that don't have eslint enabled in them yet.
[code]

Is there anything else I need to do to upgrade?  We changed the values in`rush.json`, ran `rush purge` etc. ?

[2019-10-28 21:49] ChocPanda commented on #886
Hey @octogonz  has any progress been made on this?

[2019-10-29 02:18] wandyezj opened #1610 "[api-extractor] Error: "import * as ___ from ___;" is not supported yet for local files."
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [] Bug

**Please describe the actual behavior.**

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to investigate.**

**What

[2019-10-29 10:15] VincentSurelle commented on #991
@halfnibble Ok understood ;)

So there are 3 use cases with local packages (with questions) :

**I'm using a package my-lib that is not published :**
Rush will fail to find it on npm, so it will look on rush.json. If found it will be linked.

**I'm using a package my-lib that is published :**
This way, Rush will find it on npm and also in local. So local package will be linked ?

**I'm using a pac

[2019-10-29 17:17] halfnibble commented on #991
@VincentSurelle Rush currently handles the latter two cases in a way that I feel is appropriate. If a published package is found, and there is a package with the same name in rush.json, then Rush will symlink the local package, but only if the version in the local package's package.json meets the requested version. Otherwise, Rush will download the package from npm.

The third case is kind of an e

[2019-10-30 07:22] Jabher commented on #991
As long as rush is forcing to use approach "modify first, bump version second" the case when published and local versions match, but code differs is expected on my point of view. Isn't it?

Also, I think non-working case 1 is show-stopper in lots of cases

[2019-10-30 11:04] thorbenziemek opened #1611 "[api-documenter] MarkdownDocumenter: Links to referenced types in type cells"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**
Types in generated Markdown documentation do not include links to type definitions automatically. For instance, in a class documentation, there is a column "Type" in the properties table, which in my case always only contains the plain name of the referenced type.

**What is the expected behavior?**

[2019-10-30 16:56] iclanton commented on #1609
Your global version of Rush doesn't matter, as long as you have it installed. The global installation automatically installs the version that repos request.

We generally suggest people run `rush update --full` after updating their version of Rush or their version of their package manager. Can you try that?

[2019-10-30 16:57] iclanton commented on #1609
@sachinjoseph - 3.6.2 is a known good version of pnpm, right?

[2019-10-30 22:33] samcolby commented on #1609
Thanks @iclanton .

Just tried that again with `"rushVersion": "5.16.1",` and `"pnpmVersion": "4.1.7",` but with the same results.

However the second error `Could not find peer dependency 'eslint' that satisfies version '^3.0.0 || ^4.0.0 || ^5.0.0 || ^6.0.0', skipping...` is now gone.

Is there a list somewhere of the known good versions of pnpm ?

My current fix is to revert `pnpm-lock.yaml` to

[2019-10-31 16:02] apostolisms commented on #1598
Closing this since it doesn't seem to be an issue anymore with pnpm v4.1.6 release.

[2019-10-31 16:02] #1598 closed

[2019-10-31 21:03] ecraig12345 commented on #895
Do you have a sense of how hard this would be to implement? In a new project I'm working on, we'd like to have links to source files (don't care about specific line numbers) in the documentation. So if it's not too difficult I'd be willing to help add this feature.

[2019-11-01 13:04] scsewall commented on #1552
@KarishmaGhiya, @octogonz Any update on this issue? This is now preventing us from adding official Node 12 support (want to continue to support Node 10) as the unstable ordering in the api.md file would cause problems for our CI builds.

[2019-11-01 18:12] octogonz commented on #1552
If no one else is able to work on this, I can probably do it over the weekend. It's a pretty easy fix I suspect

[2019-11-01 18:24] octogonz commented on #895
@ecraig12345 That would be really great! This is definitely an important feature. Lemme think about the design and follow up...

[2019-11-01 22:21] mikeharder commented on #1415
@octogonz: We have one more repro which might be yet another variation of this issue: https://github.com/mikeharder/rush-peer-dependencies/tree/amqp

In short, there are two projects with these dependencies:

[code]

`@azure/amqp-common` has a peer dependency on `rhea-promise@^0.1.15`, while `@azure/core-amqp` has a peer dependency on `rhea-promise@^1.0.0`.

Running `rush update` gives the followi

[2019-11-02 20:27] octogonz commented on #1552
Here's a PR: https://github.com/microsoft/rushstack/pull/1613

I decided to do more fundamental fix, and provide a way to make all sorts stable.

[2019-11-02 20:30] octogonz commented on #1552
@mikeharder If you guys could test this PR branch against your repro, that might save me some time.

[2019-11-04 04:57] octogonz commented on #895
There are some interesting design considerations for this feature.

Consider [this declaration](https://github.com/microsoft/rushstack/blob/5627415032539c27e93fdddac4edf93d2c87a311/libraries/node-core-library/src/JsonFile.ts#L46):

**node-core-library/src/JsonFile.ts**
[code]

### 1. Location units
In the model's tree, the two declaration nodes are `IJsonFileSaveOptions`  and a member `ensureFolde

[2019-11-04 05:58] octogonz commented on #895
Here's the JSON for the `IJsonFileSaveOptions` snippet from above:

**node-core-library.api.json**
[code]

What if we changed the first `excerptTokens` field like this:

[code]

The full-blown design would be like this:
- `"sourceFile": "src/JsonFile.ts"` sets up a file path relative to `<projectFolder>`.
- (If verbosity is a problem, we could later specify that if `"sourceFile"` is omitted, the l

[2019-11-04 06:07] octogonz commented on #895
@ecraig12345 Maybe we can approach it like this:  I can start a PR that introduces the new APIs (a minimal subset of the "ideal" proposal above).  My PR can also illustrate how to calculate coordinates for a few kinds like `class` and `function`.  Then you can fill out the implementation for the rest of the API kinds, and test it against your doc app.

(BTW I believe DocFX also supports source-lin

[2019-11-04 20:53] mikeharder commented on #1552
@octogonz: We will test this today.

[2019-11-04 21:57] octogonz commented on #1611
PR https://github.com/microsoft/rushstack/pull/1337 already implemented this for the DocFX target. We very much want to support it for Markdown as well, just haven't gotten around to it yet.

If you're interested in helping out, that would be awesome! (I'm reachable on [Gitter](https://gitter.im/octogonz) if you have questions about the design.)

[2019-11-04 22:09] octogonz commented on #1611
This problem is slightly complicated because we're halfway done revising the declaration references.

In the old model, API items were identified using TSDoc's `DocDeclarationReference` which is what you give to [ApiModel.resolveDeclarationReference()](https://github.com/microsoft/rushstack/blob/16c6a7e36f5d67c4aae8dda17b7052e6ddb3ce4e/apps/api-extractor-model/src/model/ApiModel.ts#L140).  But @rb

[2019-11-04 22:16] octogonz commented on #1609
@samcolby Are you able to share a branch that repros these errors?  That would help us investigate faster.

[2019-11-04 22:20] octogonz commented on #1610
This is a duplicate of https://github.com/microsoft/rushstack/issues/1029

[2019-11-04 22:20] #1610 closed

[2019-11-04 22:23] octogonz commented on #886
It's next in the queue in our [roadmap](https://rushstack.io/pages/overview/roadmap/).

[2019-11-04 22:49] octogonz commented on #895
@rbuckton (who might have some thoughts about these requirements)

[2019-11-05 02:10] mikeharder commented on #1552
@octogonz: In our repo, I have verified this change makes the Node 10 ordering match the existing Node 12 ordering.

[2019-11-05 06:40] #1552 closed

[2019-11-05 06:54] octogonz commented on #1552
Published as API Extractor 7.5.4

[2019-11-05 20:05] charlex commented on #1073
Just an idea for this:

Could Rust generate a manifest of the files/folders it will create? Could this manifest then be used to check if any files will be replaced? Then if there are replacements, warn the user and exit. Or warn the user and provide some type of resolution/reconcilation.

[2019-11-05 20:22] ecraig12345 commented on #895
Thanks for thinking this through! Some thoughts in response:

### 1. Location units

The location/range within the file actually isn't important for my purposes and seems like it would complicate the implementation (especially if you try to go through sourcemaps and link to the original source file rather than the .d.ts), so I wonder if it would be possible to support only paths in the initial imp

[2019-11-05 23:39] mikeharder commented on #1415
@octogonz: Adding `allPreferredVersions.clear()` fixes the issue and allows our repo to use conflicting peer dependencies.  It seems to work with both `resolutionStrategy=fast` (which we are currently using) and `resolutionStrategy=fewer-dependencies`.

Can you please add an option to Rush to trigger the `allPreferredVersions.clear()` codepath?

[2019-11-06 00:52] octogonz commented on #1415
Awesome, yep I'll start a PR asap

[2019-11-06 03:05] acchou opened #1616 "[api-extractor] Lost ability to link to getters and setters"
**Is this a feature or a bug?**

- [ ] Feature
- [x ] Bug

**Please describe the actual behavior.**

A recent change resulted in loss of the ability to link to getters and setters. Example:

[code]

This worked in the past, e.g. see https://faastjs.org/docs/api/faastjs.faasterror. But with a recent (I think) change the following error emerges:

[code]

I'm attaching a screenshot showing the diff o

[2019-11-06 03:35] octogonz commented on #1616
Could you provide a repro branch? That might help investigate faster.

[2019-11-06 03:40] acchou commented on #1616
The problem appears on the master branch of faast.js: https://github.com/faastjs/faast.js.
Not sure if you can see the circleci logs for it but it's here: https://app.circleci.com/jobs/github/faastjs/faast.js/3848

[2019-11-06 03:41] acchou commented on #1616
... or did you mean to create a repo with a small minimized example? :)

[2019-11-06 04:14] octogonz commented on #1616
I'm fine using the master branch if there are easy, clear instructions for building it

[2019-11-06 04:17] acchou commented on #1616
[code]

The build step builds the documentation. To build the documentation only (requires a prior successful build as above), run:
[code]

[2019-11-06 12:48] calebmshafer commented on #1552
@scsewall is away at a conference this week, but I just verified with our repository and everything is working with v7.5.4.  Thanks!

[2019-11-06 13:39] mbwhite opened #1617 "[rush] Publishing command not updating version in package.json"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

I have a mono repo (github.com/hyperledger/fabric-chaincode-node - master branch if interested).
and have attempted to use the `rush version` and `rush publish` to update version numbers.

I have tried a ver

[2019-11-06 18:46] iclanton commented on #1617
The master branch of your repo doesn't have any changefiles. For non-lockstep versioning, the way versions are bumped is dictated by changefiles that get generated when you run `rush change` (they're dropped in `/common/changes/`). For lockstep versioning, you still want changefiles to tell Rush how to update projects' changelogs.

To publish packages with changes in a non-lockstep version policy,

[2019-11-06 21:22] thorbenziemek commented on #1611
Thank you @octogonz for the clarification! From what I understand, implementing the Markdown part should be super easy, so I would be happy to help with that part ;).

[2019-11-07 05:42] octogonz commented on #1415
@mikeharder Here's a PR: https://github.com/microsoft/rushstack/pull/1618

[2019-11-07 10:05] seritools opened #1619 "[api-extractor] 3.7-style accessors lose their @internal marker in the api report"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

With TS 3.7 the .d.ts files now emit accessor declarations. However, api-extractor currently misses the `@internal` marker on those when generating the api report file. This also causes a `ae-incompatible-release-tags` warning when referencing another internal type in the accessor type.

**If the is

[2019-11-07 16:04] mbwhite commented on #1617
@iclanton appreciated thank you... will continue my exploration 👍

[2019-11-07 16:23] octogonz commented on #978
@elliottsj @RDeluxe  Sorry we didn't follow up on this earlier.

I'm not sure whether individual shrinkwrap files is the right solution, since it could be very inefficient.  This Docker topic came up again on Gitter [in this conversation](https://gitter.im/rushstack/rushstack?at=5dc3df7fa3f0b178490114a2).  We discussed several other approaches to the problem.  Let us know if those alternatives wou

[2019-11-07 19:55] mikeharder commented on #1415
@octogonz: I am trying to verify this PR in our repo but currently hitting an error related to a missing peer dependency.  Investigating...

[2019-11-08 15:40] mbwhite commented on #1617
Two scenarios I've been trying
1) a prerelease version 2) patch release
Lockstep versions, one set to prerelease the other patch,

1) Made little progress here -only managed to get the version update in the version policies

2) Making a change in a project, and applying a change with type patch and then
`rush version --bump --version-policy $(VersionPolicy) --target-branch master`
Only the package

[2019-11-08 19:24] octogonz commented on #1619
@seritools I see, so TypeScript 3.7 produces this output:

**lib/index.d.ts**
[code]

...whereas earlier TypeScript produces this output:
**lib/index.d.ts**
[code]

And the API report seems to indicate that API Extractor isn't finding the TSDoc comment:

**repro.api.md**
[code]

👍 Thanks for reporting this!

[2019-11-08 20:08] octogonz opened #1621 "[rush] Incremental build reports InternalError for packages with optional peer dependencies"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

In PR https://github.com/microsoft/rushstack/pull/1618 we introduced the ability to disable implicit preferred versions, by setting `implicitlyPreferredVersions=false`.  This eliminates certain installation errors, and it will default to being enabled for PNPM 4.x.

However, the Azure SDK reported a

[2019-11-08 20:12] octogonz commented on #1621
I noticed this entry:
[code]

Looks like 25 days ago PR https://github.com/typescript-eslint/typescript-eslint/pull/990 converted TypeScript to be an "optional peer dependency".  This is a relatively new package manager feature that we need to check for.

[2019-11-08 20:14] octogonz commented on #1621
@iclanton @D4N14L FYI this is a somewhat important issue, since it's a regression for the improved incremental build feature.  The fix should be pretty easy.

[2019-11-09 01:10] mikeharder commented on #1621
I verified setting `"legacyIncrementalBuildDependencyDetection": true` in `experiments.json` eliminates the error in the Azure SDK repo.  However, we will likely wait until this issue is fixed to enable `implicitlyPreferredVersions=false`.

[2019-11-09 05:52] #1415 closed

[2019-11-11 10:33] seritools commented on #1619
Yup, exactly.

Expected:
[code]

Actual:
[code]

[2019-11-11 17:16] elliottsj opened #1623 "[rush] pnpm lockfile is not respected: latest rather than pinned version of dependency is installed"
**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

When used with pnpm@4, Rush does not respect the pinned version of a transitive dependency. Instead, the latest compatible version is installed.

A full description and reproduction of the issue is here: https://github.com/elliottsj/rush-pnpm-4-bug

The README for reference:

**What is the expected

[2019-11-11 23:52] octogonz commented on #1621
I started work on PR https://github.com/microsoft/rushstack/pull/1624 which avoids reporting an error for a missing dependency when it is marked as an "optional peer dependency".

However, while that solved the first error, `rush link` still fails @mikeharder's repro with a later error where `typescript` is NOT an optional peer dependency.  The problem is with this logic:

https://github.com/micro

[2019-11-12 02:25] octogonz commented on #1621
I realized that we can probably solve this by parsing the `2.7.0_eslint@6.6.0+typescript@3.6.4` specifier and using that to resolve a missing peer dependency such as `typescript` to `3.6.4`.

I pushed a prototype of this idea to PR https://github.com/microsoft/rushstack/pull/1624.

@mikeharder Could you test this branch and confirm whether it solves your issue for `azure-sdk-for-js`?

It definitel

[2019-11-12 08:55] clarktozer opened #1625 "[rush] spfx and microsoft teams projects not building together with yarn"
**Is this a feature or a bug?**

- [ ] Feature
- [X] Bug

**Please describe the actual behavior.**
I'm trying to build two projects. One was scaffolded using the spfx yeoman generator, the other using the teams yeoman generator. They are not dependent on one another. The build fails with an error to do with the gulp package in the spfx project. SPFx projects and teams projects use different versio

[2019-11-12 20:22] mikeharder commented on #1621
@octogonz: Testing this change in our branch now.  So far, most of the errors were missing dependencies in our `package.json` files, so this change is finding bugs in our code that were previously hidden (which is a good thing).

[2019-11-12 22:10] octogonz commented on #1625
Note for repro:

This:
[code]

Should be this:
[code]

[2019-11-12 22:25] ecraig12345 commented on #1366
I took a stab at this in #1626. My approach is a bit different than the one in Pete's branch since I actually started my change several months ago, but I'll take a look at that branch now and update mine.

[2019-11-12 22:26] ecraig12345 commented on #1366
My branch also doesn't cover api-documentor, but I could add that if desired.

[2019-11-12 22:50] clarktozer commented on #1625
Thanks, have updated.

[2019-11-12 23:05] ecraig12345 commented on #1366
Another question from looking at the branch: currently the generated files are written with CRLF by default, but Pete's branch switches that to LF by default. While LF is probably more common in the open source community in general, it seems odd to change the default.

[2019-11-12 23:09] mikeharder commented on #1621
@octogonz: After fixing our missing dev deps, we are still seeing two categories of build errors:

1. `rollup` cannot find some dependencies even though they are listed in `package.json`

2. `tsc` cannot find `@types/chai`, even though it is listed in both the top-level `package.json` and the `chai-exclude` `package.json`:

[code]

I am investigating these to determine if something is wrong in our

[2019-11-12 23:25] ecraig12345 commented on #1366
Added API Documenter to the PR but kept the CRLF default pending further discussion.

[2019-11-13 00:20] octogonz commented on #1625
I took a quick look today.  This is going to be a fun one... 😊 Teams and SharePoint have rather inconsistent dependencies versions, whereas normally Rush tries to keep everything consistent across the monorepo.  Also, both these projects have broken peer dependencies.

This is a great use case, though.  I'll see if I can get it working and then share a branch.

[2019-11-13 00:53] octogonz commented on #1366
This is less important, because the `api-documenter` outputs typically are not diffed or tracked by Git.  In the previous discussion, our overall decision was:

- Generally default all tooling output to use `\n`
- But provide a configuration to enable `\r\n` in specific situations where people care about it.

When we asked about API Extractor, people pushed back and said it should have an option f

[2019-11-13 00:56] octogonz commented on #1366
I'd be okay with waiting until the next major version to change the default.  Or at least postponing it until after a PR that updates all our other tooling to output `\n` by default.

[2019-11-13 02:44] clarktozer commented on #1625
Thanks. Yeah I tried playing around with different versions of gulp/gulp-cli to try force it to use the correct one, no real progress there. Broken peer dependencies get worse when adding various @SharePoint packages!

[2019-11-13 02:52] ecraig12345 commented on #1366
I think changing the default line endings all at the same time would make more sense than changing the API files now and other files later.

[2019-11-13 03:29] ecraig12345 commented on #519
I took a stab at implementing this in #1628.

[2019-11-13 13:01] levahim commented on #1366
* Files generated by the API documenter absolutely do get checked in to git repos and get diffed.
* The default newline should probably be the same as that of `tsc`, for consistency reasons.

[2019-11-13 22:33] mikeharder commented on #1621
Repro steps (using build of Rush created from PR #1624)

[code]

[code]

[2019-11-13 23:35] mikeharder commented on #1621
It appears the above issues repro with `pnpm@3.8.1`, but they **do not** repro with `pnpm@4.2.2`.  We are hesitant to update to `pnpm@4` since it drops support for Node 8 (which we still need to support), but it may be the best/only option in this case.

[2019-11-13 23:41] octogonz commented on #1621
[code]
Is the hash correct?

[2019-11-13 23:42] octogonz commented on #1621
Oh I see, it's a private fork.

[2019-11-13 23:44] mikeharder commented on #1621
Correct, this is the commit:

https://github.com/mikeharder/azure-sdk-for-js/commit/707d180adf2f45103129bbd33661d55c19e6b742

Here's a later commit with `pnpm@4` which doesn't repro:

https://github.com/mikeharder/azure-sdk-for-js/commit/9c293f01532c7ebeccc5f84bcedab27163caf366

I'm working in this branch in my fork:

https://github.com/mikeharder/azure-sdk-for-js/commits/implicitly-preferred-vers

[2019-11-14 01:04] mikeharder commented on #1621
@octogonz: After further discussion we are fine with updating to `pnpm@4.2.2` when we set `implicitlyPreferredVersions=false`.  So we approve this PR.

We are not planning to investigate this difference between `pnpm@3.8.1` and `pnpm@4.2.2` further, but if you do decide to investigate we'd love to hear what you find.

[2019-11-14 01:34] octogonz commented on #1621
I started to look at it, but unfortunately I'm not very familiar with how Rollup works.  I was hoping to find some minimal entries that you could add to `preferredVersions` table to restore whatever was working from when `implicitlyPreferredVersions=true`, but I don't have time to pursue that.

[2019-11-14 01:37] mikeharder commented on #1621
If you were going to investigate anything here I would recommend the `tsc` error, but from our perspective if `pnpm@4` works that's good enough to move forward.

From all the investigation I've done so far, everything looks identical between `pnpm@3` and `pnpm@4`, but something must be slightly different (maybe nested deep in the `node_modules` folder).

[2019-11-14 21:14] #1621 closed

[2019-11-15 04:42] #1366 closed

[2019-11-15 04:56] octogonz commented on #1366
@ecraig12345's fix was published  with API Extractor 7.6.0

[2019-11-17 10:58] Js-Brecht commented on #1414
FWIW, I wound up hacking out the line in `@microsoft/rush-lib` that sets the `--store` cli parameter.  Not a very permanent solution, but it seems to be working without any problem.  I haven't really delved too deeply into all of the different functionality in Rush, so I'm kind of curious to see if it will cause any odd issues.

[2019-11-17 12:46] postspectacular opened #1629 "[api-extractor] classify arrow functions as functions"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

This is a feature request to classify exported arrow functions as functions rather than variables. Even though syntactically the latter is the case, semantically (for documentation & usage purposes) this doesn't make any sense - and worse - it invalidates any documentation effort in the docstrings r

[2019-11-17 13:11] postspectacular commented on #1308
I understand this all is still in flux, but may I ask what is the *currently* supported syntax to link to an overloaded function? It seems there's some missing information and discrepancies between different parts of the documentation and the actual tooling/implementation. E.g. using the canonical references created by `api-extractor` in a `{@link}` tag cause the warnings for ambiguous references

[2019-11-17 18:51] Js-Brecht commented on #1228
If the `file:` version specifier is not supported, then what is the recommended method for linking to a local development repository when testing?

For example, what if I fork a project and make some changes, then want to test the implementation?  Normally, I would just link to that repo in one of my other projects that uses it; probably the same project I was using it in that made me realize some

[2019-11-17 20:59] octogonz commented on #1629
This is a good proposal. @postspectacular are you able to help implement it?

[2019-11-17 22:39] postspectacular commented on #1629
@octogonz thank you! i can't say yet if i can help w/ that - just haven't really looked through the source yet. will keep you posted!

[2019-11-18 02:22] Js-Brecht commented on #1228
I guess my issue is a little different.  The error I get is this:
[code]

Separate issue, maybe?

[2019-11-18 03:52] octogonz commented on #1228
Experienced Rush users typically solve this by manually creating symlinks in the node_modules folder.  For example with PNPM:

[code]

However we've avoided documenting this, because there are complicated rules about whether it will work or not. And when you're done, you have to remember to run `rush install --purge` to restore a good state.  It seemed too error-prone to recommend as a best practi

[2019-11-18 03:57] octogonz commented on #1629
FYI there's some general instructions in the [Contributing](https://api-extractor.com/pages/contributing/building/) doc.

If you don't have time, let me know. I might be able to help, although I've been pretty busy with https://github.com/microsoft/tsdoc/pull/196 this week since we're trying to roll out [eslint-plugin-tsdoc](https://www.npmjs.com/package/eslint-plugin-tsdoc) in our repo.

[2019-11-18 04:00] octogonz commented on #1308
@postspectacular Let's discuss your question with https://github.com/microsoft/rushstack/issues/1240 since it's really about `@link` syntax, which is not ambiguous (in either of the two versions of the notation heheh).

[2019-11-18 04:01] octogonz commented on #1240
In https://github.com/microsoft/rushstack/issues/1308 @postspectacular wrote:

[2019-11-18 04:07] octogonz commented on #1414
It should be fine.

Would someone want to implement this as a configurable option?  I feel like it's a pretty easy work item. We just need to decide how it is specified.  For example as an [environment variable](https://rushjs.io/pages/configs/environment_vars/) or as a rush.json setting.

[2019-11-18 04:21] octogonz commented on #1240
The short answer is that it's not implemented.  (Fixing this is obviously a high priority in general, but embarrassingly it's stagnated because it doesn't affect us much; the Rush Stack project tries to avoid designing APIs with overloads.)

There are two versions of the `@link` syntax:
- OLD: `{@link @thi.ng/arrays#(quickSort:1)}`
- NEW: `{@link @thi.ng/arrays!quickSort:function(1)}`

The new not

[2019-11-18 04:22] Js-Brecht commented on #1414
@octogonz I wouldn't mind, when I have a little free time in the next couple days.

I still like the idea of using a `rush.json` setting; makes it a little more obvious that there's a choice about how to handle the store.  I'd probably design it just like I described before.

[2019-11-18 04:36] Js-Brecht commented on #1414
Could be a property under `pnpmOptions` called `store`.

Property could be `undefined`, or a string that matches `pnpm`, a relative path (`^\.[\\/]`), or an absolute path (`^[\\/]`).
* If `undefined`, uses the `rush` store location
* If string matches `pnpm`, don't define a store location at all (as a bonus, pnpm should use .npmrc, if it's defined there)
* If string is a path... use that path.

[2019-11-18 04:41] octogonz commented on #1414
Some more thoughts about the design:

- I like `pnpmStore` better than `store` since it's more clear, particularly since we support multiple package managers.

- The string `pnpm` looks like a file path.  Maybe separate it into two settings `pnpmStore` and `pnpmStorePath` (which isn't used if the `pnpmStore` kind is `global` or `common`)?

- `/absolute/path/to/store` probably wouldn't make sense i

[2019-11-18 05:37] Js-Brecht commented on #1414
Is the distinction necessary, if it's `pnpmOptions.store`?  I was under the impression that those were essentially replications of the command line flags passed to pnpm.  Not that I'm opposed; just curious.

Works for me.  I assume `common` means use rush's method?

I assume that an environment variable will override the store path, no matter if `pnpmStore` is set to `global` or `common`.

While o

[2019-11-18 06:27] octogonz commented on #1414
I  tend to prefer names like `pnpmStore` that are unambiguous when you talk about them in tech support, or search for them in docs/issues/code.  For example when we eventually move `pnpmVersion` under `pnpmOptions` I would prefer not to rename it to `version`, because it's less searchable.  You'd have to qualify it as `pnpmOptions.version` which perhaps still won't always be found by some searches

[2019-11-18 06:51] octogonz commented on #1414
I noticed that already PNPM writes the store choice into a file:

**node_modules/.modules.yaml**
[code]

Maybe it's safe for Rush to rely on that.

[2019-11-18 08:26] qianghuang94 opened #1630 "[rush] New rush-stack-compiler-3.7!"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**
Typescript 3.7 contains a lot of exciting features.

Any plan to upgrade the compiler to support 3.7?

[2019-11-18 16:51] vidartf opened #1631 "[api-extractor] Support `@throws` tag"
**Is this a feature or a bug?**

- [X] Feature
- [ ] Bug

Tsdoc supports `@throws` (https://github.com/microsoft/tsdoc/pull/175), but api-extractor still does not support it:

https://github.com/microsoft/rushstack/blob/e5bccece4fa5f40a1a3a482da387afa553cd7d27/apps/api-extractor-model/src/aedoc/AedocDefinitions.ts#L39-L60

I have no idea how much work it would be to add this, but it would be usefu

[2019-11-18 16:58] octogonz commented on #1631
It's pretty easy. :-) I think the implementation would be similar to `@example`.

Would you be interested to implement it?

[2019-11-18 17:02] vidartf commented on #1631
Yes, I would need to some guidance:
- Is the list I added the right place to add it?
- What are other key code locations to look at?

[2019-11-18 17:39] Js-Brecht commented on #1414
This does feel more natural, instead of trying to shift context when you're setting up the store path.  It shouldn't be hard to resolve relative to the root, and since it is less of a mental hurdle, that's the route I'll take.

I agree, that does seem a bit much; better to keep it simple.  This could always be added down the road if it seems like there's demand for it.  If the user decides they wa

[2019-11-18 21:20] octogonz commented on #1414
I'm fine with keeping it simple.  The underlying requirements I had in mind were:

- `rush install` / `rush update` should not fail with PNPM instructing the user to run a PNPM command.  It's confusing to have two different tools telling you what to do.  Also, for basic everyday tasks, we try to provide a consistent user experience in every repo, regardless package manager choice.  If some special

[2019-11-19 06:04] octogonz commented on #1631
Yup

The intended `@throws` usage is here: https://github.com/microsoft/tsdoc/pull/175

Note that the class name is (optionally) specified as a `{@link}` on a separate line.

The code that renders `@example` is [here](https://github.com/microsoft/rushstack/blob/4de6fe10f1cc8ced95580d6aba9b826d9510f789/apps/api-documenter/src/documenters/MarkdownDocumenter.ts#L304)

If you need to visualize the AST

[2019-11-19 11:03] vidartf commented on #1631
So, as far as I am reading you:
- The warning that was previously issued from `api-extractor` was a hint that the default renderer of api-documenter does not support the `@throws` tag.
- The main work for a PR would be to add support for the tag in `api-documenter`.

Correct?

[2019-11-19 14:40] octogonz commented on #1631
Yup!

[2019-11-20 00:59] ecraig12345 commented on #895
@octogonz Have you gotten a chance to think about this any more? It's pretty important for the project I'm currently working on. I can probably help with the implementation, but I'll need some examples first (still don't have a good enough mental model of how the TS compiler API works to start this one by myself).

[2019-11-20 14:54] vidartf opened #1635 "[api-extractor]: Support `@typeparam` tag"
**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

The `@typeparam` tag can be useful for adding documentation of generic types. Tsdoc already has support for it.

[2019-11-21 00:52] iclanton commented on #991
This has been fixed in 5.17.1

[2019-11-21 00:52] #991 closed

[2019-11-21 08:27] npirotte opened #1637 "[api-extractor] Show api signature diff when failing"
When `api-extractor run` is failing because of an api change, it would be helpful to have the api diff logged to the console. That would help to resolve the problem much quicker, especially on ci-cd environment.

[2019-11-21 14:34] seritools commented on #1619
The accessors are completely missing in the docModel (`.api.json`) as well. This causes api-documenter to completely skip the documentation of all accessors.

[2019-11-22 01:19] octogonz commented on #895
I haven't been able to look at this yet. I'm out of office right now but will be back after Thanksgiving.

[2019-11-24 00:00] octogonz commented on #1637
This is a great suggestion!  @npirotte would you be interested to contribute a PR?

[2019-11-24 00:34] #1631 closed

[2019-11-24 01:35] octogonz commented on #1616
@acchou thanks for reporting this!  I started investigating it today.

In the API model, we need for the getter/setter pair to be merged into a single "Property" entry, but with two signatures (similar to the proposed [`@partOf`](https://github.com/microsoft/tsdoc/issues/137#issuecomment-446446564) TSDoc tag).  I don't think it would be useful to model them as separate API entities.  That seems li

[2019-11-25 11:40] octogonz commented on #895
I think I was over-analyzing this problem. You're right that it doesn't seem super useful to maintain source code coordinates for each excerpt token. It's probably sufficient to track the original source file/line for each API item.

If you want to get started on this before I'm back, the source map logic is in [SourceMapper.ts](https://github.com/microsoft/rushstack/blob/master/apps/api-extractor

[2019-11-25 20:46] stacey-gammon opened #1640 "[api-extractor] Use real source code as a reference, instead of of `@example` tag"
Hello!

I'm exploring some documentation ideas for [Kibana](https://github.com/elastic/kibana) and one goal I have is to avoid the issue of writing examples that are out of date or inaccurate, which can happen when using the `@example` tag, because it's not real, tested code.

Has anyone ever considered support for a tag that extracts real code?

For example, this could be the package documentatio

[2019-11-25 23:10] octogonz commented on #1640
This is a good idea. The `@example` tag creates sections of documentation that may contain multiple code snippets (and English prose), so your feature would need its own tags. Really they should be proposed for the [TSDoc](https://github.com/microsoft/tsdoc) project and discussed there, then implemented by API Extractor.

The actual implementation should be pretty easy. The only tricky part is tha

[2019-11-25 23:34] octogonz commented on #1640
I'll also point out that the snippets are in .ts files, whereas API Extractor analyses .d.ts files. And in general the snippets may not get built in the same way as the main project (e.g. maybe it is a .js example built with Babel). I suppose the file could even be CSS or HTML that uses a totally different comment syntax.

Thus we should probably reference the file path rather than a TypeScript cl

[2019-11-26 00:43] iclanton commented on #1630
These have been released :)

[2019-11-26 00:43] #1630 closed

[2019-11-26 14:05] stacey-gammon commented on #1640
Thanks for your thoughts!  Went ahead and filed https://github.com/microsoft/tsdoc/issues/199

[2019-11-26 22:59] Claudiazhaoya opened #1642 "'rush add -p [package-name] --all' cannot add local dependency to multiple projects"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [ ] Feature
- [x] Bug

**Please describe the actual behavior.**

**If the issue is a bug, how can we reproduce it? Please provide detailed steps and include a GitHub branch if applicable. Your issue will get resolved faster if you can make it easy to investigate.**
when r

[2019-11-29 15:47] octogonz commented on #1616
@acchou PR https://github.com/microsoft/rushstack/pull/1646 should fix this issue.

Could you test it out and confirm whether it solves your problem?

[2019-11-29 16:09] octogonz commented on #1635
This is actually [already implemented](https://github.com/microsoft/rushstack/blob/625c0959a7cc3f0b702584a71d8a835bbf07d3aa/apps/api-documenter/src/documenters/YamlDocumenter.ts#L487) for the DocFX target.

@vidartf Would you want to create a PR to implement it for the Markdown target?

[2019-11-29 21:43] mpiroc opened #1647 "[rush] Allow invocation of arbitrary package manager commands through the Rush CLI"
## Please prefix the issue title with the project name i.e. [rush], [api-extractor] etc. ##

**Is this a feature or a bug?**

- [x] Feature
- [ ] Bug

**Please describe the actual behavior.**

There is no way to leverage package manager features such as pnpm/npm's `prune` command using Rush. See correspondence below for details.

**What is the expected behavior?**

It is possible to leverage packa

[2019-11-30 02:53] acchou commented on #1616
I’ll try it. What’s the easiest way to try it?

[2019-11-30 03:21] octogonz commented on #1616
If you want to run the CLI manually, you can build the rushstack repo [and then invoke lib/start.js](https://api-extractor.com/pages/contributing/debugging/).  Something like this:

[code]

Or, if your toolchain invokes API Extractor in a complicated way, you can just copy the lib folder into your node_modules folder.  Something like this:
[code]

[2019-11-30 03:31] octogonz commented on #1240
Here's a PR: https://github.com/microsoft/rushstack/pull/1648

@postspectacular  @AlexJerabek

[2019-11-30 14:46] acchou commented on #1616
The PR appears to work as expected. Thanks!