[2016-12-08 00:37] nickpape-msft opened #33 "In gcb-sass, we should rename useCSSmodules"
The name is confusing, since we treat anything with `.module.scss` as a css module, regardless of whether this flag is on. When this flag is on, we treat all .scss as a module, so I propose a rename to:

`treatAllFilesAsCSSModules`

[2017-01-11 01:07] nickpape-msft opened #40 "Separate the individual packages into multiple folders and update rush's reviewCategories"
We should consider adding some categories:

* Core System
* Plugins
* Build Rigs
* Tools

[2017-01-11 20:30] nickpape-msft opened #42 "Scrub email addresses"
All email addresses should be of the format: "{USER}@users.noreply.github.com"

We should fix this up. [Script from Git](https://help.github.com/articles/changing-author-info/).

[2017-02-21 16:04] NickSevens opened #116 "Executing serve build command exits gulp process - server stops running"
Hello,
I tried running the `gulp` command(s) from the wiki page, but have an issue with the `@microsoft/gulp-core-build-serve` part.

Running `gulp serve` fires up a server, opens up the browser, loads the page correctly, but then __exists__ the process, causing the http server to stop.

Could you please guide me towards a solution?

Here's the output of the gulp command:

[code]

Thank you in adv

[2017-03-06 12:04] statto1974 opened #126 "using the api config entry"
Just trying to implement this and can't work out how.

In my gulpfile I created the following entry

[code]
and in my api.js had the following simple piece of code

[code]
Can't work out what the entryPath needs to be. Have tried just 'api', './api' and those don't work either.

Any ideas or examples I can look at?

[2017-03-06 20:11] iclanton commented on #126
What is the error that you're getting? Keep in mind that if you're just serving files from your project directory, you don't need an API file. Serving files is the serve task's default behavior.

See [this code](https://github.com/Microsoft/web-build-tools/blob/master/gulp-core-build-serve/src/ServeTask.ts#L126) - the `entryPath` property is loaded with a `require` statement under the `rootPath`,

[2017-03-06 20:22] statto1974 commented on #126
I'm using react-router with browserHistory and need to return something when refreshing on a route. The docs on react-router suggest setting up the above code.

I'll try what you've suggested to and get back to you shortly. Thanks

[2017-03-06 20:53] dzearing opened #128 "Perf regression: moving from web-library-build 1.x.x to 2.x.x"
I see when moving from WLB 1 to 2, typescript compilation slows down significantly on larger projects like office-ui-fabric-react. Compilation went from 19 seconds to 1.9 minutes.

Case in point:

Before: 18s
https://travis-ci.org/OfficeDev/office-ui-fabric-react/builds/208238790

After: 1.89min
 https://travis-ci.org/OfficeDev/office-ui-fabric-react/builds/208326235

It doesn't seem to be related

[2017-03-06 20:59] dzearing commented on #128
In smaller projects like `utilities` or `todo-app` in the above examples, the differences are negligible; a couple seconds plus or minus. But in `office-ui-fabric-react` or `fabric-examples` the difference is much larger.

[2017-03-13 08:27] gmareater opened #130 "rush rebuild -q Error: spawn ENAMETOOLONG"
hi
I'm using rush for angular2 - webpack (https://github.com/AngularClass/angular2-webpack-starter)

rush generate
and
rush link
throw no error
but
rush rebuild -q
[code]

[2017-04-06 07:28] pgonzal commented on #130
Hi @gmareater, I apologize no one has followed up on your issue.  If you can provide a repro (e.g. git branch that I can clone), I'd be happy to investigate.  Thanks!

[2017-04-06 07:33] pgonzal commented on #116
Hi @NickSevens, I apologize that no one followed up on this. Are you still having the issue?  If so, could you provide some repro steps?  Thanks!

[2017-04-06 08:08] NickSevens commented on #116
Hi @pgonzal. Thanks for the follow up.
I managed to fix it in the end, by adding a watch in the gulp file. I don't recall anymore where exactly however :(

As for reproduction steps: I installed gulp-core-build, added webpack config and gulp file (copied from README) and ran `gulp serve`.

[2017-04-06 08:14] NickSevens commented on #116
I may have found the fix I used:
When changing `let serveTasks = build.task('serve', build.serial(bundleTasks, serve));` to `build.task('serve', build.serial(serve, build.watch("src/**/*.*", bundleTasks)));` the task doesn't finish, so the server is kept running.
Not sure if that's an ideal fix though?

[2017-04-06 18:26] iclanton commented on #116
Do you have a simple repro that you can share?

[2017-04-06 19:06] nickpape-msft commented on #130
From the callstack is looks like it may be an issue with package-deps attempting to pull git hashes for incremental builds.

[2017-04-09 12:24] gmareater commented on #130
hi
it's really a clone of this git: ( with almost no change)
https://github.com/AngularClass/angular2-webpack-starter

I have five of them in different folders.
 with this structure (red line are the cloned one)
![image](https://cloud.githubusercontent.com/assets/6206777/24837256/235c3e56-1d45-11e7-95a9-25b287bd8580.png)

[2017-04-10 17:56] pgonzal commented on #130
Can you share your `rush.json` configuration? i.e. something I can try to build to reproduce the error?

[2017-04-13 08:53] Schibum opened #161 "rush: build fails to use local npm scripts binaries"
So a package.json with local scripts like this:
[code]
Fails to build with `rush rebuild`

It only seems to look for a local "gulp" binary right now (
https://github.com/Microsoft/web-build-tools/blob/master/rush/rush/src/taskRunner/ProjectBuildTask.ts#L239 )

[2017-04-13 17:28] qinweiz commented on #161
Can you please paste the error messages?

[2017-04-13 17:31] qinweiz commented on #161
I think we can expand it to any locally installed packages.

[2017-04-14 06:21] pgonzal commented on #161
@Schibum is your project open source?  If you could share a branch, I'd be willing to help you get it building with Rush.  That might be more efficient than reporting/fixing a series of bugs.  (We generally assume that projects build using `gulp`, so your scenario is not very well tested -- although certainly intended to work.)

[2017-04-14 14:26] Schibum commented on #161
@pgonzal it's not open source, I just tried rush on some internal projects, that use locally installed npm binaries (like Babel-cli or typescript) to build in a simple npm run build script.

Would be nice to be able to run arbitrary commands in each package (like `lerna run` in https://lernajs.io)

[2017-04-14 20:11] iclanton commented on #161
Can you try installing `rimraf` globally (i.e. - `npm install rimraf -g`) and see if `rush rebuild` works?

[2017-04-15 01:46] ORESoftware opened #162 "decouple from Gulp"
I am looking into this tool to see if I can use it for my needs

I am working on this:
https://github.com/ORESoftware/npm-link-up

and I discovered Rush and Lerna in the process. One thing about Rush that threw me off - why is it so coupled with Gulp.js? I have seen some problems with Gulp over the years and it generally scares me.  Seems like using Bash would have been a better move, but maybe I

[2017-04-17 21:47] dzearing opened #163 "Update documentation to describe pinnedVersions"
When people run into the peerDependencies problem, you can fix using pinnedVersions but it isn't documented. Need docs for this.

[2017-04-25 07:21] NickSevens commented on #116
@iclanton I've shared it at https://github.com/NickSevens/web-build-issue-116
[code]

[2017-04-25 16:53] qinweiz commented on #162
You can use other globally installed tools for build. Does that work for you?

Also, what problems with Gulp have you had?

[2017-04-25 21:32] iclanton commented on #162
Rush shouldn't have any hard dependencies on Gulp. It uses the `scripts` section of the `package.json` file, from which you can call any tool you want.

I realize the Rush readme is a little misleading where it mentions that `rush rebuild` will call `gulp clean`, `gulp`, and `gulp test`, but if you take a look at the `scripts` section of the example `package.json` in [this section](https://github.

[2017-04-27 18:10] christiango opened #165 "Upgrade API extractor to TypeScript 2.3.1"
We're using API extractor and it has a peer dependency on 2.2.2, which seems to be blocking us from upgrading to 2.3.1.

[2017-04-27 18:10] christiang88 commented on #165
I'm looking at it now, feel free to assign it to me

[2017-05-12 12:00] NickSevens commented on #116
@pgonzal is this issue still being looked at?
tnx

[2017-05-12 18:22] pgonzal commented on #116
@NickSevens Ian is out of town.  Lemme see if I can find someone else to take a look.

[2017-05-12 18:42] nickpape-msft commented on #163
Added a Doc

[2017-05-12 18:42] #163 closed

[2017-05-12 20:39] iclanton commented on #116
I just tried out your repro project, but it appears to be working fine for me when I run `gulp watch`.

If you take a look at one of our OOB build rigs: https://github.com/Microsoft/web-build-tools/blob/master/core-build/web-library-build/src/index.ts#L69-L72, we also have the `watch` task to keep the server alive. So yes - the solution you found is correct.

Feel free to reopen this issue if you

[2017-05-12 20:39] #116 closed

[2017-05-12 21:53] qz2017 commented on #162
The problem is just that rush only detects local gulp, but does not detect other locally installed tools. That issue is tracked in issues#161.

[2017-05-12 21:54] #162 closed

[2017-05-12 21:54] qz2017 commented on #162
#161

[2017-05-12 21:57] qz2017 commented on #42
@pgonzal has scrubbed emails.

[2017-05-12 21:57] #42 closed

[2017-05-12 21:58] qz2017 commented on #40
Outdated issue.

[2017-05-12 21:58] #40 closed

[2017-05-12 22:03] qz2017 commented on #126
@statto1974 , I am closing this issue. If you still have trouble, feel free to reopen it with more details.

[2017-05-12 22:03] #126 closed

[2017-05-12 22:06] qz2017 commented on #130
closing old issue.. @gmareater , feel free to reopen it with information about your rush.json.

[2017-05-12 22:06] #130 closed

[2017-05-12 22:21] qz2017 commented on #165
We are skipping Typescript 2.3.1 and waiting for 2.3.3,  because 2.3.1 and 2.3.2 have some issues, e.g. [TypeScript 15546 ](https://github.com/Microsoft/TypeScript/issues/15546).

[2017-05-12 22:21] #165 closed

[2017-05-13 16:01] dzearing commented on #128
This was resolved at the typescript layer and gulp-typescript plugin.

[2017-05-13 16:01] #128 closed

[2017-05-19 20:34] nickpape-msft commented on #33
VSO 363273

[2017-05-19 20:36] #33 closed

[2017-05-19 20:38] nickpape-msft commented on #161
@Schibum, we added some basic support for calling locally installed tools. Could you try again with the new release of Rush?

We also have work in the pipeline to improve the overall extensibility (allowing you to create your own actions e.g. "rush run foo", and flags "rush run foo --myFlag")

[2017-05-24 18:37] cluetjen opened #215 "rush: "unable to hash" when using git submodules"
I've a few npm packages currently in one git repository per npm package. For testing I created a new git repository and added the existing projects using git submodules.
When I run "rush rebuild" I get the following error:

[code]
Where "ng-base" is the folder of a project added as git submodule.
Running "rush rebuild --verbose" reports:

[code]
(Submodules: ng-base and ng-data folder.)

I guess i

[2017-05-26 15:46] cluetjen opened #216 "Feature Request: Link Subdirectory"
Most of my libraries create their output in a separate folder /dist including a separate package.json file. Published npm package will contain content of this /dist folder only, so I'd prefer to link only this /dist folder. That seems to be not possible.

Example:
[code]

And in "myapp":

`/node_modules/mylib/ <contents from mylib/dist>`

[2017-06-02 01:24] pgonzal commented on #216
Interesting.  In our backlog we have a work item proposing to adopt a similar strategy, but we haven't gotten to it yet.

To clarify, you're basically asking for (1) the "npm publish" should be run inside the "dist" folder, and (2) the local symlinks to point to this folder?

I'm not sure I would want to represent this in Rush.json.  It might make more sense as a custom setting in your package.jso

[2017-06-08 16:35] smoustaj opened #224 "RushCommandLineParser Error"
Since Version 3.0.8 (also 3.0.9)

When launching `rush generate`, it returns the following error

    Error: The command failed with exit code 1

    at ProjectBuildTask._executeTask (/usr/local/lib/node_modules/@microsoft/rush/lib/taskRunner/ProjectBuildTask.js:88:31)
    at /usr/local/lib/node_modules/@microsoft/rush/lib/taskRunner/ProjectBuildTask.js:31:19
    at ProjectBuildTask.execute (/usr/

[2017-06-12 17:14] voodooattack commented on #161
When I try:
[code]
It works; but it breaks the normal npm run command.

[2017-06-12 19:22] pgonzal commented on #161
@nickpape-msft @qz2017 I was able to repro this issue using a script like this:

[code]

(Note that **rimraf** needs to appear in the package.json file, so that Rush will find it in "./common/temp/node_modules/.bin".)

Surprisingly, the "lib" folder is deleted correctly, however Rush still fails with this error message:

[code]

That is coming from this code in [ProjectBuildTask.ts](https://github

[2017-06-13 01:40] nickpape-msft commented on #215
This definitely looks like an issue with `package-deps-hash`. It does appear that Git is returning a different format than we expect when using submodules. For this fix, we probably need to make the parsing of `git ls-tree` powerful enough to not throw an exception.

Git return the commit number that we are currently on for a submodule, which will work OK with incremental, although you will lose o

[2017-06-14 12:12] fuocor opened #228 "Cannot specify es2015 module type in TypeScriptTask or ApiExtractorTask"
When specifying es2015 as the module type the TypeScriptTask and ApiExtractorTask automatically override the values to commonjs.

It should allow the es2015 module to flow through

rich

[2017-06-14 16:58] fuocor opened #229 "gulp-core-build-sass emits legacy export assignment"
the gulp-core-build-sass is using "export = styles" rather than "export default styles" when no module name is specified

[2017-06-15 17:26] fuocor opened #230 "Project dependencies"
It's not at all clear how to get project dependencies to work.

If I create ProjextA and ProjectB (dependency of A) at the same time how do I get B linked to A?
Adding B to the project.json of A result in "rush generate" failing and "cyclicDependencyProjects" in rush.json does not seem to have any effect.

thanks,
rich

[2017-06-15 17:52] qz2017 commented on #230
You can use a lower/published version of B in project.json of A. Then A is built with a slightly older version of B.  One project has to be built first with all available dependencies.

[2017-06-15 18:36] iclanton commented on #229
If the [module name](https://github.com/Microsoft/web-build-tools/blob/master/core-build/gulp-core-build-sass/src/SassTask.ts#L43-L48) is set to the empty string (`''`), the `export = styles` style export is used. If it's set to `null` or `undefined`, the `export default styles;` style export is used. Try setting that configuration value to `null` or `undefined`.

[2017-06-15 18:36] #229 closed

[2017-06-15 18:37] nickpape-msft commented on #230
Hi @fuocor,

To be clear, you are attempting to simply link 2 projects together? You should simply be able to add both projects to your `rush.json`, add a dependency to ProjectB in the `package.json` of ProjectA, then run "rush install". As long as the version specifier used in the package.json of ProjectA is compatible with the version specified in ProjectB's `package.json` everything should link

[2017-06-15 20:03] nickpape-msft commented on #228
Hi @fuocor, that is definitely a design flaw. I've created a PR to address the issue.

[2017-06-15 20:08] nickpape-msft commented on #224
Hi @smoustaj - are you still seeing this issue? `rush generate` should not be invoking the TaskRunner/ProjectBuildTask at all (only `rush rebuild` should do that)

[2017-06-15 22:30] #228 closed

[2017-06-16 09:54] fuocor commented on #230
I thought I did that ( a few times ...)  to have the rush generate fail
I tried again ...and...  I guess doing on a Friday morning at 5:30 fixed the problem ;).
Yesterday must have been a really bad karma day for me

thanks.

[2017-06-16 14:26] #230 closed

[2017-06-16 15:26] fuocor opened #237 "Cyclic Dependency Problems"
I have some cyclic package dependencies that I want to put into place for a complex solution  but the "rush generate" command fails.

To illustrate the problem I created a simple sample with projects a, b, & c, where b & c depend on a, and a on b & c.
[sample.zip](https://github.com/Microsoft/web-build-tools/files/1081195/sample.zip)

I am getting:
npm ERR! code E404
npm ERR! 404 Not Found: proja@

[2017-06-16 22:52] nickpape-msft commented on #237
Hi @fuocor,

One thing that is important to note about cyclic dependencies is that once you mark a dependency as being "cyclic", rush will not locally link the dependency and instead it will attempt to install an acceptable version via NPM.

So in your example, when `projb` marks `proja` as being cyclic, Rush will attempt to install `proja` from the registry. If you think about this, it makes sens

[2017-06-16 23:57] fuocor commented on #237
I noticed that it was being used in the ui-fabric-react codebase, and I thought I'd use it to manage some dependency injection requirements I have.
I already moved on to a more traditional consumer/provider approach with an abstract intermediary referenced by both (similar lo localization of resources).

The consumer is a composite made up of an arbitrary number of provider components. The problem

[2017-06-17 11:36] #237 closed

[2017-06-21 04:12] theJian opened #246 "Outdated link"
The link pointed to `rush-schema.json` in [wiki](https://github.com/Microsoft/web-build-tools/wiki/Rush-~-Setting-up-your-repo#step-1-create-rushjson) is outdated. The file now is named `rush.schema.json` and located in `https://github.com/Microsoft/web-build-tools/blob/master/apps/rush-lib/src/rush.schema.json`.

[2017-06-23 18:43] qz2017 commented on #246
Thanks for pointing it out. The wiki page has been updated.

[2017-06-23 18:43] #246 closed

[2017-06-25 12:39] fuocor opened #248 "Feature Request - inline-mage in sass-task"
I really need the ability to inline images into the compiled css. If I use a standard node-sass task I can inline svg files using the approach described [here](https://coderwall.com/p/fhgu_q/inlining-images-with-gulp-sass).

Based on the code for the build tools sass task, it should be pretty straight forward to implement.

thanks.
rich

[2017-06-25 13:37] fuocor commented on #248
never mind, I found another route

[2017-06-25 13:37] #248 closed

[2017-06-26 20:11] nickpape-msft commented on #215
@cluetjen - this should be supported now. Closing the issue. Feel free to re-open if you continue to encounter problems. Thanks!

[2017-06-26 20:11] #215 closed

[2017-06-29 10:56] MartynasZilinskas opened #257 "[Rush] The NPM shrinkwrap file does not provide gulp."
_Output:_
[code]

I ran into problem when using dependency from github at specific tag in my packages.
[code]

From `npm-shrinkwrap.json`:
[code]
It takes last commit hash from `4.0` branch.

[2017-07-01 06:18] pgonzal commented on #257
Does this problem persist even after you run "`rush generate`"?  If so, could you provide some simple repro steps?  Thanks!

[2017-07-01 06:40] pgonzal commented on #257
I see.  The problem in this case is that [https://github.com/Microsoft/web-build-tools/blob/5513858b1d478bd5670e9a738936b0e87a88aab3/apps/rush/src/utilities/ShrinkwrapFile.ts#L88](ShrinkwrapFile.hasCompatibleDependency()) only considers SemVer compatibility:

[code]

But in your case, the version pattern is  `"github:gulpjs/gulp#4.0"` not a SemVer expression.  If we support this syntax, we would n

[2017-07-02 18:33] MartynasZilinskas commented on #257
Hey @pgonzal.

We are currently using rush in one of our open-source projects [Link to repo](https://github.com/SimplrJS/react-forms).
With this issue, we must use `rush generate` instead of `rush install` to install packages. I think it is rush's bug, since it works with `npm install`, even when `npm-srinkwrap.json` is present.

Me and @DovydasNavickas were searching npm source code to see how np

[2017-07-02 22:06] pgonzal commented on #257
The Rush operation that I described will examine your [react-forms/package.json](https://github.com/SimplrJS/react-forms/blob/master/packages/react-forms/package.json)...

[code]

...and then compare it to your [npm-shrinkwrap.json](https://github.com/SimplrJS/react-forms/blob/master/common/config/rush/npm-shrinkwrap.json)...

[code]
...in order to determine whether the "gulp" version described by

[2017-07-02 22:10] pgonzal commented on #257
FYI I just tried an experiment with NPM:

1. Create a package.json with "`github:gulpjs/gulp#master`"
2. Run "`npm install`"
3. Delete the package-lock.json file
4. Modify package.json to say "`github:gulpjs/gulp#4.0`"
5. Run "`npm install`" again

It seems that `npm install` does NOT force a reinstall of gulp.  Instead, it happily says that everything is okay, leaving you with the wrong gulp vers

[2017-07-03 05:07] pgonzal commented on #257
@MartynasZilinskas Could you test this PR and let us know if it solves your problem?

[2017-07-03 09:04] MartynasZilinskas commented on #257
Yeah, it solves the problem. It emits a warning as intended. :+1:

[code]

[2017-07-04 00:00] #257 closed

[2017-07-04 00:37] pgonzal commented on #257
Fixed in `@microsoft/rush@3.0.11`

[2017-07-04 12:07] cluetjen commented on #216
Exactly.

Perhaps. Let me add some background info.

I'm using a layout as generated by:  https://www.npmjs.com/package/generator-angular-library

[code]

So it's more like a package (as defined in top level package.json) written in TypeScript that generates a different package (as defined in /src/package.json) now in JavaScript with inlined resources, etc....

[2017-07-04 12:20] NickSevens opened #262 "TypeScript 2.4"
Hello, is there a plan/procedure to make the build use TypeScript 2.4 instead of 2.2.2?
gulp-core-build-typescript will always compile using 2.2.2 at the moment.

Thank you.

[2017-07-05 04:45] pgonzal commented on #262
Yes, we are planning to upgrade to 2.4 soon.  Currently compiler migrations are fairly expensive for us, because we have a large number of projects.

We frequently hear from eager adopters who want to stay current with the latest compiler releases.  To address this, we are planning to introduce a configuration option for switching between the "latest" and "stable" compiler.  (We cannot simply drop

[2017-07-05 05:00] pgonzal commented on #216
+@qz2017 who has been working on revamping the implementation of "rush publish".

Our scenario is a little different.  We want to publish different builds of the same NPM pacakge, e.g. an hourly "development" build to our internal NPM registry, as well as a public "production" and "beta" release.  The development and beta builds will use NPM release tag suffixes in their version numbers.  Since we

[2017-07-05 05:02] pgonzal commented on #216
Is your project open source?  It might be interesting to look at your build setup.

[2017-07-05 09:20] ipip2005 opened #264 "build.addSuppression support regex?"
There were some warnings that will print local path (C:/Users/xxx/GitRepos/...) that variant in different machines.
If the `addSuppression` method can support regex, then we can filter these kinds of warning logs out and bypass the build.

[2017-07-05 13:36] MartynasZilinskas opened #265 "Missing package from wiki: ts-spec-gen"
I found in `api-extractor` wiki link to a package, which repository is not found.
[code]
[Link to wiki](https://github.com/Microsoft/web-build-tools/wiki/API-Extractor-~-Feature-walkthrough)

Is this package still available somewhere? I think it would actually help a lot for documentation generation from json file.

[2017-07-06 14:37] NickSevens commented on #262
I did manage to use another typescript compiler by adding the following in `gulpfile.js`:
[code]
This ensured the compilation used the npm installed TypeScript version.

[2017-07-06 20:29] pgonzal commented on #262
If it works for you, feel free to use that option.  However, we cannot support any incompatibilities that may arise (e.g. tslint rules behaving incorrectly, api-extractor crashes, etc).

[2017-07-07 08:28] NickSevens commented on #262
In the end, decided to work around the issues I had with 2.2, instead of changing the compiler version.
Seems to be more reliable, and indeed would keep the compatibility in check.
Thanks for the info though.

[2017-07-07 08:28] #262 closed

[2017-07-07 14:37] jair-cazarin opened #266 "gcb-typescript: support for tsconfig extends"
The extends feature allows a tsconfig.json file to inherit configurations from another file. This is particularly useful when using rush and maintaining multiple packages in a monorepo.

gulp-typescript just added support for tslint extends in its latest [release](https://github.com/ivogabe/gulp-typescript/releases/tag/v3.2.0).

I believe there is no additional work for gcb-typescript other than s

[2017-07-11 08:01] smoustaj commented on #224
Yes sorry I meant ```rush rebuild```.
Anyway with version 3.11 the problem is resolved.

Thanks

[2017-07-11 16:42] #224 closed

[2017-07-11 18:38] nickpape-msft commented on #264
Hi @ipip2005, that is a good suggestion.

We are eventually planning on overhauling and improving the entire error handling experience to make it more structured and easy to use.

In the short-run, I've opened a PR #268 which adds a Regex-based suppression function.

[2017-07-11 21:52] nickpape opened #270 "[rush] "rush change" needs to detect where the rush.json file is relative to the git repo"
Right now this causes issues if your rush.json is not in the root of your repository.

Essentially, `rush change` is using relative paths from git to determine which project a changed file belongs to, however, the rush.json has paths that are relative to its location, whereas git has paths that are relative to the root of the repo.

The fix for this should be relatively straightforward. Whenever w

[2017-07-11 22:19] nickpape-msft opened #271 "Rush build does not work if not using git"
It hangs and throws a git-related exception

[2017-07-11 22:54] nickpape-msft commented on #264
This has been fixed by #268

[2017-07-11 22:54] #264 closed

[2017-07-21 22:23] nickpape-msft opened #280 "IChangelog should have Date class instead of string for `date` property"
We should use Date.

Currently the change log processor has a bug where different date strings in the JSON file are passed through verbatim to the Markdown file.

The Markdown renderer should determine the date format, not the JSON file.

[2017-07-26 10:55] kollster opened #284 "web-library-build: serve task no longer starts local http server"
It seems that serve task in web-library-build no longer starts a local http server.

Normally, the command ```gulp serve``` compiles, bundles, starts the local http server and watches for changes, but now it seems that the server is not started at all.

Does the serve task now require additional configuration for actually serving?

[2017-07-26 21:39] nickpape-msft commented on #284
This is a regression. PR #286 should fix this issue.

[2017-07-26 21:46] #284 closed

[2017-08-02 13:59] MartynasZilinskas opened #292 "[api-extractor] Functions and Methods doesn't get their params"
I started writing my own docs generating implementation and encountered some issues with `api-extractor` module.

Functions doesn't get its parameters because object is undefined. Source code: [here](https://github.com/Microsoft/web-build-tools/blob/master/libraries/api-extractor/src/generators/ApiJsonGenerator.ts#L273-L275) and [here](https://github.com/Microsoft/web-build-tools/blob/master/libra

[2017-08-02 17:29] MartynasZilinskas opened #293 "[api-extractor] Namespace doesn't have exported members"
Code sample:
[code]

Searching in the source code, I only found: [ApiModuleVariable](https://github.com/Microsoft/web-build-tools/blob/master/libraries/api-extractor/src/definitions/ApiNamespace.ts#L99).

I think, `api-extractor` should support interfaces, enums, classes etc, in namespaces.

__EDIT:__
[code]
Strangely enough, I haven't received a warning in `api-extractor` runtime.

[2017-08-02 18:59] pgonzal commented on #293
API Extractor's handling of namespaces is a new feature that was aimed at a fairly restricted scenario ("[API Extractor now supports tables of constants](https://github.com/Microsoft/web-build-tools/wiki#may-1-2017---api-extractor-now-supports-tables-of-constants)").  For a long time, the TypeScript "module" and "namespace" keywords were basically deprecated, and only needed for describing typings

[2017-08-02 19:00] pgonzal commented on #293
\+ @dzearing  who was also interested in namespaces

[2017-08-02 19:08] pgonzal commented on #292
This is a bug.  Do you want me to create a PR to fix it? Or do you want to create the PR?

Is your implementation open source?  Our internal documentation pipeline is unfortunately very complicated (due to requirements of the docs.microsoft.com system), so it would be really useful to have a "reference implementation" that transforms the API Extractor JSON into simple HTML or Markdown pages.  If y

[2017-08-02 22:48] MartynasZilinskas commented on #292
If you can, it would be better you make the changes. I am not really that familiar with this code our how exactly is done. Here are current changes I made to [ApiJsonGenerator](https://github.com/SimplrJS/ts-docs-gen/blob/dev/src/extractor/api-json-generator.ts).

Yes, it's in `dev` branch. Unfortunately it's a spaghetti code. First version of this package I am making for typescript projects so we

[2017-08-02 22:55] MartynasZilinskas commented on #293
Interesting. I guess I will have to discuss about this with @DovydasNavickas.

Fair enough.

[2017-08-02 23:28] pgonzal commented on #292
You will have a much easier time if you go JSON --> markdown instead of ApiItem tree --> markdown.

Here is a [prototype branch](https://github.com/Microsoft/web-build-tools/tree/pgonzal/yaml-prototype/prototypes/api-yaml-builder) that I was working on, which goes from JSON --> YAML (with each YAML file roughly corresponding to a page on an API documentation web site).  The main loop is in [ApiYam

[2017-08-02 23:57] MartynasZilinskas commented on #292
That's true. But in some cases I found that current JSON has not sufficient data to generate something like this:

_Example Markdown_

-------------------------------------------------------------

##### SetBar

Summary of SetBar method.

[code]
###### Parameters

 - bar: `Bar`
###### Returns

`void`

-------------------------------------------------------------

Without modifying `ApiJsonGenerato

[2017-08-03 04:42] pgonzal commented on #292
Could you open a separate GitHub issue to track this (and any other limitations you encounter)? We are actively working on the documentation pipeline, including JSON schema improvements, and will prioritize this sort of issue.  You can also feel free to create a pull request to fix any missing data issues in the JSON -- these are relatively easy fixes.  :-)

Okay, maybe I can start by creating a s

[2017-08-03 07:27] MartynasZilinskas commented on #292
Alright.

I will do a little research, what are other alternatives for markdown generation. We will see about that.

Sounds like a plan :smile:

[2017-08-07 22:44] MartynasZilinskas opened #295 "[api-extractor] Missing specific kind property string in IDocElement."
Specific "kind" property is missing in interfaces.
[IHrefLinkElement](https://github.com/Microsoft/web-build-tools/blob/master/libraries/api-extractor/src/IDocElement.ts#L32-L47) and [ICodeLinkElement ](https://github.com/Microsoft/web-build-tools/blob/master/libraries/api-extractor/src/IDocElement.ts#L53-L84) should have `kind: 'linkDocElement';`.
Because this string is used: [here](https://githu

[2017-08-07 23:36] MartynasZilinskas opened #296 "[api-extractor] ApiStructuredType implements property should be string array."
Class `implements` should be string array, because you can implement more than one interface.

[code]
Class `FancyFooBar` `implements` property returns only `Foo`.

[Source code](https://github.com/Microsoft/web-build-tools/blob/master/libraries/api-extractor/src/definitions/ApiStructuredType.ts#L77-L87)

[2017-08-08 18:13] fuocor opened #297 "tslint task failing"
I have a rather simple project using rush (3.0.12) and  "@microsoft/web-library-build": "^3.2.3".

I configured the tslint gulp task as"

`//Configure custom lint overrides.
let rules = Object.assign(
    {},
    require('./tslint.json').rules
);
build.tslint.setConfig({
    lintConfig: { rules },
    displayAsWarning: false
});`

and the rush (re)build ot gulp tslint are failing with:

FatalError

[2017-08-10 13:35] fuocor commented on #297
I found the problem...

If the tsconfig.json has an "include" then the tslint task will fail

[2017-08-10 13:55] fuocor commented on #297
Same is true if "files" is in the tsconfig

[2017-08-11 13:12] fuocor opened #305 "typescript task inlines content into sourcemaps"
The typescript task inlines the file contents into the source maps with no way to override it.

By default gulp-sourcemaps includes the content when generating the files. Unfortunately, this is a problem when debugging node projects or chrome workspace mapped files because breakpoints are not recognized on the local files.

There needs to be a way to provide includeContent: false to gulp-sourcemap

[2017-08-11 14:38] fuocor commented on #305
in the _compileProject function of the task if

`jsResult = jsResult.pipe(sourcemaps.write('.', { sourceRoot: this._resolveSourceMapRoot }));`

is changed to:

`jsResult = jsResult.pipe(sourcemaps.write('.', { sourceRoot: "../../<gulpfile_dir>/src", includeContent: false }));`

then it maps the correct place.

rich

[2017-08-12 00:13] fuocor opened #310 "gulp-sourcemap differences"
I have a config that includes the following:

`build.typescript.taskConfig.libES6Dir = './es6';`
`build.typescript.taskConfig.libDir = './lib';`

the problem is that the source maps point to 2 different locations.

lib pointing to:
`{"version":3,"sources":["../../src/index.ts"],"names":[],"mappings":";;;AAAA,yDAA+B;AAC/B,uDAA6B;AAC7B,yDAA+B","file":"index.js","sourcesContent":["export * from \"./c

[2017-08-15 18:21] abettadapur opened #314 "@microsoft/load-themed-styles 1.7.0 breaks package layout, AMD version missing"
The latest version of this package did not follow semver practices and changed the package layout compared to 1.6.0. The lib-amd folder was removed from this package.

Is lib-amd no longer going to be packaged with this library?

1.6.0
![image](https://user-images.githubusercontent.com/2415669/29329788-dd54817c-81ab-11e7-8502-d178f5b85de2.png)

1.7.0
![image](https://user-images.githubusercontent.

[2017-08-15 23:13] qz2017 commented on #314
@iclanton has fixed it. Please wait for the next release.

[2017-08-15 23:39] iclanton commented on #314
This has been fixed in 1.7.1. The `lib-amd` directory was accidentally removed by an update to the `.npmignore` file.

It should be released in a few minutes.

[2017-08-15 23:39] #314 closed

[2017-08-16 09:37] kollster opened #319 "[web-library-build] Sourcemaps do not map to typescript sources"
This issue is regarding to the ```web-library-build``` package version 3.2.8.

When using web-library-build with no customization, the bundle task creates sourcemaps that map to compiled js-files in lib folder instead of their original typescript sources.

The default project layout is:
dist/
lib/
src/

As far as I can understand, the bundle task uses the build task to compile typescript files and

[2017-08-16 16:53] dzearing opened #320 "Rush change: use the correct remote in github scenarios"
I see empty change files in fabric-react nearly every day. Example:

https://github.com/OfficeDev/office-ui-fabric-react/pull/2514/files

This was because it’s comparing against “origin/master”, which is the wrong remote.

It’s not the end of the world, but it would really be nice to fix `rush change` to compare against the correct remote. This can be deduced a number of ways. For example, package

[2017-08-16 17:56] pgonzal commented on #293
Since there have been no comments, I'm closing this issue.  Feel free to reopen it if you have further thoughts.

[2017-08-16 17:56] #293 closed

[2017-08-16 17:57] pgonzal commented on #292
FYI I started work on this.  Here's my branch if you want to follow along:

https://github.com/Microsoft/web-build-tools/tree/pgonzal/api-documenter

I'll update this issue when I've merged the first prototype.

[2017-08-16 17:57] pgonzal commented on #265
Closing this issue, since we decided to create more reusable tooling in the discussion for #292

[2017-08-16 17:57] #265 closed

[2017-08-18 20:52] dzearing opened #326 "[rush] "rush build" always rebuilds a project with an empty build script"
Repro:

Have 2 or more packages in a repo that depend on a core package.
In the core package, have an empty string for clean/build scripts:

[code]

Run `rush build`
Run `rush build` again

Expected:
Everything is skipped.

Resulted:
Everything is built again, because an empty "build" script bypasses the build task completely and invalidates downstream dependencies.

[2017-08-18 21:15] qz2017 commented on #271
Rush needs git currently. We can add support for scenarios not using git when needed.

[2017-08-18 21:15] #271 closed

[2017-08-18 21:25] qz2017 commented on #280
That should be fine. The data entry is whatever in changelog.json file as UTC. Markdown renderer has the freedom to construct it again and change the format.

[2017-08-18 21:25] #280 closed

[2017-08-19 10:35] timneedham opened #327 "Rush: Can't get change/publish to work?"
Hi,

`rush version 3.0.11`

Help! `rush change` always results in `No change file is needed` and `rush publish` doesn't seem do anything... even though we've changed loads of projects inside our monorepo.

**Am I missing something (can't find anything in the docs)?**

* Our work-in-progress monorepo lives __[here](https://github.com/wmfs/tymly)__ if that helps.

One of the reasons for using Rush w

[2017-08-19 16:20] qz2017 commented on #327
To make rush change or rush publish do things, you need to mark the projects you want to publish with a flag "shouldPublish" first, like here: https://github.com/Microsoft/web-build-tools/blob/a19b03c0c50ac90b4038ff951301e901ce96e3d3/rush.json#L61

[2017-08-19 17:30] timneedham commented on #327
Thanks @qz2017

Doesn't seem `shouldPublish` isn't mentioned anywhere in the docs  - just the change log?

[2017-08-19 21:56] qz2017 commented on #320
https://github.com/Microsoft/web-build-tools/pull/328

[2017-08-22 18:54] fuocor commented on #319
Same problem as: [here](https://github.com/Microsoft/web-build-tools/issues/310)

[2017-08-30 09:25] farawayplace613 opened #335 "Can't install the package by command "npm install @microsoft/node-core-library""
Error message is,
npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Users\\abrcheng\\AppData\\Roaming\\npm\\node_modules\\npm
\\bin\\npm-cli.js" "install" "@microsoft/node-core-library"
npm ERR! node v6.11.1
npm ERR! npm  v3.10.10
npm ERR! code E404

npm ERR! 404 Not found : @microsoft/node-core-library
npm ERR! 404
npm ERR! 404  '@microsoft/node-core-libr

[2017-08-30 10:23] MaximDelyukin commented on #335
Hi all,
Same issue here.

[2017-08-30 11:56] eHyve commented on #335
Hi All,
I am currently having the same issue. It was working OK yesterday for me.
Thanks for any help

[2017-08-30 12:10] bastianjohn opened #336 "Can't disable sass warning "filename should end with module.scss""
Hi,

i am using the web-build-tools in a SPFx project. Then i added a test.scss file, so that no hashes are added to the classes i am using. In the gulp task there is now a warning displayed:

`Warning - [sass] src\webparts\utilities\circleProgress.scss: filename should end with module.scss`

I've tried to disable this warning by setting the config for the build task. But the default sass config i

[2017-08-30 13:17] BoehnMa commented on #335
Hi all,
also for me today the same issue. Yesterday no issues.
Please help!
Thanks - Matthias

[2017-08-30 14:55] pgonzal commented on #292
Hi @MartynasZilinskas - following up on this.  The initial implementation is fairly close to being finished.  I completed the main loop, and now just need to fill out all the different types of data.  You can see an example of the current output on this web site:

https://microsoft.github.io/web-build-tools/api/

Let me know if you have any feedback about the layout.

[2017-08-30 15:10] paololec commented on #335
Me too.

[2017-08-30 17:10] qz2017 commented on #335
It should have been solved. Please try again. Feel free to reopen the issue if it still happens to you. Sorry for the inconvenience.

[2017-08-30 17:10] #335 closed

[2017-08-31 11:00] BoehnMa opened #344 "Error when start "gulp serve""
## What I did:
1. "npm install" on a spfx sample project (https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/js-display-list)
2. Try to make it run with "gulp serve".

## The error I get:
E:\dev\admboehnma\ttt\js-display-list>gulp serve
Build target: DEBUG
TypeError: Cannot read property 'readCommentedJsonFile' of undefined
TypeError: Cannot read property 'readCommentedJsonFile'

[2017-09-01 17:56] fuocor commented on #305
BTW - the following changes to the package gulpfile  generates the correct source maps

build.TypeScriptConfiguration.setTypescriptCompiler(require('typescript'));
build.typescript['_tsES6Project'] = ts.createProject('tsconfig.json', { module: 'commonjs' });
build.typescript.taskConfig.libDir = './trash'
build.typescript.taskConfig.libES6Dir = './lib'

[2017-09-01 17:56] fuocor commented on #319
BTW - the following changes to the package gulpfile  generates the correct source maps

build.TypeScriptConfiguration.setTypescriptCompiler(require('typescript'));
build.typescript['_tsES6Project'] = ts.createProject('tsconfig.json', { module: 'commonjs' });
build.typescript.taskConfig.libDir = './trash'
build.typescript.taskConfig.libES6Dir = './lib'

[2017-09-01 17:56] fuocor commented on #310
BTW - the following changes to the package gulpfile  generates the correct source maps

build.TypeScriptConfiguration.setTypescriptCompiler(require('typescript'));
build.typescript['_tsES6Project'] = ts.createProject('tsconfig.json', { module: 'commonjs' });
build.typescript.taskConfig.libDir = './trash'
build.typescript.taskConfig.libES6Dir = './lib'

[2017-09-05 18:28] fuocor opened #354 "rush link ERROR: Failed to parse package.json for <project>: Invalid version: "file:projects/<project>.tgz""
Rush Multi-Package Build Tool 3.0.15

running rush install then rush link results in the error:

ERROR: Failed to parse package.json for <project>: Invalid version: "file:projects/<project>.tgz"

whereas running rush generate links everything fine

not sure where to start looking additional diagnostics

regards

[2017-09-05 18:52] nickpape-msft commented on #354
Hi @fuocor,

There was [a change](https://github.com/Microsoft/web-build-tools/wiki#september-5-2017---changes-requiring-action-in-rush-3015) made in the 3.0.15 release that requires you to run **rush generate**. To resolve the issue, please run **rush generate** and checkin the resulting changes to your shrinkwrap file.

[2017-09-05 19:20] nickpape-msft commented on #327
Thanks @timneedham , I have updated our documentation to mention the `shouldPublish` flag.

[2017-09-05 19:20] #327 closed

[2017-09-05 19:27] nickpape-msft commented on #344
Hi @BoehnMa, we had a regression occur for some older packages (as they had too loose of SemVer patterns and picked up a breaking change). This issue was addressed early last week. Could you try deleting and reinstalling your node_modules folder to pick up the fixed packages?

[2017-09-05 19:33] pgonzal commented on #344
Yes, it should have been fixed by #347 **Republish last major release of core build libraries to fix compatibility issue**.

[2017-09-05 19:56] qz2017 commented on #320
It is supported in rush 3.0.15

[2017-09-05 19:56] #320 closed

[2017-09-05 19:58] nickpape-msft commented on #336
Hi @bastianjohn , apparently there is a regression around setting properties using the gulpfile that we need to look at.

Could you try moving this line:

`build.sass.setConfig({ warnOnNonCSSModules: false, useCssModules:true});`

after

`build.initialize(gulp);`

e.g.:
[code]

[2017-09-05 19:58] #344 closed

[2017-09-05 22:59] fuocor commented on #354
thanks...

[2017-09-05 22:59] #354 closed

[2017-09-06 07:33] bastianjohn commented on #336
hi @nickpape-msft, that worked great, the warning is gone!
Thanks for theworkaround and your help!

[2017-09-06 07:33] #336 closed

[2017-09-06 10:42] olemp opened #359 "[load-themed-styles] Error in function shouldUseCssText"
There's a error in @microsoft\load-themed-styles.

The function `shouldUseCssText()` is used to determine wether `registerStyles()` or `registerStylesIE()` is used to register styles. According to `shouldUseCssText()`, `registerStylesIE()` should be used for IE 9 and below, but it also kicks in for IE 10 and IE 11 (which default to document mode IE 10).

Could `shouldUseCssText()` be written in an

[2017-09-06 19:16] iclanton commented on #359
@dzearing - can you take a look at this?

[2017-09-06 19:22] iclanton commented on #319
WRT your `build.TypeScriptConfiguration.setTypescriptCompiler(require('typescript'));` line - which version of TypeScript do you have in your `package.json`?

Interesting that changing the compilation mode to es6 fixes a sourcemap issue. I'm guessing the root of the issue is that the OOB webpack configuration is missing the source-map-loader.

Can you try installing the `source-map-loader` package

[2017-09-06 19:24] iclanton commented on #310
Seems like the TypeScript compilation configuration is missing a sourcemap property. If you add a `"inlineSources": true` property to your `tsconfig.json`, that may fix it.

[2017-09-06 20:33] dzearing commented on #359
@jijizz This may be an optimization we could make. We really don't support IE10 or below any more, so removing this code would probably both speed up the registration and reduce bundle size.

[2017-09-08 12:38] NickSevens opened #365 "[gulp-core-build] Set/replace SASS variables in gulp"
Is it possible in any way to change SASS variables at compile time?

Specifically, I need to change relative IMG base paths.
E.g: I have images in a SharePoint /Style Library. However, since `gulp-core-build-sass` injects the output CSS as JS, the relative paths do not work anymore. This could be resolved/worked around if I could specify an absolute path when running gulp.

Thanks.

[2017-09-10 00:30] #292 closed

[2017-09-10 00:31] pgonzal commented on #292
This should be fixed now.

[2017-09-10 00:34] pgonzal commented on #295
The plan is to replace this with the new [MarkupElement](https://github.com/Microsoft/web-build-tools/blob/master/libraries/api-extractor/src/markup/MarkupElement.ts) data structure, which will unify the way rich text is represented across the documentation pipeline.  This will be completed by the end of this month.

[2017-09-13 07:50] kollster commented on #319
@iclanton Sorry for the late response.
Now, I have tried installing ```"source-map-loader": "0.2.1"``` and I have added the suggested rule wo my webpack.config.js:
[code]
**And now it works!** I can place breakpoints in the typescript sources, and everything work just as expected 👍 Thank you for the input!

By the way, I am using the following versions of relevant software:
[code]
Is this sourcema

[2017-09-15 09:25] estruyf opened #374 "Karma extensibility for reporters"
Is it possible to include extensibility for using additional reporters like for example: `karma-html-reporter`?

This makes our unit-tests a lot better and easier to report.

[2017-09-22 18:01] abettadapur opened #379 "With gulp-core-build@3.1.0, task construction fails"
Calling new on a custom task that extends GulpTask<Config> fails with this error

[code]

This was succeeding in earlier versions, only to fail in 3.1.0

[2017-09-25 21:20] HipsterZipster commented on #354
This is a really annoying issue when `rush generate` takes a long time to run. Just adding or updating a single npm module shouldn't require regenerating everything

[2017-09-27 19:30] nickpape-msft commented on #379
We updated the build target for our tooling to es6, which means we are now outputting es6 compliant-classes. For the project containing your gulp tasks, (`pextasks`), could you try updating the `tsconfig.json` `target` to `es6`? Note that es6 is compatible with NodeJS runtimes 6.5.11 and up.

[2017-09-27 19:32] abettadapur commented on #379
Sure, I can try that.
This should have been a v4 change though, no?

On Wed, Sep 27, 2017, 12:30 Nicholas Pape <notifications@github.com> wrote:

[2017-10-02 19:44] nickpape-msft commented on #374
We are looking into it. If you are just using `@microsoft/web-library-build` then you should just be able to modify your karma config. If you are using `@microsoft/sp-build-web` then yes, we need to add some extra points of extensibility!

[2017-10-06 11:26] NickSevens opened #388 "[load-themed-styles] Styles not loading in IE11"
I'm using `@microsoft/gulp-core-build-sass` in combination with `@microsoft/loader-load-themed-styles` to load my themed CSS in a webpack bundle.
This works fine 90% of the time, but:
- in **chrome** sometimes (+/- 5% of the time) the CSS is not loaded. when selecting a DOM node in dev tools, no classes are attached to the element, and indeed, in the HTML the custom css's <style> tag is nowhere to

[2017-10-13 07:10] ryym opened #394 "[rush] `rush install` fails with npm@5"
Hi,

Does not Rush support npm@5 yet?
Using npm@5, `rush install` results in the error when `common/temp` directory does not exist.

[code]

(The same error as https://github.com/Microsoft/web-build-tools/issues/354)

This becomes a problem when I run `rush install` for a cloned repository.
Usually `common/temp` does not be committed so `rush install` for a cloned repository always fail.

Reproduc

[2017-10-24 15:53] HipsterZipster opened #409 "Console output hidden when running Webpack build with Rush"
When running a webpack-based build with Rush and not with the Gulp runner, the build and error output of webpack and all of its loader are hidden. Why is this? Is there something we can do to prevent this?

For example for at-loader, during a failed `rush rebuild`, all that is output is:
[code]

I cannot supply a reproducible example right now since our company has policies around that, but I can

[2017-10-24 15:58] HipsterZipster commented on #409
Nevermind. My mistake. I was piping the child process output incorrectly.

[2017-10-24 15:58] #409 closed

[2017-10-25 09:10] mtfranchetto commented on #394
Got the same error today.

[2017-10-27 00:12] HipsterZipster commented on #394
@nickpape-msft  This issue was raised 2 weeks ago and earlier in #354, can you please lend us a hand? Considering we have a scripted workaround, I'm happy to contribute the code change back to Rush if you could just point me in the right direction.

On Node 8.7.0 with NPM 5.4.2 (and all other versions of npm 5.x that we've used), the problem has been deterministic and repeatable for every member o

[2017-10-27 12:04] mtfranchetto commented on #394
@HipsterZipster Yes, it's working!

[2017-10-27 13:18] ryym commented on #394
@HipsterZipster I confirmed too. It works!

[2017-10-27 18:03] pgonzal commented on #394
Hey guys, sorry about the slow response.  I will investigate this morning.

FYI we tried upgrading to NPM 5 several times for our internal repos, but each time we had to rollback because of regressions in the NPM tool.  We got really frustrated by this and have been experimenting with migrating to [PNPM](https://github.com/pnpm/pnpm) instead of NPM.  It is a drop-in replacement that introduces a f

[2017-10-27 22:48] pgonzal commented on #394
Update:  This seems to be a bug in [read-package-tree](https://www.npmjs.com/package/read-package-tree) which is how "rush link" scans the *node_modules* folder.  That library is part of NPM itself, but even when I upgrade to the version used by NPM 5, it still cannot read a folder containing tgz references.  (Even though "npm install" and "npm shrinkwrap" are totally cool with these references.)

[2017-10-27 22:52] nickpape-msft commented on #379
Yes, it should have been. I'm going to close this issue for now, however.

[2017-10-27 22:52] #379 closed

[2017-10-27 22:52] nickpape-msft commented on #326
This is a legitimate issue, thanks David.

[2017-10-27 23:03] pgonzal commented on #394
Actually it's looking like this is yet another NPM 5 regression:

Rush generates a **common/temp/package.json** that does this:
[code]

...and then our **common/temp/projects/api-documenter.tgz** contains a package.json like this:
[code]

...but then NPM 5 installs a **common/temp/node_modules/@rush-temp/api-documenter/package.json** that wrongly has this:
[code]

...whereas under NPM 4 it looked

[2017-10-27 23:07] pgonzal commented on #394
@nickpape @qz2017 @iclanton FYI

[2017-10-28 00:12] nickpape-msft commented on #394
@pgonzal FYI I am @nickpape-msft for work. @nickpape is my personal github.

[2017-10-28 02:25] pgonzal commented on #388
@iclanton @srideshpande could you guys take a look at this before we release the new **load-themed-styles**?

[2017-10-28 02:26] pgonzal commented on #394
I started a conversation with NPM to see if they can fix this.

[2017-10-29 03:38] HipsterZipster commented on #394
Thank you @pgonzal for your attention to this and for uncovering the underlying issue within NPM.
Did you create an issue with NPM? If so, can you provide link?

I assume this regression from the Rush perspective is an effect of the new `file:` symlink 'feature' (https://github.com/npm/npm/pull/15900) in which case rush may need to run an after generate task like my regex replace above in order to

[2017-10-30 10:51] NickSevens commented on #388
I've been debugging this issue for quite a while, and depending on browser and document mode, I see different values in the `__themeState__` object, especially in the `registeredStyles` and `registeredThemableStyles` arrays.
In our case, this resulted in:
- in **Chrome**, the theme was loaded and variables were injected correctly (most of the time, see first post)
- in **IE11**, with **document mo

[2017-10-30 18:30] pgonzal commented on #394
I was able to isolate a simple repro.  I've opened [NPM issue 19006](https://github.com/npm/npm/issues/19006).

In the meantime we'll see if we can come up with a better workaround.

@nickpape-msft FYI

[2017-10-31 00:16] iclanton commented on #388
Can you provide a repro environment?

@dzearing - have you seen this before?

[2017-10-31 01:22] dzearing commented on #388
Hmm. No we haven't. It would be good to have a repro.
Mentioning @jijizz as he may have seen it as well.

[2017-10-31 07:38] NickSevens commented on #388
I'll try to fix a small repro as soon as I find some time. Will let you guys know.

[2017-11-04 02:23] pgonzal commented on #394
Rush 4 has been [published](https://github.com/Microsoft/web-build-tools/wiki#november-3-2017---rush-4-released).  :-)

[2017-11-04 02:23] #394 closed

[2017-11-04 03:13] ryym commented on #394
@pgonzal Thank you!

[2017-11-13 17:55] bpkennedy opened #438 "Expose repo for sp-build-core-tasks"
You have empty reference documentation on the [@microsoft/gulp-core-build](https://github.com/Microsoft/web-build-tools/blob/master/core-build/gulp-core-build/README.md) page to [sp-build-core-tasks](https://www.npmjs.com/package/@microsoft/sp-build-core-tasks).

I would like to look at the code (preferably read some documentation on how these are put together and work) for sp-build-core-tasks.  H

[2017-11-14 12:58] NickSevens commented on #388
@dzearing @iclanton I've created a small repo at https://github.com/NickSevens/web-build-tools-issue-388 which shows the difference in IE10 vs Chrome.
I can't find an easy way to show the "not loading css" however...

I did also notice it happens more often when internet connection is slow(er).

I do realize this could be a very specific issue, with lots of race conditions, especially on top of a

[2017-11-17 12:26] gursharan001 opened #444 "Duplicate identifier between jasmine and mocha type definitions"
I get following error on a build. Jasmin and Mocha types are clashing. Is there a way to work around this?

Error - typescript - node_modules/@types/jasmine/index.d.ts(13,17): error TS2300: Duplicate identifier 'describe'.
Error - typescript - node_modules/@types/jasmine/index.d.ts(15,17): error TS2300: Duplicate identifier 'xdescribe'.
Error - typescript - node_modules/@types/jasmine/index.d.ts(2

[2017-11-18 06:30] pgonzal commented on #444
Could you provide some repro steps?  For example a sample project that produces this error?

+ @qz2017 FYI

[2017-11-20 23:06] iclanton commented on #388
I'm having trouble seeing a repro of the IE11 issue, even when simulating modem speeds using Fiddler. I do see styles not getting added to the page in IE10, so we're investigating that issue.

Can you get a consistent repro of the issue you're seeing in IE11?

[2017-11-21 09:07] NickSevens commented on #388
Unfortunately I can't get a repro of the "no css at all" issue :/
The IE10 part would be nice already though :)

[2017-11-22 19:00] pgonzal commented on #438
We've removed the reference.  The **web-build-tools** repo is for general build tools which with an open source license.

The **sp-build-core-tasks** project is part of the SharePoint Framework, which has a commercial license.  The best place to request features would be [SharePoint Framework UserVoice](https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform/filters/top?category_id=

[2017-11-22 19:00] #438 closed

[2017-11-27 09:46] olemp commented on #388
I have this issue aswell, in Chrome. Sometimes 1 in 20 page loads, sometimes 1 in 10. It's very random.

[2017-11-30 22:45] nickpape-msft commented on #444
Ping @gursharan001

[2017-11-30 22:53] qz2017 commented on #374
Ping. @estruyf , are you using web-library-build and does @nickpape-msft 's suggestion work for you?

[2017-12-01 08:17] estruyf commented on #374
I achieved it by extending the current Karma config for `@microsoft/sp-build-web` as follows: https://github.com/SharePoint/sp-dev-fx-controls-react/blob/master/config/karma.config.js

[2017-12-07 21:41] kurky91 opened #463 "SharePoint Framework: gulp serve stops working on typescript compile error"
1. Created new SharePoint Framework with yo @microsoft/generator-sharepoint
2. Chose react framework

When running gulp serve and writing a typescript error the watchers stop working.
gulp serve needs to be restarted to get the watchers working again.

In file .\node_modules\@microsoft\gulp-core-build-typescript\lib\TypeScriptTask.js:

When I comment out result.errorCount++ in the plumber errorHan

[2017-12-16 23:36] pgonzal commented on #463
This git repo is for the open source tooling.  Please file your issue on the [SharePoint Framework GitHub](https://github.com/SharePoint/sp-dev-docs/issues).

If you are able to repro your issue using **gulp-core-build** directly (without **sp-build-web**), please reopen this issue and provide the repro steps.  Thanks!

[2017-12-16 23:36] #463 closed

[2017-12-16 23:37] pgonzal commented on #444
We're closing this issue due to lack of activity.  Please feel to reopen it if you can provide repro steps. Thanks!

[2017-12-16 23:37] #444 closed

[2018-01-10 07:55] NickSevens opened #475 "Server side rendering: classnames do not match"
When using server side rendering, and applying configureLoadStyles((styles) => {}), I receive this warning/error in console, which results in CSS not being applied to my component(s):

I'm trying to work with ReactJS.Net for server rendering, but this is a major issue I'm encountering atm.

I also tried using https://github.com/rherwig/template-react-16-ssr as well as  https://barbar.github.io/vor

[2018-01-19 23:16] YourGamesBeOver opened #501 "[package-deps-hash] git-hash-object is called with all files in a single call, causing failures with message 'The command line is too long.'"
See:
https://github.com/Microsoft/web-build-tools/blob/5bfc359432db1353f18b0e0c5d9cf85f6700822b/libraries/package-deps-hash/src/getPackageDeps.ts#L86

For packages with more than a few files, this causes 'rush build' to quickly exceed the maximum command line length.

The call to git-hash-object needs to be either split up among more individual calls with fewer files, or called with --stdin-paths

[2018-01-22 14:17] cluetjen commented on #216
Sorry for not answering. We had to move away from rush (at least for this project) due to problems with typescript and RxJS when working with linked packages.

[2018-01-22 20:22] nickpape-msft commented on #501
This is definitely an issue. Originally, the code was running this on a per-project basis, but was later changed to hash all the files in the repo simultaneously. This should definitely be fixed. We will probably use the `--stdin-paths` option - that is a good suggestion.

[2018-01-22 20:22] nickpape-msft commented on #475
@iclanton Can you take a look at this loadStyles issue?

[2018-01-26 08:16] nguyentoantuit opened #511 "Webpack failed on version 1.7.26"
Hi all,
After new release was published, the weckpack had failed. I had checked there is not thing excepted CHANGELOG, package.json and README  after I ran npm install --save @microsoft/load-themed-styles@1.7.26
![image](https://user-images.githubusercontent.com/6096518/35430654-d1db552e-02ab-11e8-95b6-f9532cda6016.png)

[2018-01-26 09:11] bradleyzhou commented on #511
Me too here on `load-themed-styles`. For more info, to reproduce,
[code]

For version `1.7.26`
[code]

For version `1.7.25`
[code]

[2018-01-26 17:17] nickpape-msft commented on #511
Looks like there was a hiccup in the release process yesterday. I went ahead and unpublished 1.7.26, so you should be getting 1.7.25 when you `npm install @microsoft/load-themed-styles@latest`.

[2018-01-26 18:00] nickpape-msft commented on #511
We unpublished all the empty packages and then re-published everything in the web-build-tools repo, so this issue should be mitigated. Feel free to open a new issue if you see any new problems.

[2018-01-26 18:00] #511 closed

[2018-01-27 19:34] pgonzal commented on #501
@YourGamesBeOver do you want to create a PR?

[2018-01-27 19:54] pgonzal commented on #374
I'm closing this issue, since there is a workaround.  @estruyf FYI longer term we are looking to switching **sp-build-web** to use Jest, so we haven't been actively improving the Karma task lately.  (It is also still using a fairly old version of Karma.)  So we probably will not incorporate this improvement into `sp-build-web.`

BTW if you want try Jest, [web-library-build-test](https://github.com

[2018-01-27 19:54] #374 closed

[2018-01-30 21:21] JoshuaKGoldberg opened #516 "[rush] Allow greater-than versions of Node"
Forking from https://github.com/OfficeDev/office-ui-fabric-react/pull/3826#issuecomment-361710024:

I agree that it would be nice to not have it error anything: perhaps a warning?

[2018-02-02 20:06] nickpape-msft commented on #388
@iclanton @olemp @NickSevens  Is this issue still occurring?

[2018-02-02 20:09] nickpape-msft commented on #319
@iclanton , do we need to add sourcemap setup directly into web-library-build or gulp-core-build-webpack?

[2018-02-02 20:09] nickpape-msft commented on #310
@fuocor is this issue fixed?

[2018-02-02 20:10] nickpape-msft commented on #305
@iclanton Can you take a look. This looks similar to #310

[2018-02-02 20:12] nickpape-msft commented on #297
Hi @fuocor , sorry for the late response. The TSLint tasks discovers it's files using a glob that comes in via it's taskConfig. We have considered switching all of our code to using the tsconfig.json files list, but haven't done so so far. However, modifying the tsconfig.json shouldn't cause our TSLint to fail. Since we are using a glob, we should probably remove those fields from the config we pa

[2018-02-02 20:13] nickpape-msft commented on #296
@pgonzal has this been fixed?

[2018-02-02 20:13] nickpape-msft commented on #295
@pgonzal can this issue be closed?

[2018-02-02 20:16] nickpape-msft commented on #216
Closing this issue since it looks like an enhancement, but @cluetjen is no longer using Rush.

[2018-02-02 20:16] #216 closed

[2018-02-02 23:11] MartynasZilinskas commented on #296
I am not sure if it's implemented in `api-extractor`. But we already solved it in [ts-extractor](https://github.com/SimplrJS/ts-extractor).

[2018-02-02 23:47] DovydasNavickas commented on #296
@MartynasZilinskas is right. We saw that api-extractor's approach is a bit too complicated and it does not have required support, therefore we took initiative and created [ts-extractor](https://github.com/SimplrJS/ts-extractor).

I encourage you to take a look at it, because yesterday @MartynasZilinskas released `v4.0.0-rc.4`, which is already a stable version and has `rc` tag just to make sure ev

[2018-02-02 23:58] pgonzal commented on #296
Thanks!  I'll take a look at this tool and see if there's some way we can collaborate.  It seems inefficient to have developer resources split across two different implementations.

[2018-02-03 01:42] pgonzal commented on #295
This issue was already fixed.   ICodeLinkElement was replaced by [IMarkupApiLink](https://github.com/Microsoft/web-build-tools/blob/master/apps/api-extractor/src/markup/MarkupElement.ts] which does not have that problem.

[2018-02-03 01:42] #295 closed

[2018-02-03 18:34] NickSevens commented on #388
@nickpape-msft we're still working with the workaround: exporting all styles in a separate css, so I can't really say. However, we did see the same type of issue occuring with ui fabric controls, and that has been a while since I've seen it...

[2018-02-03 21:04] olemp commented on #388
@nickpape-msft Yep, still occurs now and then. 2/10 page loads or so.

[2018-02-05 13:21] tomdale opened #519 "[api-extractor] Support extensible AEDoc tags"
First, let me just say I've really been enjoying using api-extractor. I was struggling for days getting anything to work in TypeDoc, but got a proof of concept working with api-extractor in less than an hour.

I'm currently playing around with generating API documentation for [Glimmer.js](https://github.com/glimmerjs/glimmer.js) and piping the JSON into a Glimmer app that renders it:

<img width="

[2018-02-06 02:55] pgonzal commented on #519
Yes, several others have asked about this.  We are working on evolving AEDoc into something more formal and extensible, and ideally standardized across other tools.  If you like I can include you for comments as soon as we have an initial draft.

[2018-02-06 03:30] pgonzal opened #520 "Test issue"
Test issue body

[2018-02-06 03:33] pgonzal commented on #520
Test issue reply

[2018-02-06 03:42] #520 closed

[2018-02-15 04:01] gscottolson opened #528 "`rush install` error: failing integrity checks"
When I run `rush install` or `rush install -c` or `rush install --full-clean`, the install process fails due to integrity checks. It seems like the sha512 for any `rush.json` project does not match the expected sha value. If I add an additional project, the number of integrity check failures increases by one. The errant sha is related to the `@rush-temp/<packageName>`.

I can install the relevant

[2018-02-15 17:58] pgonzal commented on #528
This sounds like the `request` race condition (see request/request#2807).  Seems like NPM will never fix it.

We solved it by moving to [pnpm](https://github.com/Microsoft/web-build-tools/wiki#january-8-2018---rush-now-has-preliminary-support-for-pnpm), which is way faster than NPM, and is much more reliable.

[2018-02-16 17:12] natew opened #532 "[rush] Custom "watch" command -- only running on subset even with high -p, no log passthrough"
Hey, just playing with Rush and it seems pretty snazzy.

We use a big monorepo and have something in Lerna now that basically does `npm run build-watch` parallel in all packages. This is to run babel and watch for changes as you develop.

I wasn't sure the best way to do this in Rush. I added a custom command that seems to work, and then run it like: `rush watch -p 100 -v`.

Two things:

1. While

[2018-02-16 17:25] natew commented on #532
One note, we the watch command doesn't rebuild anything it uses the babel-cli flag `--skip-initial-build`, which is helpful so you don't have to re-run builds all the time.

[2018-02-23 11:28] warmsea opened #540 "Want a per rush project way to set auth token"
Is there a way to set auth token (and other npm configurations) per rush project instead of putting it in "~/.npmrc" which will apply to all projects?

I tried to put the auth token in "<project>/common/temp/.npmrc". But it's not working because when I run rush commands, that file will be overwritten.

[2018-02-23 18:07] gscottolson opened #541 "Using pnpm, Rush, and private package causes an error during install"
I have a package being served privately via VSTS and being referenced via `.npmrc`. My project `.npmrc` file looks like:

[code]

_Note: the [[ brackets ]] are substituted here and don’t appear in the code or error messages._

I am using `pnpm` (as to avoid the request race condition [I ran into previously](https://github.com/Microsoft/web-build-tools/issues/528#issuecomment-366009768)). I can suc

[2018-02-26 19:26] nickpape-msft commented on #541
Hi @gscottolson ,

There should not be an issue with private packages & pnpm, we are using them (and VSTS feeds) internally in the repository which ships modern SharePoint pages and SPFx.

This does seem like an issue with shrinkwrapping. Would you mind sharing your shrinkwrap file and/or link to your repo (you can send it to my @microsoft.com address).

[2018-02-26 19:27] nickpape-msft commented on #540
Yes, you can add it to `common/config/rush/.npmrc` and it will be copied over to `/common/temp/.npmrc` during `rush install` and `rush generate`.

[2018-02-27 00:16] warmsea commented on #540
It works! Thank you @nickpape-msft

[2018-02-27 00:16] #540 closed

[2018-02-28 02:33] nickpape-msft commented on #541
@zkochan what do you think of this?

[2018-02-28 20:07] zkochan commented on #541
I can look into it but you can make my investigation a lot easier by providing steps to repro with plain pnpm. Also, in what part of the shrinkwrap file is this?

[code]

Is there a key like this "[[ vstsTeamName ]].pkgs.visualstudio.com/@[[ namespace ]]/[[ package ]]/0.3.0/7d14051973b708e1b2175dec0c58c6f1" in the packages field of `shrinkwrap.yaml`?

What was the stack trace of the error?

[2018-02-28 23:35] nickpape-msft commented on #541
Hi Zoltan,

It may not be easy to repro since it appears to be happening behind a private feed.

It looks like there are 2 keys in the `packages` section of the shrinkwrap. I anonymized the names.

[code]

In dependencies it is listed like:
[code]

And it is referenced by other packages like:
[code]

[2018-03-01 19:39] nickpape-msft commented on #541
@zkochan I was able to get this working by redirecting everything (including default scope) to the VSTS feed. Is there a problem with using multiple registries?

[2018-03-01 20:01] zkochan commented on #541
@nickpape-msft I am not aware of such issues but I only use pnpm with one registry, so I'll have to check

[2018-03-01 23:12] octogonz opened #547 "[rush] Rename "cyclicDependencyProjects" to something more intuitive"
Today, if a local Rush **project-a** refers to another local **project-b**, Rush will symlink them together only if the SemVer ranges are compatible (e.g. **project-a** asks for "^1.2.0" and project-b's version is "1.2.3").  Otherwise, Rush will print a warning and install a published package that satisfies the semver range (e.g. **project-b@1.2.1** from NPM).

In practice this works fine when you

[2018-03-02 00:18] nickpape-msft commented on #541
It's probably a bad idea for people to be using multiple registries anyway...

[2018-03-02 00:18] #541 closed

[2018-03-02 20:30] scsewall opened #553 "[rush] Output is suppressed for scripts run by the "rushPostInstall" event hook"
scsewall @scsewall 09:30
I just got around to trying the "rushPostInstall" event hook. It worked as advertised (so thanks for the tip), but the output of whatever runs is suppressed. Is there a way to configure the output of the "rushPostInstall" scripts?

pgonzal @pgonzal 10:51
For "rush build" we have "--verbose", since in a large repo the noise is normally very distracting. I'm not sure about "

[2018-03-07 23:28] gscottolson commented on #541
Thanks for the help on this.

[2018-03-21 18:27] elliottsj opened #576 "Build with both module: 'commonjs' and module: 'esnext'?"
Is there a way to emit both CommonJS *and* ESNext modules? (e.g. CJS to `lib/` and ESNext to `lib-esm/`?)

As far as I can tell, it's only possible to use one or the other:
https://github.com/Microsoft/web-build-tools/blob/75e81152f0e549ba459151c39c5eb2aee477c6f8/core-build/gulp-core-build-typescript/src/TypeScriptConfiguration.ts#L117-L131

There are the `libAMDDir` and `libES6Dir` options:
https

[2018-03-22 18:27] #576 closed

[2018-03-26 09:18] giniedp opened #583 "[api-extractor] impossible to extract both static and instance properties with same name"
When a static and instance method of a class share the same name like this

[code]

the api extractor will only extract the first method and swallow the other. This is because the `members` property in the api.json is an object.

I propose to separate instance and static members into their own distinct objects. Would that be possible?

[2018-03-29 23:15] pgonzal opened #587 "Test Issue"
This is a test

[2018-03-29 23:18] pgonzal opened #588 "Test Issue 2"
This is the issue description

[2018-03-29 23:18] pgonzal opened #589 "Test issue 3"
This is the issue body

[2018-03-29 23:30] pgonzal opened #590 "Test Issue 4"
This is the issue body

Does it work?

[2018-03-30 00:01] #590 closed

[2018-03-30 00:01] #589 closed

[2018-03-30 00:01] #588 closed

[2018-03-30 00:01] #587 closed

[2018-03-30 00:10] pgonzal commented on #583
Hey @giniedp thanks for reporting this issue.  We actually encountered it already while implementing the new [\*.d.ts rollup feature](https://github.com/Microsoft/web-build-tools/wiki/API-Extractor-~-Creating-.d.ts-rollups). (Unlike the API review file, the \*.d.ts outputs are compiled code, so they must support every possible construct.)  In the near future I'm going to update the API review file

[2018-03-30 05:27] pgonzal opened #591 "Test issue 5"
Test body 5 <hr/> <b>blah</b>

[code]

*markdown-italics*

[2018-03-30 05:42] #591 closed

[2018-04-04 08:08] giniedp commented on #583
Great to hear that this is being worked on

[2018-04-04 08:17] giniedp opened #598 "[api-extractor] Any plans about extracting decorator annotations?"
The api-extractor is great. Unfortunately i am missing the ability to extract decorator annotations. When generating the docs i would be able to indicate which decorators have been used on a particular class or member. Are there any thoughts about this feature?

[2018-04-04 23:39] pgonzal commented on #598
We originally went down this path, and we even created an [entire library](https://www.npmjs.com/package/@microsoft/decorators) for using decorators to express concepts such as \@sealed, \@virtual, \@override, etc.

However, we ran into a problem that decorators don't appear in the \*.d.ts files.  The compiler doesn't consider them part of a type signature.  So we're now planning to convert these

[2018-04-05 06:39] giniedp commented on #598
true, they dont appear in d.ts. The API extractor does its job on d.ts files and not on the source .ts files, i didnt think about that.

My scenario is that i work on an Angular application where i implement lots of core components which are then used by other team members. Then i write up some examples and a little documentation for each component. The documentation consist of a summary block (wh

[2018-04-05 20:54] pgonzal commented on #598
Well, we could theoretically consider the source files, too.  I'm working on a feature that will map the error line numbers back to the \*.ts files, instead of showing line numbers of \*.d.ts files.  The reason for processing \*.d.ts files is technical:

- Some projects don't have any \*.ts files at all -- e.g. they generate TypeScript outputs from C# or some other system
- Some projects have comp

[2018-04-13 13:27] giniedp commented on #598
The line number would be very useful for generating links to github (or whatever). If you could fish for Decorators, that would be nice but actually doesn't feel right.

As long as decorators are not part of d.ts spec i favor an option for ApiExtractor to select whether it scans the d.ts files or raw ts source files. How much of a "big deal" would that be? I mean, no mercy for fancy project setup

[2018-04-24 18:09] xbtsw opened #621 "rush pickup the wrong `.npmrc` when invoked via npm"
Steps to reproduce:
1. Clone this repo: https://github.com/xbtsw/rush-npmrc-problem
2. `npm install --registry https://registry.npmjs.org/`
3. `npm run generate`

Expected behavior:
rush should use `common/config/rush/.npmrc` when installing npm and project dependencies.

Actual behavior:
rush used ./.npmrc instead.

This project is a hypothetical setup, this problem is especially evident when usi

[2018-04-25 07:07] pgonzal commented on #621
Thanks for reporting this.  We'll investigate it and follow up.

[2018-04-25 17:13] pgonzal commented on #621
This is NPM being stupid by trying to be smart:  When you do `npm run generate`, the lifecycle wrapper sets an environment variable `INIT_CWD` that remembers the folder where the command was invoked, in case a poorly written script changes the cwd and then tries to invoke the npm tool.  When Rush performs an `npm install` in another folder (e.g. **C:\Users\pgonzal\.rush\npm-5.6.0**), this environm

[2018-04-25 17:15] pgonzal commented on #621
(Also thanks for the repro -- it made this super easy to investigate.)

[2018-04-25 18:49] xbtsw commented on #621
Nice suggestions about bootstrapping rush.

I am attempting to use `pnpm` on my project, but encountered  TypeStrong/ts-loader#768 and got blocked on that front.

[2018-05-02 23:57] HipsterZipster commented on #532
@nickpape-msft Thanks again for creating such an amazing project that's designed for enterprise. We are major users of Rush and have been promoting it across my org.

Can you please provide a link to the pr or details on this "changed-projects-only" functionality? I searched in the repo and couldn't find it. More specifically, I'd really like to understand how this fits into the SDLC? Does this as

[2018-05-05 13:23] prawnz opened #644 "Incorrect parameter at line 240 for @microsoft\gulp-core-build\lib\index.js"
When trying to load task runner explorer in Visual Studio 2017 the following error is presented

Failed to run "D:\Projects_Nic\Gulpfile.js"...
cmd.exe /c gulp --tasks-simple
D:\Projects_Nic\node_modules\@microsoft\gulp-core-build\lib\index.js:240
function serial(...tasks) {
                ^^^
SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (

[2018-05-05 19:12] cancerberoSgx opened #645 "[rush] rush should also link user's modules in common/temp/node_modules"
Some modules, like typescript, expect that other "plugin" modules to be in its same "node_modules" location in the file system. If one of these "plugin modules" are user's modules managed by rush that will fail because rush doesn't create links for them in  `common/temp/node_modules/`

In my case I have two projects in the rush monorepo: typescript-plugin-1 and example-project . The later depends

[2018-05-10 01:44] nickpape-msft commented on #645
Hi @cancerberoSgx , rush definitely supports local linking. You will want to make sure that `example-project` has a dependency on `typescript-plugin-1` (and make sure the versions match -- rush won't link local projects if the version doesn't match). If you want to make sure that both of them can access `typescript`, just make sure to add the same version of typescript to both packages.

[2018-05-10 01:45] nickpape-msft commented on #644
Does this error occur when you run `cmd.exe /c gulp` ? What version of gulp do you have installed globally? What version of Node.js (`node -v`)?

[2018-05-11 22:22] lambertwang opened #650 "[rush] "rush publish" should detect if a feed already contains the package at the target version"
In our automated publishing process, the publish change requests step may fail for whatever reason but it may manage to publish some but not all of the packages. When this happens, future build definitions will attempt to publish the packages that were previously published in the last failed build.
`Forbidden The feed already contains the package 'foo' at version '#.#.#': foo`

It may be nice for

[2018-05-11 22:22] lambertwang opened #651 "The 'issues' link on http://rushjs.io/about/ is broken"
The issues link at the bottom of the [rushJS 'about' page](http://rushjs.io/about/) links to `https://github.com/Microsoft/web-build-tools/issue` when it should link to `https://github.com/Microsoft/web-build-tools/issues`

[2018-05-12 00:29] pgonzal commented on #651
Sorry about that -- the web site is under active development this week

[2018-05-12 00:29] #651 closed

[2018-05-12 00:40] pgonzal commented on #650
See PR #654

[2018-05-19 16:58] donahut opened #663 "[api-extractor] Support "export { x }" for converting a source file's exports into a named module"
Given an `index.ts` such as:
[code]

The generated `.apt.ts` only produces valid output for `A`, `B` and `C`, whereas `d` produces things like:
`// WARNING: The name ""<path>/lib/dts/d/index"" contains unsupported characters; API names should use only letters, numbers, and underscores`
and
`module "<path>/lib/dts/d/index" {`

This sort of local namespacing and export pattern is used throughout our

[2018-05-20 00:03] donahut opened #664 "Multiple Root/Source Entry Points in extraction"
Currently, a basic `api-extractor.json` looks something like:
[code]
which works great for repos that only contain one src root. However, it'd be great if it were possible to supply multiple projects/roots/entry points to better support monorepos. Perhaps you get this for free with Rush as your monorepo solution (?) or the suggested approach would be to roll extraction/doc generation at a per pack

[2018-05-20 00:17] pgonzal commented on #664
In our monorepo, each project has its own package.json file and can be built/published independently of the others. We run API Extractor separately on each project as part of its build. In our use case libraries generally have a single entry point.

We understand that there are cases however where it makes sense to have multiple entry points for a single package. In this case, consumers use path-b

[2018-05-20 01:03] donahut commented on #664
This is true of ours as well (Lerna-based) and in the past we had done just that. In the switch from JSDocs to Typedocs we had moved to a single-shot docs generation pass as a separate step over the monorepo rather than per package, which is partially what spawned the question. Though, given what AE yields is more than just docs, it's probably better to just return to the per-package approach to r

[2018-05-20 17:06] pgonzal commented on #664
Makes sense. Philosophically one of our principals has been that projects in our monorepo should remain isolated/decoupled, so they can be moved between repos easily. So we try to avoid any operations that process multiple projects as a group. This also makes incremental builds easier to implement. This summer we are expanding Rush to shard its builds across multiple lab machines, which makes this

[2018-05-21 19:15] nickpape-msft commented on #644
We are pretty certain the issue is using an outdated version of Node.js that does not support ES6 syntax. Please update Node.js to version 6 LTS (i.e. >6.9.0) or 8 LTS (i.e. >8.9.0).

[2018-05-21 19:15] #644 closed

[2018-05-21 19:32] nickpape-msft commented on #645
I'll try to get to the root of the issue in the next comment, but I have responses to some of your questions...

You shouldn't be doing a "rush generate" as part of your standard build. Rush generate allows your shrinkwrap file to be changed, so if you are doing this in a normal build you are building against a non-deterministic set of dependencies. Also, you shouldn't need to be cleaning your com

[2018-05-21 19:35] nickpape-msft commented on #645
So it sounds like your problem is that you want links into the local projects that exist inside `common/temp/node_modules` ? And the reason for this is that typescript is expecting to find them all in one location? That's not a typical use case... Are the links to the plugins correct in `typescript-plugin-user-example`? Why is typescript not using that node_modules folder?

[2018-05-21 19:49] cancerberoSgx commented on #645
I don't know the internals of how TypeScript policy to resolve where to find plugins ( already shown where is searching). It seems it's using $REAL_TYPESCRIPT_FOLDER/../typescript-plugin-user-example or $USER_PACKAGE_REAL_FOLDER/node_modules/typescript-plugin

Given the output for getting the plugin's path I think it has a complex plugin folder resolution algorithm (i's searching for it in a casca

[2018-05-28 04:32] pgonzal commented on #663
This should get fixed during June as part of our sprint to convert the *.api.ts files to be generated using the new analysis engine that was created for the *.d.ts rollups.

[2018-05-31 21:14] scsewall opened #668 "Problem with "rush version --bump" and peerDependencies"
"rush version --bump" does not update peerDependencies which then lays a trap for a subsequent "rush check".  The best practice for using peerDependencies is to also set a devDependency for testing purposes.  The package version in the devDependency is updated, but the package version in the peerDependency is not.

[2018-05-31 22:01] octogonz opened #669 "[rush] "rush version" fails if the cwd is not the repository root"
If I run this command from the repository root folder, it works fine:
[code]

But if I run it from a project subfolder, I get this error:
[code]

Should be pretty easy to fix.

[2018-06-03 13:50] martinwoodward opened #673 "License Compliance Question"
Hey folks. I was reading this thread by @jamiebuilds https://threadreaderapp.com/thread/1002696910266773505.html

And it concerned me as Jamie claims that portions of Rush are derived from https://github.com/lerna/lerna

However, Jamie is out for the weekend (I'm jealous) so he's not able to point me to the code similarities at the moment.  But he did say that he'd be happy if the entire project w

[2018-06-03 14:35] zilti opened #674 "Get your shit together, Microsoft."
https://threadreaderapp.com/thread/1002696910266773505.html

[2018-06-03 17:33] martinwoodward commented on #674
Hey - thanks for that.  I've raised a similar question, just a bit more verbose, here #673

Closing as a dupe.

[2018-06-03 17:33] #674 closed

[2018-06-03 18:02] pgonzal commented on #673
Hey, thanks Martin. I just saw the threads this morning.

I'm not aware of any deliberate copying of the Lerna code, but let me dig into it now and call all the devs on the team to be sure. If there is, we should definitely give correct attribution, so I want to investigate. Do we have any links pointing to similar code between the two that I can take a look at?

Do you think it might be good if I

[2018-06-03 18:08] martinwoodward commented on #673
Thanks for getting back to me on a Sunday. Much appreciated.  Not been able to find similar code yet. If anyone can - please dump some links into here for me.  @pgonzal if you can check with the team that would be awesome.

Some history would be good I think. Why does Rush exist at all, were you inspired by things like Lerna or Yarn workspaces or the others ones?  Keen to get this cleared up and m

[2018-06-03 23:58] pgonzal commented on #673
I checked with the devs, and nobody's aware of any code coming from Lerna. If we inadvertently used something without credit, I really would like to know so that I can fix it. Please let me know and I’ll get on it right away.

[2018-06-04 13:25] MichaelEvanchik opened #675 "nice steal of lerna js!"
all you had to do is add a credit, at min

[2018-06-04 16:45] Salakar commented on #675
Dupe of #673.

[2018-06-04 19:38] #675 closed

[2018-06-05 07:03] levid-gc opened #676 "[api-extractor] {@link} AEDoc tag error with api-extractor"
When I write comment like this: `@param store - {@link Menu} type instance`, the **api-extractor** will report this error *The @param tag is missing a parameter description*.

However, when I add something before `{@link}`, like `@param store - xxx {@link Menu} type instance`, and then there be no errors, is it a bug?

[2018-06-05 07:09] pgonzal commented on #676
Sounds like a bug. We're doing an API Extractor sprint this month. I'll see if I can fix it. (If the fix is easy, feel free to open a PR.)

[2018-06-05 09:56] zigacernigoj commented on #673
It's easy to say "no", you know. You should check the code with a diff tool or something. And not just the last version but all commits.

[2018-06-05 10:34] ralph commented on #673
On the [thread](https://threadreaderapp.com/thread/1002696910266773505.html), @jamiebuilds states that the git history was altered after his complaint. That statement is very hard to comfirm or falsify without the repository before the (alleged) alteration. So if nobody pulled a copy (including git history) in the early days, this isn't going to lead nowhere.

[2018-06-05 10:55] martinwoodward commented on #673
Probably worth a bit of a background in how you tend to spot unattributed code. The diff tool thing often doesn't work that well when looking for code being re-used in another open source project without attribution. Most often when you are doing a forensic code examination, the give-aways tend to be in terms of variable / function name choices, code comments, code structure etc.

The issues I see

[2018-06-05 16:32] martinwoodward commented on #673
Hey @pgonzal - would you be able to comment on the history of this project a bit?  How did it start, even if it didn't take any actual code from Lerna - was it heavily inspired by it or the other monorepo tools?

[2018-06-05 16:57] jamiebuilds commented on #673
Please stop mentioning me on this issue and contacting me about this, I'm done talking about it since Microsoft employees (Scott Hanselman) have gone out of their way to contact my friends and try to convince them to say shit about me publicly. You guys are assholes, now fuck off.

[2018-06-05 17:15] Airblader commented on #673
This repo does have a few forks that are widely outdated (and diverged in both directions), so unless someone went through the trouble of scrambling their history as well without actually pulling them up to date, they should be useful.

Given that the author making these accusations can't be bothered to (publicly) put some actual proof to their allegations (let alone be civil), I'd personally star

[2018-06-05 17:15] martinwoodward commented on #673
Hey, sorry Jamie. I'd been deliberately not mentioning you since the initial creation - which was to inform you that I had logged an issue on your behalf and hope that you could explain where the problem is with the project so that we can fix it.

Guess you are getting notifications from GitHub as you were mentioned at the beginning?  There is an 'unsubscribe' button at the top of the issue in GH

[2018-06-05 20:22] shanselman commented on #673
Not sure what to say. I wanted to make this right. I haven't "got out of my way to contact your friends." I DM'ed one person - the original copyright owner - and said:
![image](https://user-images.githubusercontent.com/2892/41000650-83005d86-68c3-11e8-9ec8-a4540a067a5f.png)
Not to mention LITERALLY:
![image](https://user-images.githubusercontent.com/2892/41000561-3bcf0ce6-68c3-11e8-9722-7f4f882ce2

[2018-06-05 21:03] pgonzal commented on #673
**A little history:**

Rush started as an internal closed-source project back in the dark days before we did things in the open. My group was building the SharePoint Framework (SPFx), which is an SDK for third-party developers, and also the foundation for a number of SharePoint applications in Microsoft. Being a large code base, we eventually realized the need to break it up into lots of small pac

[2018-06-05 21:11] Airblader commented on #673
Those sound like good closing remarks to wrap up a conversation in which the initiator has shown no further interest of participating.

As a bystander I subscribed to this issue out of curiosity and applaud you guys for handling this topic so professionally.

[2018-06-06 08:47] OKNoah commented on #673
Whoever can handle a situation in a more professional and civilized manner should be given the benefit of the doubt. How would stealing code even be wrong if Microsoft did it calmly? A wise man once told me, “I’ll take a tyrant covered in blood and holding a lit match over a hero hovered in gasoline any day.”

Long live Microsoft! Bravo team.

[2018-06-06 09:55] kittens commented on #673
Just want to publicly, and on the record, state that I have no intention to believe that Rush has copied any code from Lerna.

Even if there was, the licenses of the two projects are identical (MIT). In the event that the author field of the license has some signifance, I don’t consider it an issue and would gladly release all liability.

Thank you so much @shanselman for being so diligent!

[2018-06-06 10:00] OKNoah commented on #673
@kittens Amen. I've gone to double check what you've said, and you're 100% right. Actually, I looked around some more and was shocked that most MIT licenses seem to be direct copy-and-paste jobs of one another, with fragments of one line changed. Just goes to show how common the "photocopy" approach is here on Github.

[2018-06-06 11:49] martinwoodward commented on #673
Ok folks. I’m going to close this one down now in the absence of any copyright infringement claim and out of respect for the original poster so that we don’t bombard him with notifications.

I honestly believe that the original poster believes that this project has at least been heavily inspired by Lerna.

However I also believe that the team have given a good account of the project, their work on

[2018-06-06 11:49] #673 closed

[2018-06-06 13:58] OKNoah commented on #673
@martinwoodward coward

[2018-06-06 14:05] OKNoah commented on #673
actually i gotta lay off here a little bit, because clearly microsoft has made advances in their loser-generating algorithms here wow look:

![](https://i.imgur.com/bWPuu3b.jpg)

[2018-06-06 14:10] Airblader commented on #673
For the record, if you get mail from Github, it was me reporting you for abuse. Have a good day!

[2018-06-06 14:10] OKNoah commented on #673
@Airblader Yes I was wondering why Microsoft was sending me yet more spam.

[2018-06-06 14:28] seand88 commented on #673
Lets not forget that Microsoft is known for taking inspiration for what happens in the computing community and making their own version.

C# is inspired from what was done with Java.
Parts of .NET Core seem inspired from the node.js and use the same backend library libuv.

There is nothing wrong with this, and many companies start with inspiration and evolve things into something better.

[2018-06-06 14:32] OKNoah commented on #673
@seand88 Microsoft didn't do anything wrong here. And _even if they did_, there is nothing wrong with that either. What's wrong is saying they did. And what's right is 7.5 BILLION DOLLARS TO BUY ALL OF COMPUTERS AND ONLINE.

[2018-06-06 14:36] Airblader commented on #673
Can someone please lock this thread? @martinwoodward? I've reported this user both to Github and Gitlab now. I don't think we can expect anything sane from this point onwards.

[2018-06-06 14:37] OKNoah commented on #673
@Airblader I agree. they. bought. the. website.

[2018-06-06 14:37] myty commented on #673
@OKNoah You're kinda coming off as a jerk. Just like you, @martinwoodward is a person...a human being. Labeling someone as a loser isn't going to bring yourself any respect or change anyone's opinion.  It only makes other humans tune you out.

[2018-06-06 14:38] OKNoah commented on #673
Someone get these folks a link to net-nanny.

[2018-06-06 15:14] OKNoah commented on #673
@Airblader [in your stupid sounding voice] hello operator place connect me to git please i wanna ban an open source contributo--- yes i did pay 7.5 billion dollars yes please connect me at once

[2018-06-07 00:17] AlexJerabek opened #679 "Subnamespaces only parse when enums are present"
Given this code...
declare namespace Office {
    namespace Test {
        enum foo {
            x,
            y
        }
        interface TestInterface {
            zz:OtherInterface;
            method(): void;
        }
        interface OtherInterface {
            id: string;
        }
    }

    namespace Test2 {
        interface TestInterface2 {
            zz:OtherInterface2;

[2018-06-13 01:15] pgonzal commented on #679
We are doing a sprint this month to improve API Extractor. I'll see if we can address this as part of that work.

[2018-06-13 06:36] ethanresnick opened #689 "[api-extractor] Update Typescript dependency?"
I'm trying to use API Extractor, but getting an error because my `tsconfig.json` uses a compiler option not introduced until TS 2.7, whereas api-extractor currently depends on TS `~2.4.1`. Is there a reason that TS is fixed to this version?  If not, I'd be happy to open a PR updating to TS `2.9.x`. (Note: if I manually update package.json to depend on a newer version of Typescript, that doesn't se

[2018-06-13 11:28] jbrekelmans opened #691 "When rush installs NPM it does not use the NPM registry specified in common/config/rush/.npmrc"
The title summarises what I think is an issue.
The steps to reproduce on a Linux machine can be found here:
https://gitlab.com/jbrekelmans/microsoft-rush-bug
It appears the user .npmrc file is respected and can be configured to workaround this issue

[2018-06-13 17:20] pgonzal commented on #691
@iclanton FYI

[2018-06-13 18:18] pgonzal commented on #689
Yes, in the past API Extractor ran on the *.ts files instead of the *.d.ts files.  To make this efficient, we shared that same compiler/AST as the regular tool chain.  This coupled API Extractor to the compiler version that we were using for all our production projects, which is generally fairly outdated.  (Since there are hundreds of projects, migrating to a new compiler version is always an invo

[2018-06-13 19:55] ethanresnick commented on #689
@pgonzal Thanks for the thorough explanation! I'm looking forward to it.

[2018-06-13 23:32] jbrekelmans commented on #691
Yes, I am on an internal network and cannot access http://registry.npmjs.org/, but we do have a proxy.

Both local developer machines and our CI process have this issue. We want the NPM registry proxy configuration to be on GIT to ensure builds are consistent between CI and local, there is no hard dependency on CI agent or developer machine configuration and developer setup is easier.
I'm very exc

[2018-06-13 23:46] pgonzal commented on #691
Awesome.  I'll reply to this thread as soon as we've published the beta with `install-run-rush.js`.  @iclanton is pretty close to done with his PR.

[2018-06-14 02:13] pgonzal commented on #691
Give `@microsoft/rush@5.0.0-dev.23` a try.  After you update your `"rushVersion"` field in rush.json, run `rush install` which will create the files in the **common/scripts** folder.  You should add them to Git.

Then you can invoke them similar to what we're doing in our [.travis.yml file](https://github.com/Microsoft/web-build-tools/blob/master/.travis.yml).

If you are still on Rush 4, here's a

[2018-06-14 03:29] jbrekelmans commented on #691
Awesome, thanks

[2018-06-14 05:01] jbrekelmans commented on #691
I found a pretty good workaround (Bash):
[code]
These environment variables will override ~/.npmrc and the global npmrc [and won't be filtered](https://github.com/Microsoft/web-build-tools/blob/master/apps/rush-lib/src/utilities/Utilities.ts#L472) because they are lower case.

[2018-06-14 17:29] pgonzal commented on #691
This is the issue I mentioned above.  When you do this:

[code]

...under their current design, Rush will read **C:\my-repo\rush.json** to determine the repo's configured Rush version, and then it will install that globally in folders like **C:\Users\you\.rush\rush-5.0.0** and it will install NPM in **C:\Users\you\.rush\npm-5.4.2**.  It's done globally because some people have lots of working fold

[2018-06-14 17:35] pgonzal commented on #691
Maybe I'm being too formalized in my thinking here.  We could also just:

3. Ignore the hypothetical concern of different registries having inconsistent versions of Rush/NPM.  When installing globally, Rush will try to use the .npmrc file from the local repo, and if it's able to install something, then we assume whatever we got is good enough for all the other Git working folders on the machine.

[2018-06-14 21:41] nickpape-msft opened #696 "Grammar issue in "rush install""
![image](https://user-images.githubusercontent.com/17131271/41439830-15354396-6fe1-11e8-944b-55b253ce0635.png)

[2018-06-14 21:53] iclanton commented on #696
https://github.com/Microsoft/web-build-tools/pull/697

[2018-06-14 21:59] iclanton commented on #696
Fix has been checked in.

[2018-06-14 21:59] #696 closed

[2018-06-15 03:39] jbrekelmans commented on #691
OK, I'm on the same page now.

To deal with NPM registries disagreeing on the files that make up a version of Rush/(P)NPM you can:
1. store the integrity of the Rush/P(NPM) installation on the repository (inside common/config/rush)
2. compare it against the global installation of the machine (```C:\Users\you\.rush```) when rush runs
3. take appropriate action if an inconsistency is detected (e.g.

[2018-06-16 01:31] pgonzal commented on #691
@jbrekelmans we ended up going with my approach 3.  After some thought we decided that it's reasonably safe to use a local .npmrc to install in a shared instance in a global location.  Essentially we're merely assuming that a private registry cannot republish a specific package version with tampered contents that are different from the official version on the npmjs.com registry.  This seems like a

[2018-06-16 01:31] pgonzal commented on #668
Your PR https://github.com/Microsoft/web-build-tools/pull/699 has been published as `@microsoft/rush/5.0.0-dev.24`.  Please give it a try and close the issue if it works.  Thanks again for fixing this!

[2018-06-16 02:05] jbrekelmans commented on #691
Awesome, will give it a go Monday (UTC+10)

[2018-06-16 13:16] RueDeRennes opened #702 "typescript 2.9 ready?"
when i use "api-extractor run", get this error,
Error: Error parsing tsconfig.json content: Unknown compiler option 'declarationMap'.

tsc Version 2.9.2

[2018-06-19 01:33] pgonzal commented on #702
Currently API Extractor is using TypeScript 2.4.  We need to upgrade to 2.9.  I'll see if I can get that done sometime in the next week.

[2018-06-19 04:08] jbrekelmans commented on #691
OK, the issue is solved now! Thanks

[2018-06-19 16:57] #691 closed

[2018-06-19 16:58] pgonzal commented on #679
This is fixed by PR #704

[2018-06-19 21:52] #679 closed

[2018-06-19 23:53] jbrekelmans opened #705 "ERROR: Unexpected output from "ps" command (LockFile)"
I'm running Rush in an environment where many utilities, including `ps`, have been replaced with their [BusyBox](https://busybox.net/about.html) counterparts. This means only a subset of the functionality of these utilities is available.

In particular [the method of obtaining the start time of a process](https://github.com/Microsoft/web-build-tools/blob/master/libraries/node-core-library/src/Lock

[2018-06-20 00:05] pgonzal commented on #705
Interesting...  I guess my first question would be "Why are you doing that?"  :-P

If you were going to fix LockFile.ts implementation to handle this case, what approach would you suggest?

[2018-06-20 00:33] pgonzal commented on #705
Would that completely replace the current implementation for all Linux systems?  Or would we need a heuristic to detect the BusyBox variant of `ps` (and if so what should the heuristic be)?

IIRC the LockFile algorithm is trying detect whether a PID has been recycled by a different process.  Although two different processes can have the same PID, they cannot have the same (PID, start time) tuple.

[2018-06-20 00:35] pgonzal commented on #705
Does your environment have a `/proc` filesystem that might have the `ltime`?

[2018-06-20 00:47] jbrekelmans commented on #705
Indeed, the etime approach is not correct.
Yes, and it appears the birthtime of entries in `/proc` is consistent with `etime`, so that would work.
[code]

[2018-06-20 00:52] pgonzal commented on #705
That approach seems pretty reasonable.  Would you want to make this PR?  :-P

[2018-06-20 01:01] jbrekelmans commented on #705
Sure, I don't have too much time though, so it may take me a week to open the PR.
Surely Microsoft has enough resources :-P
Should I leave the [ENOENT error here](https://github.com/Microsoft/web-build-tools/blob/master/libraries/node-core-library/src/LockFile.ts#L186)?

[2018-06-20 01:14] nickpape-msft commented on #705
We should get rid of the ENOENT error... I think we could move the assignment of otherBirthtimeMs into the try block and then check both value in the if statement on line 193.

[2018-06-20 02:01] jbcpollak opened #706 "[rush] Please add ./node_modules/.bin to the path for custom commands"
When I add a command to `command-line.json` it would be nice if we could assume anything in `node_modules/.bin` was already on the path, the same way npm works. This would minimize the effort to convert our projects, as well as help simplify our package.json files.

[2018-06-20 02:19] pgonzal commented on #706
+1 We should definitely improve this.

Today the way Rush spawns processes is [somewhat hacky](https://github.com/Microsoft/web-build-tools/blob/2c4e91ad014248be176d8ed6b392d95d093f9abc/apps/rush-lib/src/utilities/Utilities.ts#L322), but the fix should still be pretty straightforward.  We've been aware of this issue for a while, but it keeps getting procrastinated (because historically we've been

[2018-06-20 05:34] jbrekelmans commented on #705
It seems /proc/{n}/stat contains the process start time. See http://man7.org/linux/man-pages/man5/proc.5.html

[2018-06-20 06:43] jbcpollak opened #708 "[rush] NPM 5.x or newer ignores changes for Rush's "file:" version specifiers"
Using the following versions:

rush 5.0.0-dev.23 (the global rush command was installed via `npm i -g @microsoft/rush`)
node 10.4.1
npm 5.6.0 (as configured in rush.json)

I have a repo where one project (app1) already depends on another project (repo-scripts) and the `chance` library. I then add these two dependencies to a third project (lib1) and run `rush update`, but the dependencies never app

[2018-06-20 17:58] jbcpollak opened #709 "[rush] Unstable `update --purge` when running in a new environment (CI)"
I am getting stack traces like this when I check out my repo and run `rush update -p` in a new environment (specifically on my CI instance):

[code]

Environment is:

* rushjs: 5.0.0-dev.23
* node: 10.4.1
* npm: 5.6.0

[2018-06-21 00:57] pgonzal commented on #708
Thanks very much for providing this repro.  I'll take a look asap.

[2018-06-21 00:58] pgonzal commented on #709
The repro is here:

https://circleci.com/gh/6RiverSystems/monorepo-example/2

[2018-06-21 03:10] jbcpollak opened #711 "[rush] Support Husky for git commit hooks"
I'd like to be able to use commitlint in my project. Traditionally we've used husky to setup git commit hooks and commitlint goes from there.

One option I've considered (but I haven't tried yet) is to create a `commit-hooks` project with a simple package.json that does what we need. The issue here would be if husky is able to traverse up the tree to find our .git and register the hooks correctly.

[2018-06-21 04:00] jbcpollak commented on #709
This appears to go away with `npm@5.8.0`

[2018-06-21 06:18] pgonzal commented on #711
I was thinking about this a bit more.  If Husky has a `postinstall` hook that is  trying to discover "which package installed" me, there are a couple problems with that:

1. In a Rush repo, effectively Husky is an indirect dependency of the **common/temp/package.json** file.  The direct dependency isn't your **commit-hooks** project, but rather the **@rush-temp/commit-hooks** synthetic project whi

[2018-06-21 06:44] pgonzal commented on #709
Unhandled rejection implies some fundamentally incorrect async logic.  The failed integrity check is also pretty suspect unless you generated the shrinkwrap file using a different major release of NodeJS:  In the past that's anecdotally seemed to influence how the hashes are generated.

[2018-06-21 06:47] pgonzal commented on #709
Hmm... I also see that you're using node 10.4.1.  That is an unstable release.  NodeJS 8.x is the current LTS version.  We've been burned so many times by non-LTS releases that I'm pretty sure Rush is now supposed to print a warning saying we don't support those versions. :-)

[2018-06-21 06:48] pgonzal commented on #709
BTW after running `rush install --full` (which rebuilds the shrinkwrap file) the `rush install --purge` is now succeeding for me.

[2018-06-21 07:00] pgonzal commented on #709
This code is also bothering me:
[code]

If your inference is correct, that different versions of NPM have different bugs, then Rush 5 would be a great chance to say "We now no longer support NPM releases older than X."  If 6.1.0 is stable, maybe that could be X.  Then we could focus on that specific release and try to make it work reliably.

In particular it's probably not a lot of work to either

[2018-06-21 08:04] pgonzal commented on #708
I was able to repro your issue (after running `rush update --full` to solve the integrity error from your issue #709).

Interestingly, it did NOT repro when I tried rolling back to NPM 4.5.0, which was the last "golden version number" we had settled on before switching to PNPM.  For some context, last year we made several attempts to upgrade our biggest monorepo to NPM 5.x, but we kept encounterin

[2018-06-21 08:20] #705 closed

[2018-06-21 18:42] GolaWaya opened #712 "Warning - [tslint] Unable to create a TS program for TSLint. Some lint rules might not work correctly. Error FatalError: error TS5023: Unknown compiler option 'typescript'."
When using gulp-core-build-typescript's tslint and typescript together as part of a watch, every tslint event after the first triggers a warning.

In gulp-core-build-typescript/TypeScriptConfiguration.js the this._projectTsConfig, which should be immutable, has its compilerOptions object is changed in the function getGulpTypescriptOptions with the addition of a typescript node within the compilerO

[2018-06-21 20:06] pgonzal commented on #712
The PR looks good to me.

[2018-06-21 22:53] pgonzal commented on #712
This fix is now merged and the updated NPM package should be published by tomorrow.

However, IIRC the official SPFx tooling will not pick up the fix until the next public release of SPFx.

If you want to use it before then, you would need to locally override your installed package mappings.  For PNPM you can do this using [pnpmfile.js](https://www.kochan.io/nodejs/why-package-managers-need-hook-s

[2018-06-22 21:02] RueDeRennes commented on #702
i think so too

[2018-06-23 11:33] RueDeRennes opened #720 "[api-extractor ]support for @defaultvalue or @default and @type"
is there any support for @defaultvalue or @default and @type?
in my usecase:
`
/**

     * Gets or the `role` property. The role is depending on the actions count.
     * Posible values are: `dialog` | `alertdialog` | `alert`
     * @public
     * @type `boolean`
     * @defaultvalue `''`
     */
    readonly role: string;
`

[2018-06-24 00:11] pgonzal commented on #720
What is the role of `@type`, given that the TypeScript language already has a full type system?

The `@default` tag seems like a pretty useful feature. Could you also open an issue for the [TSDoc](https://github.com/Microsoft/tsdoc) project to propose adding `@default` to the standard?

[2018-06-25 15:17] ThomasMichon opened #721 "[rush] Add a 'variants' feature to support validating multiple dependency sets in the same repo"
# Summary

Add support for a `--variant` command-line parameter to core Rush commands which can be used to install and link an alternate configuration of `node_modules` based on selected overrides. This option would allow for continuous integration which validates that packages published from a Repo actually support the dependency range declared in their `package.json` file.

[code]

# Concepts

I

[2018-06-26 20:55] pgonzal commented on #721
We reviewed this design with Thomas today.  We think it’s an insightful idea and useful feature!  The impact on other Rush features seems minimal.  Our main feedback was to declare the variants in rush.json and include descriptions for them.

[2018-06-26 21:01] pgonzal commented on #720
I opened https://github.com/Microsoft/tsdoc/issues/27 to track this.  I'm closing this issue since `@type` seems to be already handled by the type system (although note that there is a [JSDoc-in-JavaScript scenario](https://github.com/Microsoft/tsdoc/issues/23) that might be relevant.

Feel free to reopen this issue if you have more questions specific to API Extractor.

[2018-06-26 21:01] #720 closed

[2018-06-26 21:02] pgonzal commented on #706
BTW we recently started work on a package [@microsoft/rushell](https://github.com/Microsoft/web-build-tools/tree/master/libraries/rushell) that will be a reboot of how Rush invokes shell commands.

[2018-06-26 22:41] AlexJerabek opened #726 "[api-extractor] First @link within @param descriptions has the preceding space trimmed"
Given a line like
`@param handler The event handler function to add, whose only parameter is of type {@link Office.BindingDataChangedEventArgs} or {@link Office.BindingSelectionChangedEventArgs}.`

The resulting json output is:
[code]
This eventually results in API-Documenter's yml looking like this:
[code]
Note the missing space between type and the first link (though not the second).

[2018-06-27 16:45] bryanforbes opened #728 "[rush] Proposal: link to and publish from a project build directory"
# Summary

Add an optional `publishFolder` property to the project objects in `rush.json` which Rush can use to link intra-project dependencies to and publish the project from. This option would allow package authors to postprocess `package.json` before publishing, more easily prevent unnecessary files being uploaded to NPM, more easily support multiple flavors of the same release, and facilitate

[2018-06-27 16:47] pgonzal commented on #728
@dzearing @qz2017 FYI

[2018-07-03 15:34] scsewall commented on #668
After this fix, peerDependencies are properly updated in my scenario.

[2018-07-03 16:39] pgonzal commented on #668
Great!

[2018-07-03 16:39] #668 closed

[2018-07-05 12:57] firzok opened #735 "rush publish --pack --include-all no tarballs created"
I am trying to create tarballs with this command
`rush publish --pack --include-all`

and it displays the following for two test packages:

`Rush Multi-Project Build Tool 5.0.0 - https://rushjs.io

Starting "rush publish"

Rush publish starts with includeAll and version policy undefined

* DRYRUN: D:\published npm\common\temp\npm-local\node_modules\.bin\npm pack (core\testRush)

* DRYRUN: D:\publi

[2018-07-05 20:57] ibezkrovnyi opened #736 "[api-extractor] current version is unusable"
@microsoft/api-extractor@5.9.1

## source
https://github.com/ibezkrovnyi/image-quantization/blob/master/src/image-q.ts

## [d.ts](https://unpkg.com/image-q@2.1.2/dist/esm/image-q.d.ts)
[code]

## image-q.api.json
[code]

## actual result
only 4 top-level functions extracted

## expected to be extracted
* all functions
* interfaces
* type aliases
* primitives
* objects
* arrays
* classes
* es6names

[2018-07-05 21:30] bryanforbes commented on #728
I hadn't thought about how `rush change` would need to be modified. Any suggestions would be welcome.

[2018-07-05 21:34] cliffkoh commented on #728
To me, that would be the most confusing aspect and drawback of this proposal. A folder's package.json would have exactly either `@my/library` or `@my/library-plus` but not both. The fact that it isn't representative is potentially confusing... and raises other questions (e.g. would all publishing variants of a projectFolder ALWAYS share the same versioning?).

So.. how to modify `rush change` also

[2018-07-05 21:37] cliffkoh commented on #728
Just brainstorming since I've already applied myself to your scenario... Without changing rush, you could also accomplish what you're trying to do by having

[code]

The build step of `@my/library-src` would then do what you would have done in creating a publish variant in the resulting two folders...

[2018-07-06 07:31] firzok opened #737 "."

[2018-07-06 12:57] pgonzal commented on #736
Thanks for providing this repro. I am on vacation for the next couple weeks, but I can take a look when I get back. I suspect it is a configuration issue.

[2018-07-06 23:42] townbully opened #738 "rush version should give error message when git username / email unset"
Currently, if running 'rush version' with out git username and/or email set, the command just fails with an opaque "ERROR: The command failed with exit code 1" message.  The email/name may be unset if running rush on a CI server, for example.  I needed to step through the rush code to determine what the problem was.  A more explicit error message would be very helpful here.

[2018-07-09 05:00] #737 closed

[2018-07-09 19:58] qz2017 commented on #735
Try run with `rush publish --publish --pack  --include-all`.  `rush publish` uses this extra flag `--publish` to tell it is not a dry run.  If you run it without `--publish`, it is a dry-run mode, and the results won't get written to disk.

[2018-07-09 20:00] qz2017 commented on #735
I think we should replace `--publish` with something more meaningful. Maybe `--not-dry-run`?

[2018-07-09 23:51] nickpape-msft commented on #738
Good point, sounds like a bug. There is should be detection that occurs when you run other Rush commands (e.g. "rush install"). When you run "rush install" do you get a proper warning message or the "ERROR: The command failed with exit code 1"?

Also, are you using Git for your repo? [There are a few places where we may have inadvertantly added a Git dependency].

[2018-07-10 00:28] iclanton opened #739 "[rush] Rush does not correctly handle staged file renames."
If you rename a file and then stage it in git (i.e. - git sees the file change as a rename instead of as a deletion and creation), the change tracking in Rush fails with an exception.

The issue is that package-deps-hash doesn't parse ([here](https://github.com/Microsoft/web-build-tools/blob/master/libraries/package-deps-hash/src/getPackageDeps.ts#L66-L73)) or handle ([here](https://github.com/Mic

[2018-07-10 00:29] townbully commented on #738
Hi, Nick:

Using 'rush install' doesn't produce this same error because I don't believe that function is making use of git.  The 'rush version' command does have this error because it uses git behind the scenes as part of its functionality and git fails to do things without the username/email set.

We are using git as our repo as part of a monorepo based project using rush.  It's okay if git is a

[2018-07-10 00:33] nickpape-msft commented on #739
Looks like a bug we should fix. Should be easy enough.

[2018-07-10 00:36] iclanton commented on #739
Yeah the fix should be easy. I'm surprised nobody has hit it until now.

[2018-07-10 00:40] nickpape-msft commented on #738
It does do a check for the e-mail address/name, but I noticed it only does that if you specify a `"gitPolicy"` in your `rush.json`, e.g.:

[code]

You might consider using that feature so developers or the CI don't accidentally get into a situation where they continually encounter the confusing error.

Meanwhile, we will definitely need to provide a better error message.

[2018-07-10 00:46] townbully commented on #738
Thanks!  And thanks for the nice tool!

[2018-07-10 06:06] firzok commented on #735
Thanks qz2017. Yes, you're right, it should be implemented in such a way that when we don't provide a flag it executes and when we want to run as a dry run we can have a flag for that like --dry-run

[2018-07-10 15:39] HipsterZipster opened #741 "[rush] Is it possible to use Rush version command with an arbitrary version?"
Hi,
We are currently using rush 4.3.2 with pnpm, but are planning to upgrade to 5 within the next month or so.

We do not plan on using the changelog management features of Rush, but would like the ability to run "npm version 1.2.3" on all of our packages so that both:
1. The top level `version` property of each `package.json` is updated
2. The package dependencies that exist within the repo are a

[2018-07-11 05:29] #735 closed

[2018-07-11 06:20] firzok opened #742 "[Suggestion] Rush publish pack with conditional publishing"
Hi. I have created a custom pack script that will only create tarballs when a local version is increased. I think that rush should have this feature built in. I am providing my pack script and I would really appreciate if someone can integrate this feature in the next version of Rush.

If anyone needs any help related to this script let me know.

[code]

[2018-07-11 19:43] nickpape-msft commented on #738
This should be fixed in master, you should see it in the 5.0.1 release!

[2018-07-11 19:49] townbully commented on #738
Thanks again!

[2018-07-11 20:05] iclanton commented on #739
Fixed.

[2018-07-11 20:05] #739 closed

[2018-07-11 21:57] nickpape-msft commented on #742
@qz2017 has recently done some work around the pack command...

[2018-07-11 21:59] qz2017 commented on #742
Yes, we can just add a check for the version before doing the pack. Both the version check and pack code have been in place. Would be a small fix.

[2018-07-11 23:23] nickpape-msft commented on #741
Hey there, Rush has a concept called "version policies" that can be configured to work similarly to how you are describing... It is somewhat described by this page, if you scroll to the "What is a version policy?" and "Two types of version policies" sections.

You can create what is known as a "lock-step" policy. This is a policy which enforces a single version number for all the packages in a par

[2018-07-12 00:10] hansl commented on #702
How about using the current directory's TypeScript (if available)?

[2018-07-12 05:54] firzok commented on #742
Thanks, @qz2017 @nickpape-msft If you need to use my code feel free to.

[2018-07-12 05:54] #742 closed

[2018-07-13 15:55] HipsterZipster commented on #741
Thank you, but am I able to pass in an arbitrary version?

[2018-07-13 18:43] nickpape-msft commented on #741
Not currently, no. You would just set the current version in `version` and the type of bump in `nextBump`. Although we can consider that as a feature request.

@qz2017  for awareness.

[2018-07-16 16:26] scsewall opened #749 "[rush] Improvements to approvedPackagesPolicy?"
We essentially have 4 different types of approved packages:

1. Approved for the frontend (browser)
2. Approved for the backend (Node.js-based process)
3. Approved for either frontend or backend.
4. Approved as a devDependency (not used at run-time)

For example, we have UI-related packages that are frontend-only and database-related packages that are backend-only and utility packages that can run

[2018-07-17 00:35] elliottsj opened #750 "rush: unexpected versions of transitive @types/* dependencies are installed"
Cross-posting the PR/issue from https://github.com/DefinitelyTyped/DefinitelyTyped/pull/27350

Example here: https://github.com/elliottsj/rush-pnpm-types-test

More details available in the PR. I think this is more of an issue with how DefinitelyTyped typings packages are versioned/published, but posting here in case this is something rush can fix.

[2018-07-18 14:55] scsewall opened #751 ""rush purge --help" not working properly"
It does not display the help message and does the purge anyway...

[2018-07-20 19:09] nickpape-msft commented on #751
This didn't repro for me... Which version of Rush are you on?

![image](https://user-images.githubusercontent.com/17131271/43020720-cfbc3ca6-8c15-11e8-9a05-74b58bbcf4a6.png)

[2018-07-20 19:33] nickpape-msft commented on #749
We definitely have a similar situation in our internal repo. The original split was between "browser/non-browser", although we conflated devDependencies and your second category ("approved for backend") because we don't have any non-devDependency server/Node.js code. We also originally were just trying to distinguish packages that were going to browser from packages that were never going to browse

[2018-07-20 19:50] scsewall commented on #751
My project was configured to use Rush 5.0.0, but I had a global install of Rush 4.3.2.  Once I upgraded my global install to 5.0.0, then this problem went away.  The Rush changelog for 4.3.3 mentions something about removing the undocumented "rush purge" command, so that probably explains it.  The "rush purge" command must have been handled by the global install of 4.3.2 instead of the project-spe

[2018-07-20 19:50] #751 closed

[2018-07-20 20:02] scsewall commented on #749
I would vote for a "comment" field as part of the JSON.  It would be easier to generate reports that way.

I will give your frontend / backend reviewCategory suggestion a try.  Seems like that could work for me.  Thanks.

[2018-07-20 20:39] nickpape-msft commented on #750
I'm not sure I understand the issue fully. It looks like [foo](https://github.com/elliottsj/rush-pnpm-types-test/blob/master/packages/foo-webpack-plugin/package.json) depends on both `tapable@^0` and `@types/webpack@^3`? Whereas [bar](https://github.com/elliottsj/rush-pnpm-types-test/blob/master/packages/bar-webpack-plugin/package.json) only depends on `webpack@^4`.

_[As a general note, you shoul

[2018-07-20 20:57] elliottsj commented on #750
Ah nice, that pinned versions article helps a lot to understand the issue. Yes, it does appear that `tapable@^0` is hoisted to the root since it satisfies `@types/webpack@^4`'s semver constraints.

I have tried adding `"@types/tapable": "^1"` to bar's package.json, but unfortunately the same behaviour exists even after making that change. You can repro with:

[code]

[2018-07-20 21:01] nickpape-msft commented on #750
FYI we introduced a `rushx` command that operates similar to `npm run`, although will eventually be getting strict command line enforcement. Just a heads up so you can avoid running `npm run` or `gulp` in future.

[2018-07-20 23:01] nickpape-msft commented on #750
Okay, I've done a bit of investigation. Rush appears to be acting correctly, but even with the workaround we tried it didn't work, so I think this is a PNPM issue.

The shrinkwrap has the correctly resolved versions for the top-level tarballs:

[code]

Based on that, `bar-webpack-plugin` is getting `@types/tapable@1.0.4`, however if you look at the shrinkwrap for `@types/webpack`:

[code]

**What!

[2018-07-20 23:11] nickpape-msft commented on #750
You can work around this issue with a `pnpmfile.js`. Here is an example:

[code]

I tested this in your repo and it seems to work. Make sure to run `rush update --full` afterwards.

[Although if you don't mind, please leave the repro branch alone. I want to be able to let Zoltan take a look at it.]

[2018-07-23 17:48] elliottsj commented on #750
Thanks, that helps a lot!

The thing that's still not clear to me though is whether DefinitelyTyped is doing the right thing here by using `*` semver constraints for @types dependencies. Relying on the parent package (bar-webpack-plugin) to provide the "correct" version of @types/tapable feels more like a workaround.

[2018-07-23 19:31] pgonzal commented on #750
I felt the same way. However when I chatted with the TypeScript compiler owners about this, they eventually convinced me that it's the only reasonable design (as things stand today).

The problem is that -- by design-- the `@types` packages never follow SemVer:  Their version numbers are meant to more-or-less correspond to the underlying JavaScript library version, and they frequently have "breaki

[2018-07-23 22:55] DanielRosenwasser opened #758 "Broken link on wiki"
On https://github.com/Microsoft/web-build-tools/wiki/API-Extractor-~-Rendering-API-docs

this link:

[code]

needs to be corrected to

[code]

[2018-07-24 19:59] nickpape-msft commented on #750
@elliottsj I'm going to close this issue, although I mentioned it to Zoltan in another issue we have with PNPM that describes a similar class of issues.

[2018-07-24 19:59] #750 closed

[2018-07-24 22:23] nickpape-msft opened #759 "Inconsistent usage of `where` command on Windows"
There is some code in [BaseCmdTask.ts](https://github.com/Microsoft/web-build-tools/blob/6bcddb75ad9ee2fcb9cc86b9462f95396206a138/core-build/gulp-core-build-typescript/src/miniTasks/BaseCmdTask.ts#L67) that is trying to launch `node.exe`. Currently it is taking the last thing that appears from the which command. However, this will cause problems if there are multiple copies of `node.exe` with diff

[2018-07-25 01:05] pgonzal commented on #759
Hmmmm... executing the `where` tool is pretty clunky.  It probably also introduces a security vulnerability, e.g. if a `where.bat` appears anywhere in the shell search path.  For finding `node.exe`, shouldn't we simply use the `process.execPath` path from the parent's Node engine?

I have a [branch](https://github.com/Microsoft/web-build-tools/commits/pgonzal/rushell-execute) that will introduce a

[2018-07-25 14:40] HipsterZipster commented on #741
Hi @nickpape-msft,
Our builds are versioned automatically by our CI server so this would be a really great feature for us and would replace a bunch of our custom scripts.

If this would be a community contribution, would it make sense to add the ability to accept a version string to the `--override-bump` flag in https://github.com/Microsoft/web-build-tools/blob/master/apps/rush-lib/src/cli/actions

[2018-07-25 17:01] qz2017 commented on #741
You can specify any version you want for lock-step version policy. To do that, use `rush version --ensure-version-policy --override-version x.y.z`.

[2018-07-25 17:02] qz2017 commented on #741
`rush version --ensure-version-policy --override-version x.y.z --version-policy yourPolicyNam`

[2018-07-25 20:08] #759 closed

[2018-07-26 11:33] alexghr opened #761 "[rush] rush update doesn't work with optional dependencies"
When I try to use `rush` on a package that depends on webpack on a laptop that runs Linux I get the following error:

[code]

The project depends (transitively, through webpack) on `fsevents` which is a package that can only be installed on a Mac.
The shrinkwrap file at `common/config/rush/npm-shrinkwrap.json` correctly marks `fsevents` as optional.

My minimal test case:

[code]

[2018-07-26 17:01] pgonzal commented on #761
Are you able to reproduce the issue using NPM 4.5.0? NPM 5.x and 6.x have various known bugs that sometimes cause trouble for Rush.

[2018-07-27 02:32] HipsterZipster commented on #741
Amazing! thank you so much for your help @qz2017 and @nickpape-msft

[2018-07-27 02:38] HipsterZipster commented on #706
Can't wait this one!

[2018-07-27 08:56] alexghr commented on #761
Just tried it with npm 4.5.0 and it works fine!
It also works with pnpm 2.12.0 but webpack has other issues with the `node_modules` folder structure generated by pnpm that blocks me from using it pnpm/pnpm#801

[2018-08-02 01:49] pgonzal commented on #761
I need to update the documentation to recommend NPM 4.5.0.  Longer term, we need to figure out what to do about these NPM issues.  If they cannot be fixed, perhaps we should support Yarn instead of NPM.

[2018-08-02 01:50] pgonzal commented on #741
Should we close this issue?

[2018-08-07 01:48] pgonzal commented on #706
#764 is the first half of this fix

[2018-08-08 21:59] HipsterZipster commented on #741
This worked great!

[2018-08-08 21:59] #741 closed

[2018-08-09 17:14] HipsterZipster commented on #738
Thank you @townbully and @nickpape-msft for fixing this!

[2018-08-14 00:11] lahuey opened #771 "[api-extractor] Create a Markdown file containing the generated API documentation."
As a developer, I would like to view the generated markdown of a file without deploying my API files to a website. This would allow me to catch documentation issues in code review.

[2018-08-14 03:58] adventure-yunfei commented on #663
@pgonzal  is this sovled now? still get this error.

[2018-08-14 18:54] pgonzal commented on #771
This is a good suggestion.  Unlike the full web site documentation generator (**api-documenter**), it sounds like what we'd want here is a single report file for each NPM package, which simply shows a big dump of all the doc comment blocks for the API surface.  The purpose of this output isn't to document the APIs, but rather to (1) trigger a Git diff whenever the rendered output changes, and (2)

[2018-08-14 23:32] KevinTCoughlin commented on #771
Markdown as output by default for this option with a flag to generate HTML is a possibility. 👍 re: the usefulness of diffing this output!

[2018-08-23 06:48] wattlebird commented on #511
@nickpape-msft Dear nickpape, it seems same problem occurs for v1.7.80 also. Would you please check it?

[2018-08-23 08:10] nguyentoantuit commented on #511
@wattlebird cc @nickpape-msft
Yep, I ran into this issue again and report a issue at https://github.com/OfficeDev/office-ui-fabric-react/issues/6042

[2018-08-23 11:20] bengry opened #782 "@microsoft/load-themed-styles 1.7.80 fails build"
`@microsoft/load-themed-styles` version 1.7.80 contains no javascript files, making it useless, and fails build when other tools rely on it.

This can be verified by unarchiving [this zip file](https://registry.npmjs.org/@microsoft/load-themed-styles/-/load-themed-styles-1.7.80.tgz) (direct from npmjs.org) and seeing it has no `lib` nor `lib-amd` folders like previous versions.

[2018-08-23 16:28] Vivihung commented on #782
Hit the same issue...

[2018-08-23 17:44] pgonzal commented on #782
Thanks for reporting this.

[2018-08-23 18:02] pgonzal commented on #782
We also published an empty version of **@microsoft/api-documenter**

[2018-08-23 18:03] pgonzal opened #783 "[rush] When building with `--to-version-policy`, "rush publish" sometimes publishes empty packages"
Issue https://github.com/Microsoft/web-build-tools/issues/782 reported that `@microsoft/load-themed-styles` was recently published as an empty package.

The [build log](https://onedrive.visualstudio.com/DefaultCollection/SPPPlat/_build/results?buildId=1879684&view=logs) shows that the following commands were invoked:

[code]

In this case the rebuild command used `--to @microsoft/rush`.   However,

[2018-08-23 18:14] ADobin commented on #782
@microsoft/loader-load-themed-styles seems empty as well.

[2018-08-23 18:25] #782 closed, assigned to nobody

[2018-08-24 01:51] wattlebird commented on #511
@nguyentoantuit Well, seems v1.7.81 is valid now.

[2018-08-24 02:14] pgonzal commented on #511
The full story is here: https://github.com/Microsoft/web-build-tools/issues/782

[2018-08-25 12:50] enten opened #785 "[rush] $schema directive cannot be used with version-policies.schema.json"
[code]

### Question

_Has version-policies.schema.json deployment failed?_

### Log message which motivates the question

A warning message in vscode when I tried to write a Rush `version-policies.json` config file base on [version-policies.schema.json](https://github.com/Microsoft/web-build-tools/blob/master/apps/rush-lib/src/schemas/version-policies.schema.json):

### Repro steps

[code]

[2018-08-25 18:04] pgonzal commented on #785
This file format was unfortunately designed with a JSON array as its root node, instead of a JSON object. As such, it is not possible to use a `$schema` directive in this config file. That is why we didn't publish this particular schema.

We are planning to redesign this config file, but it will be a breaking change, so it's not a quick fix. It will probably be rolled together with some other impr

[2018-08-28 08:30] Markionium opened #787 "[load-themed-styles] Style duplication when using composes from less."
TLDR; `loader-load-themed-styles`, depending on setup, adds duplicate styles to the DOM. Would you be interested in adopting a similar approach to `style-loader` and ignore/replace duplicate styles?

Hi all,

We've recently started using `load-themed-styles` and `loader-load-themed-styles`.

The `loader-load-themed-styles` states the following

I'd like to make you aware that this statement makes

[2018-08-28 17:49] pgonzal commented on #787
@dzearing @iclanton

[2018-08-28 18:07] pgonzal commented on #785
Retitling issue to track the work that needs to be done here

[2018-08-28 22:01] jbcpollak opened #788 "[rush] ERROR: EEXIST: file already exists, symlink linking dependencies"
Environment: MacOS, Node 10.4.1, npm 6.4.0

The following command works fine with rush 5.0.0, but fails with 5.0.4:

`rush update -p --full --debug`

I get the following output:

[code]

[2018-08-28 22:06] jbcpollak commented on #788
I confirmed this problem is present in 5.0.2 and 5.0.3. It appears 5.0.1 doesn't exist?

[2018-08-28 22:30] pgonzal commented on #788
Right, 5.0.1 was skipped because of an issue encountered during publishing

[2018-08-28 22:51] jbcpollak commented on #788
[code]

[2018-08-28 23:19] pgonzal opened #790 "[ts-command-line] The argparse library allows arbitrary abbreviations, which causes confusion"
Someone was recently asked to type this command:

[code]

...but they accidentally typed this:
[code]

**Expected:**  According to the design of **ts-command-line**, this should have reported an error, since `--debug` is a global option, NOT an option of the `rush update` subcommand.

**What actually happens:**  Instead, the command silently succeeds, but confusingly behaves as if this was typed:

[2018-08-28 23:31] pgonzal commented on #788
I reviewed PR #727 (which is the most related-seeming recent code change since Rush 5.0.0).  It replaced this code:

[code]

...with this code:
[code]

This adds the call to createSymbolicLinkFile() seen in your callstack:

[code]

The new API does this:
[code]

The parameters are reversed.  I'll create a PR to fix it.

@nickpape-msft  FYI

[2018-08-28 23:57] pgonzal commented on #788
Thanks @jbcpollak for taking the time to report this!

[2018-08-29 07:15] pgonzal commented on #788
@jbcpollak   This fix was published as Rush 5.0.5.  (Let us know if not.)  Thanks again!

[2018-08-29 07:15] #788 closed

[2018-08-29 13:33] PabloZaiden opened #796 "@microsoft/load-themed-styles 1.7.82 fails build"
The npm published package is broken again. This is the same that happened last week with #782

[2018-08-29 19:41] gbellmann commented on #796
@pgonzal fixed it last time, maybe he can help again.

[2018-08-29 20:06] pgonzal commented on #796
The `@microsoft/load-themed-styles` tarball seems to be okay:

https://unpkg.com/@microsoft/load-themed-styles@1.7.82/lib/index.js

Can you post a build log or other info indicating what's not building?

@iclanton

[2018-08-29 20:40] iclanton commented on #796
`1.7.83` has been published, which downgrades the upgraded tool that we believe caused a regression.

[2018-08-30 17:44] iclanton commented on #796
Closing this issue because we believe the underlying cause has been fixed. If you find that it hasn't, please reopen.

[2018-08-30 17:44] #796 closed

[2018-09-01 06:03] christiango opened #809 "Issues with git policy checks in CI in Rush 5.0.5"
I tried upgrading to rush 5.0.5 and I am getting the following error on install for CI builds.

Unable to determine your Git configuration using this command:
2018-09-01T01:05:53.3516502Z
2018-09-01T01:05:53.3516502Z     git config user.email

I worked around it by using the "--bypass-policy" flag for install, but publish fails with the same reason and bypass policy is not accepted there.

Since o

[2018-09-01 16:11] pgonzal commented on #809
Did you try 5.0.6? I believe this was already fixed in PR https://github.com/Microsoft/web-build-tools/pull/806

[2018-09-04 17:49] christiango commented on #809
I'll take a look later today at 5.0.6. We're currently unable to do npm install because of a VSTS outage.

[2018-09-05 01:17] pgonzal commented on #809
Since Rush is open source, you could upgrade like this:

1. Temporarily rename `C:\Users\you\.npmrc` to something else
2. Run `npm install -g @microsoft/rush`
3. Update the Rush version in **rush.json**,  and then `rush install` -- it will successfully install Rush in the cache, but fail to install your private packages
4. Rename your **npmrc** file back to `C:\Users\you\.npmrc`
5. Now `rush insta

[2018-09-05 16:55] christiango commented on #809
Works with 5.0.6! Thanks @pgonzal

[2018-09-05 16:55] #809 closed

[2018-09-10 21:58] pgonzal commented on #702
FYI this was already fixed in PR https://github.com/Microsoft/web-build-tools/pull/781

[2018-09-10 21:58] #702 closed

[2018-09-10 23:18] armansabaa opened #819 "Failure when trying to install latest rush version"
Im new to microsoft/rush, trying to install by running 'npm install -g @microsoft/rush' i get:

npm ERR! Unexpected end of JSON input while parsing near '...ypes/mocha":"2.2.38",'

Windows 10
Node version v8.9.4
NPM version v6.4.0

[2018-09-11 13:15] MartynasZilinskas opened #820 "[rush] Correct workflow for installing dependencies in one of the project"
Working in mono-repo becomes really painful when installing additional dependencies in the project.

[code]

Is there a better way to install dependency and not to do this repetitively?

rush already handles projects dependencies, why not adding an additional command that installs dependency in the selected project?

[2018-09-11 13:56] pgonzal commented on #820
We had been [relying on VS Code](https://rushjs.io/pages/developer/modifying_package_json/) for this, although that feature has seemed to stop working recently for me.

Can you propose a syntax/design for `rush add` or whatever the command would be?

It's probably not much work to implement.

[2018-09-11 14:03] MartynasZilinskas commented on #820
I am thinking something similar to this:

[code]
### Optional arguments
`--save-dev`, `-D`: Install as `devDependencies`. (Default saves only to `dependencies`)
`--project`, `-p`: Installs in selected project from rush.json.

## Examples
CWD: `/` (Repository root)
[code]

CWD: `/packages/react-forms` (Resolves that you're in `@simplr/react-forms` project.)
[code]

What do you think?

[2018-09-11 14:56] MartynasZilinskas commented on #709
I am encountering the same issue:
NPM: v6.1.0
Node.js: v8.11.4

Deleting `common/temp` and `common/config/rush/npm-shrinkwrap.json` fixes this issue temporarily.

[2018-09-11 17:02] pgonzal commented on #709
Does it repro with NPM 4.5.0? More recent NPM releases seem to have a lot of bugs. It's difficult for us to support because the bugs seem to be different in each version.

We generally recommend PNPM, but if you can't use PNPM you might try Yarn. Rush 5.1.0 just introduced preliminary support for Yarn. It's not been heavily tested yet, but we're very interested in feedback and issues.

[2018-09-11 17:05] MartynasZilinskas commented on #709
@pgonzal I have tried before PNPM and encountered problems.

I will try it again and report issues.

[2018-09-11 17:13] armansabaa commented on #819
Didnt work from first time, tried it more than once but worked finally
1) npm clean cache --force
2) npm install -g @microsoft/rush

[2018-09-11 17:13] #819 closed

[2018-09-11 18:55] nickpape-msft commented on #819
We don't have a postinstall script or anything crazy, so installing should be straightforward. I would expect this to be an NPM failure (ever version of NPM since 4.6.0 has a host of known bugs).

[2018-09-11 18:56] nickpape-msft commented on #820
Seems like a relatively good design to me. This would be a relatively straightforward feature to add.

[2018-09-12 17:52] pgonzal commented on #820
How important is `[--project <project-name>, -p <project-name>]`?  Seems like in most cases it should just add to the project of the current working folder where the command is invoked.

I'm assuming that  `rush install` should be automatically invoked as part of this command.  When people are adding multiple packages, it might be useful to have a `--skip-install` option to defer that.

[2018-09-12 18:57] natalieethell opened #821 "[rush] Git hooks in Rush"
Could Rush support git hooks?

[2018-09-13 09:33] pgonzal commented on #820
The usage scenario I was envisioning might be:
[code]

[2018-09-13 09:36] MartynasZilinskas commented on #820
Sounds good to me. 👍

[2018-09-14 04:49] pgonzal commented on #821
If we had Rush manage this, I'm thinking it could be extremely simple.  I don't even think we'd need to cook up a fancy config section.  It could just be a folder like **common/config/git-hooks** that gets copied into **.git/hooks**, deleting whatever is already there.  Maybe this happens automatically as part of `rush install`.

When we looked at Husky, it's focused on mapping Git's scripts to NP

[2018-09-14 15:47] pgonzal commented on #787
@dzearing @iclanton could we find someone familiar with **load-themed-styles** to answer this question?

[2018-09-14 15:50] pgonzal commented on #785
Marked as "blocked" because this will be a breaking change for the config file format.  The work is pretty easy, but it needs to be rolled together with the other planned design changes for the publishing/versioning config files.

[2018-09-14 15:51] pgonzal commented on #783
@qz2017 did you have a chance to look at this issue?

[2018-09-14 15:54] pgonzal commented on #761
FYI Yarn is now supported as of Rush 5.1.0.

[2018-09-14 16:11] pgonzal commented on #711
I'm going to close this issue.  Natalie provided a pretty reasonable workaround, and https://github.com/Microsoft/web-build-tools/issues/821 seems like an easier long term solution.

[2018-09-14 16:11] #711 closed

[2018-09-14 16:30] pgonzal commented on #650
@qz2017 are you planning to finish your PR?

[2018-09-14 16:33] pgonzal commented on #645
@cancerberoSgx if you are still having this issue, could you provide a small repro that illustrates the problem?  From reading the comments here, it's still unclear to me whether this is a Rush problem or an external issue with how **typescript-plugin-extract-interface** is getting resolved.

[2018-09-14 16:44] pgonzal commented on #598
I'm still undecided on this issue.  It seems like a good idea, but processing *.d.ts files has certain advantages that seem to be locking us in to this approach.  A recent example:

Migrating a large production application to the latest compiler is typically a nontrivial amount of work, so it gets procrastinated and our projects often lag behind the latest release by 6 months or more. But we're no

[2018-09-14 16:48] pgonzal commented on #519
This requirement should be mostly addressed once we finish integrating https://github.com/Microsoft/tsdoc into API Extractor.  It's almost ready.

[2018-09-14 16:51] pgonzal commented on #516
I'd suggest to model this [as an environment variable](https://github.com/Microsoft/web-build-tools/blob/226dbef4ac525a7fb1a1df51b3d8d6037becbc22/apps/rush-lib/src/api/EnvironmentConfiguration.ts#L10) similar to `RUSH_TEMP_FOLDER` and `RUSH_PREVIEW_VERSION`.

[2018-09-14 16:54] pgonzal commented on #475
Closing due to inactivity.  If you are still having this issue, please reopen and provide more detailed repro steps.

[2018-09-14 16:54] #475 closed

[2018-09-14 16:58] #319 closed

[2018-09-14 16:58] pgonzal commented on #310
This issue is no longer relevant after PR https://github.com/Microsoft/web-build-tools/pull/791 which invoke the compiler with a more modern configuration that should not have this issue.

[2018-09-14 16:58] #310 closed

[2018-09-14 16:59] pgonzal commented on #305
This issue is no longer relevant after PR https://github.com/Microsoft/web-build-tools/pull/791 which invoke the compiler with a more modern configuration that should not have this issue.

[2018-09-14 16:59] #305 closed

[2018-09-14 17:01] #266 closed

[2018-09-15 01:48] pgonzal commented on #726
This will be fixed using the helper from TSDoc [PR #61](https://github.com/Microsoft/tsdoc/pull/61).

[2018-09-18 20:54] jbcpollak opened #826 "[rush] command-line switch to select logfile output directory"
Our CI tool doesn't allow us to collect artifacts using wildcards - we need to write them to a directory and then configure CI to collect them from there. This poses a problem for the Rush build logs, which appear to be hard coded to be emitted to the current project directory.

I would ideally like to be able to do `rush --logdir /myartifactdir/` so logs get written there.

Currently we need to w

[2018-09-19 02:34] pgonzal commented on #826
Could you propose a rush.json config setting that would redirect the logs to a common place like **common/temp/logs**? It's probably a better design, but it would be a breaking change without an option.

[2018-09-19 21:23] scsewall opened #828 "[rush] rush update corrupts the npm-shrinkwrap.json file."
I am using Rush 5.1.0.

I edited the package.json of one of the projects in my monorepo to add a new dependency.

I then ran "rush install" and it correctly told me that I needed to run "rush update".

After running "rush update", the diff on npm-shrinkwrap.json shows the following empty object for each project in the monorepo:

"@rush-temp/my-test-app": {},

Instead of:

   "@rush-temp/my-test-ap

[2018-09-19 21:38] pgonzal commented on #828
Does it repro with NPM version 4.5.0?

[2018-09-20 00:57] raygesualdo opened #830 "[rush] `rush build` and `npm rebuild` don't fire `prebuild` npm scripts"
Hey team, awesome job with Rush. We've been using Lerna on an internal monorepo for the past few months and we've had some issue. Rush seems to solve almost all of them!

I'm in the processing of replacing Lerna with Rush and I noticed the `build`/`rebuild` commands don't trigger some `prebuild` npm script hooks we have in place. Is this a known behavior?

[2018-09-20 01:13] octogonz opened #831 "[rush] Add support for Yarn resolutions when using Yarn"
The Yarn package manager has a feature called "resolutions" that is similar in function to **pnpmfile.js**.  It allows a package to specify fixup rules for indirect dependencies, for example:

[code]

The full docs are here:
https://yarnpkg.com/lang/en/docs/selective-version-resolutions/

We should figure out how to support this in a Rush repo when using the Yarn package manager.

[2018-09-20 03:37] jbcpollak commented on #826
@pgonzal - I had been thinking of a command line switch so that it could be easily enabled / disabled via CI, but behave differently locally. OTOH, perhaps its better to have common behavior in all environments.

for a rush.json option, I'd suggest either:

[code]

the first is more convention-over-config, with the eventual plan of deprecation, the second is more explicit for people who need full

[2018-09-20 04:12] pgonzal commented on #826
I wonder if anyone would ever really want to customize the log folder. In the beginning every Rush path was an option (even "common" ), but that flexibility didn't seem to solve any actual problem, and made it so each Rush repo felt like a foreign country to newcomers. Standardizing  paths seemed to be much more valuable, except in a few cases that corresponded to well-defined usage scenarios.

[2018-09-21 02:40] GolaWaya opened #835 "[Gulp-Core-Build-Typescript] wrong package version when overriding with overridePackagePath config"
When overridePackagePath is set, gulp still displays the default package version leading to confusion regarding which version of typescript or tslint is doing the work.

[2018-09-21 07:29] hohenp opened #838 "Update TypeScript Version"
I am using
"@microsoft/web-library-build": "^6.0.2" with
"@microsoft/gulp-core-build-typescript": "6.0.2".
That uses typescript : "2.4.2"

I have update to React
"react": "^16.5.2",
"react-dom": "^16.5.2",

and updated to latest UI Fabric Core and React packages
"office-ui-fabric-core": "^9.6.1",
"office-ui-fabric-react": "^6.72.0",

Both recommend using an updated typescript Version 3.xx

How can

[2018-09-21 07:49] pgonzal commented on #830
This is the first I've heard of it.  In our own projects, the "build" script invokes a full toolchain with its own phases, so we don't rely very much on the **package.json** lifecycle fields.

That said, we should certainly fix this.  It's probably a pretty small change.

[2018-09-21 07:54] pgonzal commented on #830
Out of curiousity, what does your `prebuild` script do?

[2018-09-21 12:43] raygesualdo commented on #830
`build` runs rollup for our component library packages and one of those packages needs to copy over some static assets that are outside rollup's purview. We're using the `prebuild` command to handle copying those assets.

[2018-09-21 12:44] raygesualdo commented on #830
I'd be happy to submit a PR, but I might need a little help to know where to look.

[2018-09-21 19:03] pgonzal commented on #830
Take a look at [_getScriptToRun()](https://github.com/Microsoft/web-build-tools/blob/master/apps/rush-lib/src/logic/taskRunner/ProjectTask.ts#L190).

@nickpape-msft who worked on this code

[2018-09-22 00:50] cliffkoh commented on #838
In gulpfile.js,

[code]

assuming you have already installed typescript 3.x.x in your top level package.json.

We really ought to update the typescript version bundled in gulp-core-build-typescript though :\

[2018-09-22 04:00] hohenp commented on #838
Thanks for your help here.
I think this class was removed here?
https://github.com/Microsoft/web-build-tools/commit/a4ca7db22584b49a7fb327a4d4b5378b995fde7d#diff-73bca618ed575bc49087d8d835213344

After studying the src Folder of all the repos yesterday I tried following:
build.tscCmd.mergeConfig({
   overridePackagePath : 'node_modules/typescript',
})

It still consoles " [tsc] typescript version:

[2018-09-22 04:08] hohenp commented on #835
Helo GolaWaya
I also had to override typesscript Version using overridePackagePath and yes, it still consoles
[tsc] typescript version: 2.4.2

Do you have Problems, that tsc is now outputting the files not into the lib Folder as it does without the overridePackagePath? I do now have all compiled files within the src Folder...

[2018-09-24 23:53] yudapc opened #840 "[rush] does not support node version 10.11.0"
I am using:
[code]

After `checkout` this repository, I tried to run `rush update`. But there are errors about node version.

[code]

[2018-09-25 00:18] pgonzal commented on #840
This is by design.  NodeJS 10.x is [currently unstable](https://nodejs.org/en/download/releases/).  It won't graduate to stable (LTS) until sometime in October.

This repo's **rush.json** is configured to warn about unstable NodeJS releases. (In the past, we wasted too much time investigating errors that people had reported, which turned out to be NodeJS regressions.)  The [recommended solution](h

[2018-09-25 08:21] MartynasZilinskas opened #841 "[rush] Policies: Enforcing same version number across projects."
[Rush mono-repo example](https://github.com/simplrjs/react-forms). The same version is used on all packages to keep usage simple. Adding a policy would simplify things.

[React](https://github.com/facebook/react) uses the same versioning convention for their packages.

[2018-09-25 08:25] MartynasZilinskas opened #842 "[rush] Using rush tools without installing globally."
We use repository [package.json](https://github.com/SimplrJS/react-forms/blob/master/package.json) to install rush and use from local `node_modules/` with `npx`.

[code]

After running the command I am receiving this warning:
[code]

[2018-09-25 18:48] pgonzal commented on #842
This was a new protection introduced in Rush 5.  Please take a look a this doc:

https://rushjs.io/pages/advanced/phantom_deps/

[2018-09-26 00:56] nickpape-msft commented on #841
We have just recently added this:

https://github.com/Microsoft/web-build-tools/pull/829

This will be in the next version of Rush. For now, you can add a CI step to run `rush check` to ensure that mismatching versions aren't added.

[2018-09-26 02:42] pgonzal commented on #841
There's a detailed example here:

https://rushjs.io/pages/maintainer/enabling_ci_builds/

[2018-09-26 03:11] yudapc commented on #840
Thank you for the explanation. 👍

[2018-09-26 03:11] #840 closed

[2018-09-26 21:29] scsewall commented on #828
I currently have Rush configured to use NPM 5.5.1.  I tried to move back to NPM 4.5.0 but ran into strange npm install errors during rush install.  I also ran into different errors when I tried to move up to NPM 6.4.1.  I then tried to switch to PNPM but am running into "missing dependencies".  That is, some projects are not enumerating all of their dependencies but are getting away with it when u

[2018-09-27 01:56] pgonzal commented on #828
Generally people don't have too much trouble figuring out how to handle the "bad" packages with PNPM. Their [Gitter channel](https://gitter.im/pnpm/pnpm) is a great resource for help.  But if you can't get it working, I'd suggest to try the Yarn option.  We're very interested to have people try out the new Yarn support, and get some feedback about how well it works.  Whereas with NPM many of the i

[2018-09-27 02:14] pgonzal commented on #820
This will be implemented in https://github.com/Microsoft/web-build-tools/pull/843

[2018-09-27 12:05] sumitsahrawat opened #845 "[gulp-core-build-typescript] example links in README.md don't work"
The links:

* [@microsoft/web-library-build](https://github.com/Microsoft/web-library-build)
* [@microsoft/node-library-build](https://github.com/Microsoft/node-library-build)

aren't valid anymore.

Any idea what happened to the examples?

[2018-09-27 15:01] #845 closed

[2018-09-27 20:32] eelco opened #847 "[api-extractor] “The symbol React is being imported after it was already registered as non-imported” when running CLI"
When running API extractor on our library that uses React, it will throw the error:

I’ve read the [source code](https://github.com/Microsoft/web-build-tools/blob/08f5c153b9459e8b4224244b12ef915e7108ce5a/apps/api-extractor/src/generators/dtsRollup/AstSymbolTable.ts#L408) that throws this error, but I’m using API extractor from the command line and have a hard time figuring out what would be causin

[2018-09-27 20:41] pgonzal commented on #847
Are you able to share a GitHub branch that repros the error?  That might help us to investigate?

FYI we recently upgraded API Extractor to use TypeScript 3.0 as its analysis engine.  When processing a project that compiles using TypeScript 2.0, you may need to use the [--typescript-lib-package](https://github.com/Microsoft/web-build-tools/pull/832) or [--skip-lib-check](https://github.com/Microso

[2018-09-27 20:41] pgonzal commented on #842
@MartynasZilinskas can we close this issue?

[2018-09-27 21:09] eelco commented on #847
The project uses TypeScript 3.0.1. I’ll try to make a minimal example to show the error, it’s not open source (yet).

[2018-09-27 21:59] eelco commented on #847
Got it! Turns out there was a file in the project that *did* use React types, but did not import React. This works fine in VSCode and when compiling, but does trip up api-extractor.

The fix is adding `import * as React from "react"` at the top of the file.

---

I also found a related bug in trying to reduce the problem. If the project is one file with just
[code]

That will cause `Error: Child d

[2018-09-27 22:22] eelco opened #848 "[api-extractor] ".." or "." import paths not correctly resolved"
These both work:
[code]

These both don’t:
[code]

The error will be
`Error: Program Bug: The symbol Foo is being imported after it was already registered as non-imported`

[2018-09-28 00:28] pgonzal commented on #848
@eelco could you take a look at PR https://github.com/Microsoft/web-build-tools/pull/849 ?

My repro is in commit https://github.com/Microsoft/web-build-tools/pull/849/commits/adad81efb8216af39b6a76650ae85652fad40810 .  Although it does produce incorrect \*.d.ts output (which is fixed by this PR) I was not able to reproduce the specific error that you encountered.

If you can't figure out an isola

[2018-09-28 00:30] pgonzal commented on #835
Since the PR was merged, can we close this issue now?  Or is something still unresolved?

[2018-09-28 21:17] pgonzal commented on #820
@MartynasZilinskas this was published today as Rush 5.3.0.  Give it a try!

[2018-09-28 21:17] #820 closed

[2018-09-28 23:20] #841 closed, assigned to nobody

[2018-09-29 15:15] MartynasZilinskas commented on #842
Yeah, I am closing this issue.

[2018-09-29 15:15] #842 closed

[2018-10-04 07:46] xpepermint opened #856 "[rush] Search for commands in ./node_modules/.bin/"
In `package.json` we usually use commands by not prepending `./node_modules/.bin/` to each command. Currently the command `rushx` requires you to use the long command like `./node_modules/.bin/hayspec`.

Currently:
[code]
Desired:
[code]

[2018-10-04 12:36] xpepermint opened #857 "[rush] Allow publish of unchanged package"
Lerna allows you to publish all the packages under the same version. That's desirable especially for frameworks where a user knows which framework version he/she is targeting. As I can see RushJS only publish packages based on actual changes thus package versions are individual per package.

It would be great to enable bulk publishing of all the packages under the same version regardless of the ch

[2018-10-04 12:44] xpepermint opened #858 "[rush] Class checks using `instanceof` return `false`"
It seems that using `instanceof` for checking classes inside dependencies can return an unexpected result.

Here is the commit which was needed to make the package work with my personal NodeJS project which uses RushJS: https://github.com/hayspec/framework/commit/0146a44cffca89e73828c9a8e452b5d25b73951d

[2018-10-04 15:28] pgonzal commented on #857
Rush has this feature, but you need to define a "version policy". It's not very well documented through. Let me follow up with more details.

[2018-10-04 20:14] pgonzal commented on #857
Okay so it is sort of mentioned here:

https://rushjs.io/pages/maintainer/publishing/

But basically what you do is create a file **version-policies.json** and then add a policy whose definition name is `lockStepVersion`:

[code]

...then you go in **rush.json** and associate projects with this policy:

[code]

A "version policy" is basically a group of packages that publish together.  (We're plan

[2018-10-04 22:59] xpepermint commented on #858
I'm digging for hours and I can't reproduce it after I removed all the node_modules, log and lock files. It must have been some sort of cache. I did not try the `purge` command - maybe it would help.

I'm closing this issue for now. Thanks, @pgonzal for now.

[2018-10-04 22:59] #858 closed

[2018-10-04 23:04] xpepermint commented on #857
Thank you so much @pgonzal. If I have issues with this I'll reopen this issue.

[2018-10-04 23:04] #857 closed

[2018-10-05 01:33] pgonzal commented on #858
Stray *node_modules* folders would also cause this problem, due to the [phantom dependencies](https://rushjs.io/pages/advanced/phantom_deps/) problem.  Basically your `require()` statement can accidentally find the library in an old **node_modules** folder, which can lead to the same problem -- where you are mixing together two different definitions of the same class.

[2018-10-05 13:29] xpepermint opened #861 "[rush] Subdependencies not installed by PNPM"
The latest version of the PNPM is causing problems on typescript packages that depend on other typescript projects. Typescript definitions are not resolved because some dependencies of the dependencies are simply ignored and not installed. This is very hard to track and I spent 1 day searching for the solution. At the end, I just switched to NPM which works with no problems.

Here's the configurat

[2018-10-05 13:51] light24bulbs opened #862 "[Rush] Postinstall script?"
Is there a way to run a postinstall script for rush?  I need to throw something in the common/temp directory.

PostCSS expects there to be a postcss.config.js config file in the project root, and since it is installed in /temp now, it expects there to be a config file there.

[2018-10-05 15:54] pgonzal commented on #862
Take a look at the [postRushInstall](https://github.com/Microsoft/rush-example/blob/59cddfedc0c5cf24146babc0aba7b5865978f828/rush.json#L186) event hook.

[2018-10-05 15:56] pgonzal commented on #861
Could you provide a branch that repros this issue?  I'm not aware of any such problem with PNPM.

[2018-10-05 16:42] xpepermint commented on #861
Yeah, I'll try to find some time to prepare a repository.

[2018-10-07 21:09] MartynasZilinskas opened #865 "[rush/ts-command-line] Rush doesn't support `--no-color` flag."
We are using VSTS CI, and it doesn't support colors:
![image](https://user-images.githubusercontent.com/562658/46586952-203f8280-ca8e-11e8-9fc6-5ff38ae98365.png)

[Colors](https://www.npmjs.com/package/colors#disabling-colors) dependency supports `--no-color` flag.  But after running another build I have received an error:
[code]

[2018-10-08 03:51] pgonzal commented on #865
Try setting `FORCE_COLOR=0`.  Rush will pass this environment variable through to your toolchain, and if you use the **colors** library, it honors this environment variable.

Sadly, **colors** considers the environment variable only \*after\* probing for [3 different command-line](https://github.com/Marak/colors.js/blob/1d560880e2341a7a541afa5620adae4809b0571c/lib/system/supports-colors.js#L35) op

[2018-10-08 09:18] MartynasZilinskas commented on #865
I like environment variables more for this thing.

I have tried using `FORCE_COLOR=0` environment variable, and it works. Thank you.

[2018-10-08 09:18] #865 closed

[2018-10-08 17:31] AlexJerabek opened #867 "[API-Documenter] - Crosslink support for "complex" types"
Currently, the tool uses the uid of a type to help create link to the type's page when API Documenter's yml is run through the OPS build system (for docs.microsoft.com). This works for simple types (like excel.Excel.NamedItemCollection is this example):
[code]

However, if the type is in a generic or unioned with another type, the uid is not inserted (like Excel.WorksheetCalculatedEventArgs in thi

[2018-10-09 20:40] fearthecowboy commented on #735
THIS.

[2018-10-10 15:41] light24bulbs commented on #761
I'm having an identical issue with yarn.  The dependencies get skipped as optional, and then webpack throws on fsevents and a few other osx specific packages.  Is there a way to force rush to install these?  I'm seeing

[code]

[2018-10-10 17:29] light24bulbs opened #870 "[ Rush ] Yarn skipping optional dependencies on rush link."
Some dependencies get skipped as optional, and then webpack throws on fsevents and a few other osx specific packages. Is there a way to force rush to install these?  It seems weird that I get the warning on the `link` step and not the install step.

I set ignore-optional=false in /common/config/rush/.npmrc. Didn't fix it.

I'm seeing something like this on a few packages on `rush link`:

LINKING:

[2018-10-10 18:29] pgonzal commented on #761
Something about your setup *requires* an optional dependency?  How does that work?  (We use webpack on both Mac/PC and we haven't had this issue. Usually the optional dependencies are just for extra features or optimizations.)

[2018-10-10 18:48] light24bulbs commented on #761
Digging a little more, it looks like it's because of a package that declares its dependencies wrong.  I submitted a fix request. https://github.com/joyent/node-sshpk/issues/53

In the mean time, wouldn't it be good if there were a way for rush to link optional dependencies?

[2018-10-10 18:53] pgonzal commented on #761
I just did a test with the various package managers on a Windows PC:  I installed [dirgen](https://www.npmjs.com/package/dirgen) which depends on [fsevents](https://www.npmjs.com/package/fsevents) which has `"os": [ "darwin" ]` that is incompatible with Windows.  The results:

## NPM 3.10.8
- Does NOT unzip the tarball into **node_modules**
- Does NOT write **fsevents** into **npm-shrinkwrap.json*

[2018-10-10 19:00] pgonzal commented on #761
## NPM 4.5.0
- Does NOT unzip the tarball into **node_modules**
- Does NOT write **fsevents** into **npm-shrinkwrap.json** at all
- Shows a warning about being optional

Damn...

[2018-10-10 19:07] pgonzal commented on #761
So I think what we should do is:

- Add `--no-optional` to the installer ]command line](https://github.com/Microsoft/web-build-tools/blob/4f2090598f23683c2cb5dfee2441362881e945bf/apps/rush-lib/src/logic/InstallManager.ts#L977) ONLY if it is NPM <5
- `rush link` [should link](https://github.com/Microsoft/web-build-tools/blob/0596dfab480d956d48754d6866a1de9e4d648ff5/apps/rush-lib/src/logic/npm/NpmLi

[2018-10-10 19:09] light24bulbs commented on #870
handled in #761

[2018-10-10 19:09] #870 closed

[2018-10-11 00:49] pgonzal commented on #706
We're going to prioritize this fix... it's embarrassing :-)

[2018-10-11 01:51] octogonz opened #872 "[rush] Child processes should inherit the "colors" heuristic from Rush's console"
When Rush uses the [colors](https://www.npmjs.com/package/colors) library, it looks at the input stream and makes a (fairly accurate) guess about whether colors are supported or not.

However, when Rush invokes child processes, they are attached to a **stream-collator** buffer that is not a TTY, and so the heuristic is generally wrong.  Since Rush knows this, it should set `FORCE_COLOR` or `FORCE_

[2018-10-11 01:52] pgonzal commented on #865
After thinking about this some more, I think Rush can probably set `FORCE_COLOR` correctly for you in most cases.  See issue https://github.com/Microsoft/web-build-tools/issues/872

[2018-10-11 04:15] pgonzal opened #873 "[rush] "rush purge" should probably also run "rush unlink""
Consider this scenario:

[code]

After this command, both **common/temp** and **my-project/node_modules** will be corrupted.  The only reliable solution is two commands:

[code]

If `rush purge` automatically included `rush unlink`, then the solution would be easier to explain.

[2018-10-11 04:15] pgonzal commented on #873
@nickpape-msft  FYI

[2018-10-11 13:38] eelco commented on #847
Hmm, I can’t manage to produce a minimal example. Since the original error was my fault, I’m closing this issue.

I see that version 6 is out, any ETA on version 7?

[2018-10-11 13:38] #847 closed

[2018-10-11 13:52] eelco commented on #848
Apologies for the late reply! I just verified that the PR works by running it on my project just before I applied the workaround. (And after first reproducing it again with 5.13.0) 👏

[2018-10-11 15:11] pgonzal commented on #848
Cool. I will merge&publish this fix today.

[2018-10-11 23:00] pgonzal commented on #847
It's my top priority right now.  However it's a little early to say how involved it will be.  :-) [TSDoc Playground](https://microsoft.github.io/tsdoc/) took like 3 days when we estimated it would be only half a day. :-P

[2018-10-11 23:35] pgonzal commented on #848
This is fixed in **API Extractor 6.0.3**

[2018-10-11 23:35] #848 closed

[2018-10-12 16:35] elliottsj commented on #761
I'd like to work on this; can probably start working on a fix tomorrow or Sunday.

Looking forward to being able to run `jest --watch` on macOS out of the box again 😄

[2018-10-12 19:39] moward opened #876 "[rush] [feature request] rush bridge for linking multiple rush repos"
As discussed on an internal wbt thread, I'd like to propose a `rush bridge`. The purpose would be to connect two or more Rush repos together so that:
 1. A package in one Rush repo can depend on a package in another repo
 2. The repos share external package dependencies
 3. The repos can be built together in the correct dependency order

To use this tool, the user would create another `rush.json`

[2018-10-13 16:57] rfbotto commented on #873
Hey @pgonzal, i would like to give this a go! Is your idea to still support `unlink` and `purge` as possible actions or to deprecate `unlink` in favour of only supporting a `purge` that would execute the logic of both?

[2018-10-13 19:20] pgonzal commented on #873
@rfbotto that's great! :-)

We would definitely want to keep `rush unlink`, because it is a lightweight operation that simply deletes the symlinks so you can use package manager commands.  It can be reversed by running `rush link` again.

Whereas `rush purge` is a heavyweight operation that deletes all the temporary files.  For people using NPM/Yarn package managers, `rush install` can take 5-10 m

[2018-10-13 19:40] pgonzal commented on #876
This is an important feature that we've been wanting to build for a long time.

You already can simulate it to some extent today.  Suppose we have:

**repo-a/rush.json**
[code]

**repo-b/rush.json**
[code]

And then suppose you created this folder:

**bridge/rush.json**
[code]

When you run `rush update` in this folder, it should install the union of the dependencies from both repos in a new **bri

[2018-10-13 19:56] pgonzal commented on #876
@ThomasMichon who was also interested in this

[2018-10-13 20:19] rfbotto commented on #873
Thank you for the explanation @pgonzal ! :)

From that i understood from the codebase, and by using as basis the example of `rush install` and `rush update`, the `LinkAction` logic was abstracted into it's own manager so that it can be easily used across different places of the application. So my idea for this feature implementation would be to refactor the logic of `UnlinkAction` into a `UnlinkMa

[2018-10-14 03:11] pgonzal commented on #873
Sounds like a good plan to me.  The other option would be to put this logic in `BaseLinkManager`, however that class is already complicated enough that probably `UnlinkManager` is a better approach.

[2018-10-15 13:44] elliottsj commented on #761
Sorry, I didn't get around to it on the weekend and probably won't have time during this week. Someone else can start tackling this if they like, otherwise I think I can take a look this coming weekend.

[2018-10-16 03:42] elliottsj commented on #761
I got around to making the fix tonight: https://github.com/Microsoft/web-build-tools/pull/878

The changes are fewer than I expected, so I feel like I'm missing something 😅

[2018-10-16 09:13] semenyakNik opened #879 "Replace deprecated dependency gulp-util"
gulp-util has been deprecated. Continuing to use this dependency may prevent the use of web-build-tools with version 4 of Gulp.

The README.md lists alternatives for all the components so a simple replacement should be enough.

See:
- https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5
- gulpjs/gulp-util#143

[2018-10-16 20:03] AlexJerabek commented on #867
@pgonzal I received some updates for APEX on the subject. I'll copy their answers based on the example I provided earlier in the thread here:

(Den): For return types, we need to make sure that’s not free form – we should not be putting Markdown there. Instead, we should have a way to separate types properly to make sure that we generate links between angle brackets. Chan – does TypeDoc or JSDoc g

[2018-10-16 20:33] AlexJerabek opened #881 "[api-extractor] Overloaded function support"
Our [office-js d.ts file](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/office-js/index.d.ts) has many instances of overloaded functions. For example, `AppointmentCompose` contains
`addFileAttachmentAsync(uri: string, attachmentName: string): void;`
`addFileAttachmentAsync(uri: string, attachmentName: string, options: Office.AsyncContextOptions): void;`
`addFileAttachmentAsy

[2018-10-16 20:41] pgonzal commented on #881
I'm workin' on it.  This will definitely be supported in API Extractor 7. It's a nontrivial undertaking though.  :-)

[2018-10-16 20:42] AlexJerabek commented on #881
Excellent! Thank you Pete!

[2018-10-16 22:49] kenotron commented on #828
I hit this as well with officedev/office-ui-fabric-react

[2018-10-16 22:59] pgonzal commented on #828
@kenotron What version of NPM are you using?

[2018-10-16 23:11] pgonzal commented on #867
@AlexJerabek let's take this discussion offline. I don't believe today's YAML file has the capability to model what he's describing.

[2018-10-17 14:05] #862 closed

[2018-10-17 15:03] pgonzal commented on #828
@kenotron I just encountered this issue today also while working in the [office-ui-fabric-react](https://github.com/OfficeDev/office-ui-fabric-react) repo.  It's really strange:  The **node_modules\\@rush-temp\\styling** folder contains a perfectly valid **package.json** file, but for some reason `npm shrinkwrap` ignores all the dependencies specified there.  I used `rush update --purge` so it's a

[2018-10-17 17:15] pgonzal commented on #828
Okay after 2 hours of staring at `npm install` progress bars, I figured out that the `npm shrinkwrap` command is what corrupts the file. Rush runs this after `npm install` in order to rename **package-lock.json** to **npm-shrinkwrap.json** (so we don't have to manage different filenames depending on the NPM version).

I'll do a little more digging and see if I can figure out why this is happening.

[2018-10-17 17:53] pgonzal commented on #828
It's just an NPM bug.  If I run `npm shrinkwrap` using the latest NPM 6, it does not blank out the entries.

I suppose we could get this working by having Rush itself rename the **package-lock.json** file rather than invoking `npm shrinkwrap`.  I wouldn't want to stop calling the file **npm-shrinkwrap.json** however unless we drop support for NPM 4...

...which is blocked because NPM 5 seems to ha

[2018-10-17 17:59] kenotron commented on #828
I don't mind moving ahead with npm 6 since even the latest LTS node auto installs that for you - so it's more ubiquitous now. How much work would it be to do (1), in your opinion? Is it something rush can provide as a temporary solution until npm can fix their bug (do they have a bug on them on this?)

[2018-10-17 19:54] light24bulbs opened #884 "[ Rush ] Generate a change log for projects that don't publish via npm"
We are using Rush to build a microservice cluster.  Some rush packages will deploy to NPM, but after that some others(which depend on the above packages) will be containerized and go to AWS.  I'm guessing this is a pretty normal pattern.

It would be really great to use Rush to check what microservices have changed and just deploy those(if they have dockerfiles).

There might be some clever use of

[2018-10-17 20:14] scsewall commented on #828
Adding my comments since I logged the original issue...

We are still plagued by this problem, so having a working solution (even if it is slower) would be better than the status quo.  Moving back to NPM 4 (from NPM 5.5.1) was never going to be an acceptable workaround for me, but moving ahead seems reasonable.

I made progress tracking down the "phantom dependencies" in my monorepo, so I may addr

[2018-10-17 20:58] pgonzal opened #886 "[rush] Let's get NPM 6 working with Rush"
Rush shouldn't be in a position of recommending that people use the ancient NPM 4.  Due to recent interest, I am opening this meta-issue to track the punch list of work items needed to get the latest NPM version to be supported by Rush.

Off the top of my head:
- We need to a workaround for the NPM's regression with installing `"file:"` version specifiers (See https://github.com/Microsoft/web-buil

[2018-10-17 22:43] pgonzal commented on #886
@kenotron @scsewall @jbcpollak

[2018-10-17 22:52] pgonzal commented on #884
Is the idea that certain packages are released by running `npm publish`, but certain other packages are released via some custom script such as `some-docker-tool deploy-this-folder`?

In other words you want to generalize `rush publish` to support other release types besides NPM?

@iclanton and are really wanting to do a sprint to improve the publishing/versioning features.  We could try to incorp

[2018-10-18 05:33] pgonzal commented on #879
Fixed in gulp-core-build 3.8.32

[2018-10-18 05:33] #879 closed

[2018-10-18 05:33] pgonzal commented on #879
Thanks again for your PR!

[2018-10-18 13:42] light24bulbs commented on #884
Yes that sums it up very well.  Getting all the updated packages in a parseable list is probably enough.

In lerna our pattern was:
1. `lerna ls --since --json` and store the list of updated packages
2. `lerna publish` to take all the packages not marked as `private:true` to npm repository
3. Then we looped through all the changed packages from step one, checking for dockerfiles and then deploying

[2018-10-18 15:22] pgonzal commented on #884
What does `--since` do exactly? I couldn't find any documentation for it.

At the point where Rush calls `npm publish`,   we could just provide a way to customize what command it runs. It could be a version policy option (that affects all packages in the group) or we could provide project-specific options (if you really needed that).

We already encountered this problem ourselves. Someone added [_

[2018-10-18 15:38] light24bulbs commented on #884
That's good to know it's a common need!  I figure a lot of people would like to use rush this way.

--since isn't super well documented.  Without an argument, it filters `list`/`ls` to just give the packages that have changed since their last tag.  https://www.npmjs.com/package/@lerna/filter-options  Pretty much perfect for figuring out what to deploy.

Running a custom command is probably good en

[2018-10-18 20:02] pgonzal commented on #884
Is that because deploying creates a Git tag?  Sorry if these are dumb questions -- I really should spend more time reading about Lerna.  :-)

Version policies are a much better approach to this.  I apologize that their current design is fairly confusing (since the requirements were constantly evolving for the people who implemented that portion of Rush).  We really need to do another iteration to

[2018-10-18 20:27] acoates-ms opened #887 "[rush] Allow global custom commands to be marked as safeForSimultaneousRushProcesses"
Our build command has a lot of different parameters that control various slices of the build.  Currently we have a package.json in the root which is basically just used as a collections of scripts.  I want to get rid of this package.json and replace the scripts with global rush commands, which allows better documentation etc.

However, I don’t see an obvious way to get the global commands to do wh

[2018-10-18 21:09] light24bulbs commented on #884
I believe git tag is how it works by default. Deploying does create a git
tag for the whole repo, creating an easy way for Lerna to check for changes
since the last release(I think, haven't read all the source).

I'm glad you said that because I am getting pretty confused by version
policy.  It seems like it is one flag trying to do a lot.  I'm trying to
use it as something I would call 'publishin

[2018-10-18 21:32] pgonzal commented on #887
Right, basically [this option](https://github.com/Microsoft/web-build-tools/blob/3e52b2ed4d2a03c19918fba81cd94b6e615eb06f/apps/rush-lib/src/cli/actions/BaseRushAction.ts#L26) should be exposed as part of [this schema](https://github.com/Microsoft/web-build-tools/blob/3e52b2ed4d2a03c19918fba81cd94b6e615eb06f/apps/rush-lib/src/cli/scriptActions/GlobalScriptAction.ts#L14).

This seems like a pretty g

[2018-10-18 21:33] pgonzal commented on #887
I'll see if we can get some time to implement it. Or if someone else wants to contribute a PR, that would be great too.  :-)

[2018-10-19 17:08] jbcpollak commented on #886
@pgonzal can I suggest you coordinate with @zkat?

[2018-10-19 17:42] pgonzal commented on #886
Sure! This would be the **absolute most valuable** issue for NPM to help us out with:

I can provide an isolated repro if needed. But the basic idea is that when we do this...

**package.json**
[code]
...after `npm install` has run once, if the "**app1.tgz**" file is updated by Rush, thereafter `npm install` seems to always install the old tarball.  The only way to make it recognize the change is:

[2018-10-19 17:43] pgonzal commented on #886
When I tried workaround #2 again just now with the latest NPM 6.4.1, it's crashing with this call stack:

[code]

If I also delete **package-lock.json** then this error goes away.

[2018-10-19 19:19] pgonzal commented on #886
In this case the **package-lock.json** was created by the same version of NPM.

[2018-10-21 19:46] #887 closed

[2018-10-21 23:57] octogonz opened #894 "[api-extractor] Support declaration maps"
In API Extractor 5, we switched from analyzing .ts files to analyzing .d.ts files.  One annoyance of this approach is that API Extractor's error messages don't refer to the .ts files.  The intended solution is to use TypeScript's new [--declarationMap](https://www.typescriptlang.org/docs/handbook/compiler-options.html) which creates a .d.ts.map file similar to .js.map files.

Since this still hasn

[2018-10-22 00:02] octogonz opened #895 "[api-extractor] Optionally include source code coordinates in generated documentation"
For open source projects, the documentation web site may need to point people to the source code where an API is declared.  API Extractor should track the original source file location in the .api.json files, and optionally render this as part of the API reference.

[2018-10-22 23:33] aeulitz opened #896 "API-Extractor: Option to extend analysis beyond package boundaries #3"
As of 6.0.2, it seems that AE does not include declarations from other packages in its API review and rollup files. This makes it harder for a package developer to get a comprehensive picture of the API surface s/he is working on. It would be great if AE would have an option to include declarations from external packages, probably in its API review file.
It stands to reason that the analysis of ex

[2018-10-23 06:18] pgonzal commented on #884
So the node_modules folder is not included in your docker container?  Instead you run `pnpm install` as a postprocess after you boot up the container?

With PNPM's model, I believe it would be fairly straightforward to extract a project-specific shrinkwrap.yaml file for a given project. @zkochan does your "shared shrinkwrap file" feature help with this at all?

[2018-10-23 18:16] light24bulbs opened #897 "[rush] "publish --pack" fails with yarn because yarn pack names files differently"
`yarn pack` puts a `v` in front of the version name of the file, and rush doesn't handle this properly when copying the packed file to artifacts.

[code]

Seems like rush `publish --pack` is broken with yarn currently

[2018-10-23 20:04] pgonzal commented on #897
This sounds very similar to the other issue we found.  See PR https://github.com/Microsoft/web-build-tools/pull/883

For now we're not attempting to map the package manager command lines to Yarn.  Instead we simply invoke "npm" to perform publishing.

[2018-10-23 20:58] #897 closed

[2018-10-23 21:00] pgonzal commented on #897
Oh was this already fixed by 883?

[2018-10-23 21:01] light24bulbs commented on #884
We just figured out we can use
[code]
To convert rush's symlinks into real files before containerization.  It's great because it avoids another install, respects the global package lock, and will also containerize any local packages that are linked but not in NPM.

It would be trivial for rush to someday have a command `rush isolate` that did this. :)

[2018-10-23 21:07] pgonzal commented on #884
@jbcpollak (who was also interested in Docker container deployment) FYI

Today you could probably implement this as a Rush [custom command](https://rushjs.io/pages/maintainer/custom_commands/).

Eventually we do want to generalize Rush's publishing scenario to support other release types besides `npm publish`, and it seems like Docker containers should probably be first class citizens.

[2018-10-23 21:36] zkochan commented on #884
A couple of days ago @hulkish was asking about this feature for the same pupose in [our gitter chat](https://gitter.im/pnpm/pnpm?at=5bbafe21600c5f64236ec18a)

Indeed, it would be easy to implement a pnpm command for fetching a dedicated shrinkwrap from shared shrinkwrap. We have that logic already in the [pnpm-shrinkwrap package](https://github.com/pnpm/pnpm/blob/064c58613fac67241f9726a0da3b9173ae

[2018-10-24 17:06] kkjeer opened #899 "[api-extractor] Support an "extends" field for api-extractor.json"
For projects with multiple packages, it would be great to allow for one base api-extractor.json file that each individual project's api-extractor.json extends (similar to tsconfig.json).

[2018-10-24 17:31] pgonzal commented on #899
@sunilsurana FYI

[2018-10-24 21:27] Sushisource opened #900 "[rush] publish -a has confusing documentation"
Hello there,

Just started trying to use rush and immediately ran into some weirdness with `publish -a` on the first attempt to use it.

I ran `rush change`, all the logs were generated properly, but then upon trying to dry run publish, it actually goes and deletes the change files. Note that no previous changelogs or anything else existed before I ran `rush change`.

Here's some output. The delet

[2018-10-25 00:20] AlexJerabek opened #901 "[API Extractor] - `[object Object]` replacing special characters"
API Extractor is replacing special characters with `[object Object]` when outputting JSON files. There may be more cases, but I've noticed this behavior for `\`, `{`, and `}`.

[PR showing issue](https://github.com/OfficeDev/office-js-docs-reference/pull/226/files)
[Docs showing issue](https://review.docs.microsoft.com/en-us/javascript/api/excel/excel.charttitle?view=office-js&branch=elizs-get-lat

[2018-10-25 08:42] pgonzal commented on #901
@AlexJerabek  Thanks for reporting this!  The problem occurs when TSDoc returns error nodes because the symbol charactrers are not escaped properly.  (For example in `\n` should really be written `\\n` to make it clear that you really want a literal backslash and were not trying to make a TSDoc newline.)  These "errors" are supposed to be rendered as literal text on the web site (as you expected),

[2018-10-25 08:52] #901 closed

[2018-10-25 08:58] pgonzal commented on #901
This was published as API Extractor 6.0.8

[2018-10-25 17:56] pgonzal opened #904 "[rush] Let's make publishing easier and more flexible"
Lately we've been hearing a lot of questions and confusion regarding Rush's publishing and versioning features.  This feature is fairly versatile and powerful, in the sense that it has successfully modeled all the various publishing workflows teams use at Microsoft.  But it was developed over a period of a couple years where the requirements were continually expanding, so the underlying design is

[2018-10-25 18:08] pgonzal commented on #900
All the docs are open source.  Feel free to propose a correction.  There's even an "Improve this page" button to help you create a PR.  :-)

Yes.  This feature's design is fairly disorganized, because it was built over a couple years, and we kept discovering new requirements as it came together.  Lately publishing is the area of Rush that consistently gets the most questions and confusion.  But in

[2018-10-25 18:10] pgonzal commented on #904
@Sushisource @light24bulbs @fearthecowboy @scsewall @jbcpollak @kenotron

[2018-10-25 18:29] Sushisource commented on #900
@pgonzal Thanks for the reply. Sorry I did a bit of a drive-by "what's going on?" dump.

Making things more clear in rush 6 sounds awesome, but it'd be fantastic to have just some additional documentation in 5 before the improvements are rolled out. Even just a rundown of "here's what the flow looks like if you want to auto-publish from CI every time code is merged into master" would be super help

[2018-10-25 20:12] fearthecowboy commented on #904
My 2cents:

### Version synchronization
While `rush check` ensures that you're not doing something stupid, it lacks an automated way to fix all that (along with fixing references of packages in the monorepo)

I added a script (`rush sync-versions`) to handle crosschecking and updating the `package.json` files so that they are consistent

Would be nice if this was built in.

### Versioning
- I alre

[2018-10-26 14:51] #721 closed

[2018-10-26 16:46] ThomasMichon commented on #876
I've been thinking about this idea for a while, and I've thought about the general requirements one would want from a usage perspective.

These days, one opens a VS Code window into the root folder for a rush-enabled repo, and can use the integrated terminal to open the console. Ideally, you can `cd` around there and run `npm run ___` or `rush ___` and they should 'just work'.

Suppose you have tw

[2018-10-26 16:53] zkat commented on #886
hey, y'all! I'd love to help out here with any questions y'all have (though I've got pretty low availability lately). One thing to note: npm is [moving away from `request` entirely](https://github.com/npm/cli/pull/2) with the next release, so that one will at least be addressed.

I'll also note that I don't believe anything having issues with `npm@5` is worth fixing: we no longer support that vers

[2018-10-26 19:06] pgonzal commented on #886
That's fine.  The issues I called out at the top of this issue all affect the latest NPM.  If we can get the latest NPM working, that should be sufficient for most people's needs.

[2018-10-26 19:33] AlexJerabek opened #906 "[api-extractor] First-class support for per-field version/requirement set"
Customer often need to know the versions of particular classes, methods, and properties so they can target specific releases. While this information can be passed through the description field, it would be beneficial for downstream tooling to avoid parsing extra text.

This field could be an arbitrary string, allowing complex versioning information to be documented ([like behavior changes](https:/

[2018-10-26 19:55] pgonzal commented on #906
If you think your version labeling approach is general enough that it could be a standard feature of TSDoc, then you could open a TSDoc issue to propose that.  It's certainly a common need that we hear about a lot.  However the version filtering data may be somewhat application-dependent.  I suppose it could be established as a [discretionary tag](https://github.com/Microsoft/tsdoc/blob/ed56f3a162

[2018-10-26 19:59] AlexJerabek commented on #906
Thanks for the quick response @pgonzal. I'm going to sync up with the SDX crew and see what their specific needs are. I'll get back to you with my learnings and answers.

[2018-10-26 23:16] pgonzal opened #907 "[api-extractor] the dtsRollup does not correctly emit reexported types from an external package"
Suppose **index.ts** does this:

**api-extractor-test-02/src/index.ts**
[code]

The emitted rollup says "import" instead of "export" looks like this:

**api-extractor-test-02/dist/internal/api-extractor-test-02.d.ts**
[code]

Generally it's not a great software design to be reexporting aliased types from another package.  But API Extractor should support it.

[2018-10-26 23:16] pgonzal commented on #907
@patmill

[2018-10-26 23:51] pgonzal commented on #876
Let's start by designing the command-line experience.  Sounds like above you're proposing these new commands:

[code]

Some feedback:
- The overall user experience seems great to me.

- I'd want a way to name the global "bridges", so I can have two bridges active side-by-side

- I don't think **ts-command-line** today lets you specify "add" without being `--add` or maybe `--add <name>`.  Maybe we

[2018-10-26 23:52] pgonzal commented on #876
Regarding **common-versions.json**, @ThomasMichon and I chatted and we think there should be an `@rush-temp/` tarball representing each repo.  This would allow each repo's preferred versions to be maintained separately, while still performing a global install for everything.

[2018-10-29 07:05] sunilsurana opened #912 "Api support to process project taking json config file as argument"
Right now if someone wants to integrate api extractor using typescript, they have to read json config schema into config and create extractor object out of it and then invoke processProject api.

Enhancement : Provide an api to support processing project by taking config json file as an argument.

[2018-10-29 19:31] giltayar opened #913 "[rush] "incremental build" should work with custom commands"
I have tests in all my packages in my mono-repo, invoked the usual way: `npm test`. I wanted to include them as part of the rush build, but as a separate step, so I added a custom command:

[code]

Adding this made `rush test` work like a charm. Unfortunately, the same mechanism that enables `rush build` skip already built packages does not work for test, and does not skip already tested packages.

[2018-10-29 21:08] giltayar opened #915 "All `node_modules/.bin` point to the common .bin which precludes different packages with different bin versions"
If I have package `a` with mocha v4, and package `b` with mocha v5, then both package `a` and `b` will have a `node_modules/.bin`, but they both symlink to `common/temp/node_modules/.bin`, so the command `mocha` in an npm script will either point to mocha v4 or mocha v5.

I'm not sure why each package has to symlink to the common `node_modules/.bin` (or why there even needs to be such a common bin

[2018-10-30 20:20] ElizabethSamuel-MSFT opened #918 "[api-documenter] Configure sort order for enum members"
It would be great if we could sort the fields in an enum by their value (perhaps with a tag?). For example, we have a bit mask (https://docs.microsoft.com/javascript/api/outlook/office.mailboxenums.delegatepermissions?view=office-js) and it would be more usable if it were sorted by the numeric value instead of the names.

[2018-10-30 20:50] pgonzal commented on #918
This seems like a reasonable feature.  However, I wouldn't want it to be the default behavior, since in most cases it seems like alphabetical order would be more useful.

So the first question is how to tell API Extractor to sort the enums by value?

[2018-10-30 20:58] pgonzal commented on #915
Which package manager are you using?  For PNPM it seems like we link to the local **.bin** folder:

[PnpmLinkManager.ts](https://github.com/Microsoft/web-build-tools/blob/master/apps/rush-lib/src/logic/pnpm/PnpmLinkManager.ts#L214)
[code]